In [0]:
import pandas as pd
import numpy as np
import math
from math import cos, sin, pi

In [0]:
f = open('ebtrk_epac_2001_2018.txt', 'r')
f1 = f.readlines()
text = [line for line in f1]

In [0]:
content = []

for line in text:
  splitline = line.split(" ")
  splitline = [l for l in splitline if l != ""]
  content.append(splitline)

In [461]:
### Ideal number of columns should be 26. Get rows not equal to 26

counts = []
for each in content:
  counts.append(len(each))

number_list = np.array(counts)
frequencies = np.asarray(np.unique(number_list, return_counts=True)).T

print(frequencies)

[[  17    1]
 [  20   11]
 [  21    2]
 [  22   11]
 [  23  373]
 [  24  304]
 [  25  541]
 [  26 7080]]

In [0]:
### For 26
content26 = [c for c in content if len(c) == 26]
###### Ideal for comparison - Needs no formatting

### For 17
content17 = [c for c in content if len(c) == 17]
#### Just one entry. Can be safely removed

### For 20
content20 = [c for c in content if len(c) == 20]
### Solution - columns 13 & 14 should be split into 3 additional columns 
## each of three digits each

### For 21
content21 = [c for c in content if len(c) == 21]
### Column 13 split into 3 additonal columns
### Column 14 split into 2 additional
## Two entries. Can be safely discarded


### For 22
content22 = [c for c in content if len(c) == 22]
### Column 13 split into 1 additonal columns
### Column 16 split into 3 additional


### For 23
content23 = [c for c in content if len(c) == 23]
### Column 13 split into 3 additonal columns

### For 24
content24 = [c for c in content if len(c) == 24]
### Column 13 split into 3 additonal columns


### For 25
content25 = [c for c in content if len(c) == 25]
### Column 13 split into 3 additonal columns

In [0]:
def fixcontent25(row):

  if len(row[13]) > 3:
    if len(row[13]) == 4:
      row.insert(14, row[13][1:])
      row[14] = row[14][0]      

    if len(row[13]) == 5:
      row.insert(14, row[13][2:])
      row[14] = row[14][0:2] 

    if len(row[13]) == 6:
      row.insert(14, row[13][3:])
      row[14] = row[14][0:3] 

  if len(row[14]) > 3:
    if len(row[14]) == 4:
      row.insert(15, row[14][1:])
      row[14] = row[14][0]

    if len(row[14]) == 5:
      row.insert(15, row[14][2:])
      row[14] = row[14][0:2]


  if len(row[12]) > 3:
    if len(row[12]) == 4:
      row.insert(13, row[12][1:])
      row[12] = row[12][0]

    if len(row[12]) == 5:
      row.insert(13, row[12][2:])
      row[12] = row[12][0:2]

    if len(row[12]) == 6:
      row.insert(13, row[12][3:])
      row[12] = row[12][0:3]


for c in content25:
  fixcontent25(c)

In [0]:
## Function to fix content23

def fixcontent23(row):
  ranges = [[3, 6], [6, 9], [9, 12]]
  zip12 = zip([13, 14, 15], ranges)

  for zipped in zip12:
    row.insert(zipped[0], row[12][zipped[1][0]:zipped[1][1]])

  row[12] = row[12][0:3]


for c in content23:
  fixcontent23(c)

In [0]:
def fixcontent24(row):    

  if len(row[13]) > 3:

    if len(row[13]) == 8:
      row.insert(14, row[13][2:5])
      row.insert(15, row[13][5:8])
      row[13] = row[13][0:2]  

    if len(row[13]) == 6:
      row.insert(14, row[13][3:])
      row[13] = row[13][0:3]  


    if len(row[13]) == 5:
      row.insert(14, row[13][2:])
      row[13] = row[13][0:2]     


  if len(row[12]) > 3:

    if len(row[12]) == 9:
      row.insert(13, row[12][3:6])
      row.insert(14, row[12][6:9])
      row[12] = row[12][0:3]      

    if len(row[12]) == 8:
      row.insert(13, row[12][2:5])
      row.insert(14, row[12][5:8])
      row[12] = row[12][0:2]

    if len(row[12]) == 7:
      row.insert(13, row[12][3:6])
      row.insert(14, row[12][6:9])
      row[12] = row[12][0:1]     

    if len(row[12]) == 6:
      row.insert(13, row[12][3:])
      row[12] = row[12][0:3]     

    if len(row[12]) == 5:
      row.insert(13, row[12][2:])
      row[12] = row[12][0:2] 

    if len(row[14]) > 3:
      if len(row[14]) == 4:
        row.insert(15, row[14][1:])
        row[14] = row[14][0]


for c in content24:
  fixcontent24(c)

In [0]:
def fixcontent22(row):
  if len(row[19]) == 12:
    row.insert(20, row[19][3:6])
    row.insert(21, row[19][6:9])
    row.insert(22, row[19][9:12])

    row[19] = row[19][0:3]

  if len(row[16]) == 6:
    row.insert(17, row[16][3:6])

    row[16] = row[16][0:3]

  if len(row[15]) == 12:
    row.insert(16, row[19][3:6])
    row.insert(17, row[19][6:9])
    row.insert(18, row[19][9:12])

    row[15] = row[15][0:3]

  if len(row[14]) == 5:
    row.insert(15, row[14][2:5])

    row[14] = row[14][0:2]

  if len(row[12]) == 6:
    row.insert(13, row[12][3:6])

    row[12] = row[12][0:3]

  if len(row[13]) == 5:
    row.insert(14, row[13][2:5])

    row[13] = row[13][0:2]

  if len(row[12]) == 12:
    row.insert(13, row[12][3:6])
    row.insert(14, row[12][6:9])
    row.insert(15, row[12][9:12])

    row[12] = row[12][0:3]



for c in content22:
  fixcontent22(c)


  ## Fault

In [0]:
## Function to fix content20

def fixcontent20(row):

  fixindex = [12, 16]
  ranges = [[3, 6], [6, 9], [9, 12]]
  zip12 = zip([13, 14, 15], ranges)
  zip16 = zip([17, 18, 19], ranges)

  for index in fixindex:
    if index == 12:
      for zipped in zip12:
        row.insert(zipped[0], row[index][zipped[1][0]:zipped[1][1]])
    else:
      for zipped in zip16:
        row.insert(zipped[0], row[index][zipped[1][0]:zipped[1][1]])

    row[index] = row[index][0:3]


for c in content20:
  fixcontent20(c)

In [0]:

def fixcontent21(row):

  if len(row[16]) == 12:
    row.insert(17, row[16][3:6])
    row.insert(18, row[16][6:9])
    row.insert(19, row[16][9:12])

    row[16] = row[16][0:3]

  if len(row[16]) == 9:
    row.insert(17, row[16][3:6])
    row.insert(18, row[16][6:9])

    row[16] = row[16][0:3]  

  if len(row[12]) == 9:
    row.insert(13, row[12][3:6])
    row.insert(14, row[12][6:9])

    row[12] = row[12][0:3]  

  if len(row[14]) == 12:
    row.insert(15, row[14][3:6])
    row.insert(16, row[14][6:9])
    row.insert(17, row[14][9:12])

    row[14] = row[14][0:3]





for c in content21:
  fixcontent21(c)


  ### Fault

In [0]:
def fixcontent17(row):
  if len(row[14]) == 12:
    row.insert(15, row[14][3:6])
    row.insert(16, row[14][6:9])
    row.insert(17, row[14][9:12])

    row[14] = row[14][0:3]

  if len(row[13]) == 12:
    row.insert(14, row[13][3:6])
    row.insert(15, row[13][6:9])
    row.insert(16, row[13][9:12])

    row[13] = row[13][0:3]


  if len(row[12]) == 12:
    row.insert(13, row[12][3:6])
    row.insert(14, row[12][6:9])
    row.insert(15, row[12][9:12])

    row[12] = row[12][0:3]


for c in content17:
  fixcontent17(c)

In [0]:
def fixrest(row):

  if len(row[16]) == 12:
    row.insert(17, row[16][3:6])
    row.insert(18, row[16][6:9])
    row.insert(19, row[16][9:12])

    row[16] = row[16][0:3]

  if len(row[16]) == 9:
    row.insert(17, row[16][3:6])
    row.insert(18, row[16][6:9])
    row[16] = row[16][0:3] 

  if len(row[16]) == 6:
    row.insert(17, row[16][3:])
    row[16] = row[16][0:3]

  if len(row[13]) == 9:
    row.insert(14, row[13][3:6])
    row.insert(15, row[13][6:9])
    row[13] = row[13][0:3]   

  if len(row[12]) == 12:
    row.insert(13, row[12][3:6])
    row.insert(14, row[12][6:9])
    row.insert(15, row[12][9:12])

    row[12] = row[12][0:3]

cc = []
for c in content:
  if len(c) == 21 or len(c) == 23 or len(c) == 25 or len(c) == 24:
    cc.append(c)


for c in cc:
  fixrest(c)

In [471]:
### Check if all now equal to 26 columns
counts = []
for each in content:
  counts.append(len(each))

number_list = np.array(counts)
frequencies = np.asarray(np.unique(number_list, return_counts=True)).T

print(frequencies)

[[  26 8323]]

In [0]:
columns = ['StormID', 'storm_name', 'date_time', 'year', 'latitude', 
           'longitude', 'max_wind_speed', 'min_c_pressure', 'radius_max_wind_speed', 
           'eye_diameter', 'pressure_isobar','radius_isobar', 'radii34_NE', 'radii34_SE', 
           'radii34_SW', 'radii34_NW', 'radii50_NE', 'radii50_SE', 'radii50_SW', 'radii50_NW', 
           'radii_64NE', 'radii_64SE', 'radii_64SW', 'radii_64NW','storm_type', 'dis_landmass']

In [0]:
df = pd.DataFrame(data=content, columns=columns)

In [479]:
df.head()

  StormID storm_name date_time  ... radii_64NW storm_type dis_landmass
0  EP0101     ADOLPH    052518  ...          0          *       379.\n
1  EP0101     ADOLPH    052600  ...          0          *       373.\n
2  EP0101     ADOLPH    052606  ...          0          *       363.\n
3  EP0101     ADOLPH    052612  ...          0          *       360.\n
4  EP0101     ADOLPH    052618  ...          0          *       353.\n

[5 rows x 26 columns]