In [0]:
import pandas as pd
import numpy as np
import math
from math import cos, sin, pi

In [0]:
f = open('ebtrk_epac_2001_2018.txt', 'r')
f1 = f.readlines()
text = [line for line in f1]

In [0]:
content = []

for line in text:
  splitline = line.split(" ")
  splitline = [l for l in splitline if l != ""]
  content.append(splitline)

In [36]:
### Ideal number of columns should be 26. Get rows not equal to 26

counts = []
for each in content:
  counts.append(len(each))

number_list = np.array(counts)
frequencies = np.asarray(np.unique(number_list, return_counts=True)).T

print(frequencies)

[[  17    1]
 [  20   11]
 [  21    2]
 [  22   11]
 [  23  373]
 [  24  304]
 [  25  541]
 [  26 7080]]

In [0]:
### For 26
content26 = [c for c in content if len(c) == 26]
###### Ideal for comparison - Needs no formatting

### For 17
content17 = [c for c in content if len(c) == 17]
#### Just one entry. Can be safely removed

### For 20
content20 = [c for c in content if len(c) == 20]
### Solution - columns 14 & 15 should be split into 3 additional columns 
## each of three digits each


### For 21
content21 = [c for c in content if len(c) == 21]


### For 21
content21 = [c for c in content if len(c) == 21]
### Column 13 split into 3 additonal columns
### Column 14 split into 2 additional


### For 22
content22 = [c for c in content if len(c) == 22]
### Column 13 split into 1 additonal columns
### Column 16 split into 3 additional


### For 23
content23 = [c for c in content if len(c) == 23]
### Column 13 split into 3 additonal columns

### For 24
content24 = [c for c in content if len(c) == 24]
### Column 13 split into 3 additonal columns

In [0]:
### For 25
content25 = [c for c in content if len(c) == 25]
### Column 13 split into 3 additonal columns

In [50]:
content26[2000]

['EP0907',
 'FLOSSIE',
 '081518',
 '2007',
 '17.4',
 '158.0',
 '40',
 '1006',
 '15',
 '-99',
 '1012',
 '75',
 '50',
 '25',
 '25',
 '45',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '*',
 '291.\n']

In [80]:
content25[301]

['EP1214',
 'LOWELL',
 '081906',
 '2014',
 '17.1',
 '118.8',
 '45',
 '998',
 '80',
 '-99',
 '1008',
 '260',
 '70120',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '0',
 '*',
 '1090.\n']