In [0]:
import pandas as pd
import numpy as np
from collections import Iterable

In [0]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [0]:
!cd drive

In [0]:
!ls

drive  sample_data

In [0]:
tcedf = pd.read_csv('/content/drive/My Drive/TCE-DAT_historic-exposure_1950-2015.csv',skiprows = 6)
tcedf = tcedf[tcedf['year'] >= 1980]

In [0]:
emdatdf = pd.read_csv('/content/drive/My Drive/emdat_cleaned.csv')
emdatdf = emdatdf[emdatdf['Year'] >= 1980 ]

In [27]:
tcedf.shape, emdatdf.shape

((3118, 15), (2866, 44))

In [0]:
tcedf.head(10)

      year     IBTrACS_ID  TC_name  ...   64kn_assets 96kn_pop 96kn_assets
2217  1980  1980001S13173     PENI  ...  3.880521e+07      0.0         0.0
2218  1980  1980003S15137     PAUL  ...  7.926763e+09      0.0         0.0
2219  1980  1980033S12161  UNNAMED  ...  0.000000e+00      0.0         0.0
2220  1980  1980068S13068    LAURE  ...  5.297437e+09      0.0         0.0
2221  1980  1980069S12161     SINA  ...  0.000000e+00      0.0         0.0
2222  1980  1980069S12161     SINA  ...  2.215335e+09      0.0         0.0
2223  1980  1980073S09133    DORIS  ...  0.000000e+00      0.0         0.0
2224  1980  1980075S11072  UNNAMED  ...  0.000000e+00      0.0         0.0
2225  1980  1980076N06148  UNNAMED  ...  0.000000e+00      0.0         0.0
2226  1980  1980081S12170  UNNAMED  ...  0.000000e+00      0.0         0.0

[10 rows x 15 columns]

In [0]:
emdatdf.head(10)

     Unnamed: 0  Year  ...  Total damage ('000$)        CPI
447        2198  1980  ...              400000.0  32.233893
448        2201  1980  ...                   NaN  32.233893
449        2202  1980  ...                   NaN  32.233893
450        2203  1980  ...                   NaN  32.233893
451        2213  1980  ...                6966.0  32.233893
452        2214  1980  ...               40026.0  32.233893
453        2215  1980  ...                4605.0  32.233893
454        2216  1980  ...               13932.0  32.233893
455        2217  1980  ...                   NaN  32.233893
456        2218  1980  ...                1500.0  32.233893

[10 rows x 44 columns]

In [0]:
### emdat processing

In [0]:
### emdat Try dropping rows without storm names. 
emdat_noname_df = emdatdf.dropna(subset=['Event name'])

In [0]:
### Helper function - Flatten nested list
def flatten(lis):
     for item in lis:
         if isinstance(item, Iterable) and not isinstance(item, str):
             for x in flatten(item):
                 yield x
         else:        
             yield item

In [0]:
emdat_cols_drop = ['Latitude','Longitude','Magnitude (scale)',
                   'EU member','OFDA response', 'Appeal',
                  'Declaration', "Aid contribution ('000$)",
                  'Associated disater', 'Associated disater 2']

emdat_noname_df = emdat_noname_df.drop(columns=emdat_cols_drop)

## Some event names have year numbers. Strip this out.
emdat_noname_df['Event name'] = emdat_noname_df['Event name'].str.replace('\d+', '')

In [0]:
### Remove words like "Hurricane", "Cyclone" e.t.c from names column
import re

to_remove = ['Hurricane', 'Tropical', 'Cyclone','depression', 'storm', 'cylone',
             'Storm', r"\(.*\)", "'", '"', "Typhoon", 'CYCLONE', 'cyclone', 'Tropcal', 
             'TYphoon', 'Topical', 'Depression', 'Typhhon', 'Tyhoon', 'Cclone', 
             'TRopical', 'STROM', 'strom']


for each in to_remove:
  emdat_noname_df['Event name'] = emdat_noname_df['Event name'].str.replace(each, '')


'''
for each in to_remove:
  emdat_noname_df['Event name'] = emdat_noname_df['Event name'].apply(lambda x: x.replace(each, ''))
'''

"\nfor each in to_remove:\n  emdat_noname_df['Event name'] = emdat_noname_df['Event name'].apply(lambda x: x.replace(each, ''))\n"

In [0]:
split_terms = ["&", " AND ", "/", " ET ", ","]

for x in split_terms:
  emdat_noname_df['Event name'] = emdat_noname_df['Event name'].str.replace(x, ' & ')


## Indexes of entries with joined names
indexes = emdat_noname_df[emdat_noname_df['Event name'].str.contains("|".join(split_terms))].index


subset_emdat = emdat_noname_df.copy().loc[indexes]
subset_emdat['Event name'] = subset_emdat['Event name'].str.split('&')


cols = subset_emdat.columns.values
cols = [v for v in cols if v != 'Event name']



temp_emdat = []

for _, row in subset_emdat.iterrows():
  for d in row['Event name']:
    temp_emdat.append(flatten([list(row[cols]), d]))


ext_subset_emdat = pd.DataFrame(temp_emdat, columns=cols + ['Event name'])

In [0]:
## Entries with Multi-Event Names
emdat_noname_df.loc[emdat_noname_df[emdat_noname_df['Event name'].str.contains("|".join(split_terms))].index]

      Unnamed: 0  Year  ...  Total damage ('000$)         CPI
716         3519  1982  ...             250000.00   37.745822
791         3954  1985  ...              73000.00   42.074527
884         4735  1984  ...              92000.00   40.633804
893         4791  1985  ...             173000.00   42.074527
941         5202  1989  ...               5236.00   48.489365
1034        5952  1989  ...                   NaN   48.489365
1035        5953  1989  ...              15500.00   48.489365
1059        6195  1990  ...                   NaN   51.106795
1098        6415  1991  ...             278000.00   53.271157
1191        7055  1992  ...               3650.00   54.884642
1221        7356  1993  ...            1670000.00   56.504646
1259        7632  1994  ...              10000.00   57.977974
1264        7637  1994  ...             135400.00   57.977974
1383        8379  1996  ...                   NaN   61.351630
1494        9489  1998  ...                500.00   63.760455
1495        9490  1998  ...               1000.00   63.760455
1496        9491  1998  ...               1000.00   63.760455
1497        9492  1998  ...             150000.00   63.760455
1498        9493  1998  ...             500000.00   63.760455
1562        9961  1998  ...              93200.00   63.760455
1569       10034  1998  ...                100.00   63.760455
1578       10043  1998  ...                   NaN   63.760455
1594       10059  1998  ...              15000.00   63.760455
1595       10060  1998  ...                   NaN   63.760455
1638       10788  2000  ...               9000.00   67.355759
1645       10812  2000  ...               1000.00   67.355759
2208       16573  2007  ...             638000.00   81.101659
2296       17152  2007  ...                   NaN   81.101659
2303       17159  2007  ...                   NaN   81.101659
2307       17163  2007  ...                   NaN   81.101659
3141       22448  2017  ...             185000.00   95.878166
3144       22451  2017  ...                   NaN   95.878166
3145       22452  2017  ...                   NaN   95.878166
3147       22454  2017  ...            1000000.00   95.878166
3150       22457  2017  ...                   NaN   95.878166
3153       22460  2017  ...                174.92   95.878166
3154       22461  2017  ...                   NaN   95.878166
3158       22469  2017  ...               3400.00   95.878166
3165       22499  2017  ...                   NaN   95.878166
3166       22500  2017  ...                   NaN   95.878166
3175       22537  2017  ...                   NaN   95.878166
3189       22551  2017  ...              17200.00   95.878166
3206       22626  2017  ...              57000.00   95.878166
3207       22627  2017  ...              56000.00   95.878166
3208       22628  2017  ...                   NaN   95.878166
3213       22633  2017  ...                   NaN   95.878166
3215       22635  2017  ...                   NaN   95.878166
3269       23111  2017  ...            1000000.00   95.878166
3278       23129  2017  ...             250000.00   95.878166
3368       23594  2019  ...                   NaN  100.000000
3369       23595  2019  ...                   NaN  100.000000
3449       24133  2019  ...                   NaN  100.000000

[52 rows x 34 columns]

In [0]:
emdat_noname_df.loc[indexes]

      Unnamed: 0  Year  ...  Total damage ('000$)         CPI
716         3519  1982  ...             250000.00   37.745822
791         3954  1985  ...              73000.00   42.074527
884         4735  1984  ...              92000.00   40.633804
893         4791  1985  ...             173000.00   42.074527
941         5202  1989  ...               5236.00   48.489365
1034        5952  1989  ...                   NaN   48.489365
1035        5953  1989  ...              15500.00   48.489365
1059        6195  1990  ...                   NaN   51.106795
1098        6415  1991  ...             278000.00   53.271157
1191        7055  1992  ...               3650.00   54.884642
1221        7356  1993  ...            1670000.00   56.504646
1259        7632  1994  ...              10000.00   57.977974
1264        7637  1994  ...             135400.00   57.977974
1383        8379  1996  ...                   NaN   61.351630
1494        9489  1998  ...                500.00   63.760455
1495        9490  1998  ...               1000.00   63.760455
1496        9491  1998  ...               1000.00   63.760455
1497        9492  1998  ...             150000.00   63.760455
1498        9493  1998  ...             500000.00   63.760455
1562        9961  1998  ...              93200.00   63.760455
1569       10034  1998  ...                100.00   63.760455
1578       10043  1998  ...                   NaN   63.760455
1594       10059  1998  ...              15000.00   63.760455
1595       10060  1998  ...                   NaN   63.760455
1638       10788  2000  ...               9000.00   67.355759
1645       10812  2000  ...               1000.00   67.355759
2208       16573  2007  ...             638000.00   81.101659
2296       17152  2007  ...                   NaN   81.101659
2303       17159  2007  ...                   NaN   81.101659
2307       17163  2007  ...                   NaN   81.101659
3141       22448  2017  ...             185000.00   95.878166
3144       22451  2017  ...                   NaN   95.878166
3145       22452  2017  ...                   NaN   95.878166
3147       22454  2017  ...            1000000.00   95.878166
3150       22457  2017  ...                   NaN   95.878166
3153       22460  2017  ...                174.92   95.878166
3154       22461  2017  ...                   NaN   95.878166
3158       22469  2017  ...               3400.00   95.878166
3165       22499  2017  ...                   NaN   95.878166
3166       22500  2017  ...                   NaN   95.878166
3175       22537  2017  ...                   NaN   95.878166
3189       22551  2017  ...              17200.00   95.878166
3206       22626  2017  ...              57000.00   95.878166
3207       22627  2017  ...              56000.00   95.878166
3208       22628  2017  ...                   NaN   95.878166
3213       22633  2017  ...                   NaN   95.878166
3215       22635  2017  ...                   NaN   95.878166
3269       23111  2017  ...            1000000.00   95.878166
3278       23129  2017  ...             250000.00   95.878166
3368       23594  2019  ...                   NaN  100.000000
3369       23595  2019  ...                   NaN  100.000000
3449       24133  2019  ...                   NaN  100.000000

[52 rows x 34 columns]

In [0]:
emdat_noname_df.loc[~emdat_noname_df.index.isin(indexes)].shape

      Unnamed: 0  Year  ...  Total damage ('000$)         CPI
447         2198  1980  ...              400000.0   32.233893
451         2213  1980  ...                6966.0   32.233893
452         2214  1980  ...               40026.0   32.233893
453         2215  1980  ...                4605.0   32.233893
456         2218  1980  ...                1500.0   32.233893
...          ...   ...  ...                   ...         ...
3455       24139  2019  ...                   NaN  100.000000
3456       24140  2019  ...                   NaN  100.000000
3457       24141  2019  ...                   NaN  100.000000
3458       24142  2019  ...             1200000.0  100.000000
3462       24262  2020  ...                   NaN         NaN

[1705 rows x 34 columns]

In [0]:
emdat_noname_df.shape

(1757, 34)

In [0]:
emdat_noname_df.head(1)

           CPI Continent Country name  ...   Type  Unnamed: 0  Year
447  32.233893  Americas        Haiti  ...  Storm        2198  1980

[1 rows x 34 columns]

In [0]:
ext_subset_emdat.head(1)

   Unnamed: 0  Year  Seq  ... Total damage ('000$)        CPI Event name
0        3519  1982  147  ...             250000.0  37.745822   Benedic

[1 rows x 34 columns]

In [0]:
### Order of columns not the same. Enforce uniformity
emdat_noname_df = pd.concat([emdat_noname_df.loc[~emdat_noname_df.index.isin(indexes)], 
                             ext_subset_emdat[emdat_noname_df.columns.values]], sort=True)

In [0]:
emdat_noname_df['Event name'].unique()

array(['Allen', 'Amy', 'Dean', 'Enid', 'Joe', 'Wally', 'Daman', 'Arthur',
       'Alberto', 'Alleta', 'Orchid', 'Kim', 'Betty ', '', 'Hyacinthe',
       'Joe ', 'Ruth ', 'Phyllis', 'Thad', 'Agnes', 'St. Lidia', 'Cliff',
       'Freda', 'Gyan', 'Clara', 'Irma ', 'Lee ', 'Kelly', 'Damia',
       'Mamie', 'Nelson ', 'Bernie', 'Isaac', 'Dominic', 'Klaus',
       'Winifred', 'Beryl', 'Bess', 'Ellis', 'Judy', 'Cecil', 'Paul',
       'Frida', 'Faye', 'Nancy ', 'Ellen', 'Elinah', 'Oscar', 'Sarah',
       'Forest', 'Tico', 'Andy', 'Vera ', 'Ellen ', 'Orchid ', 'Ike',
       'Fran', 'Hortense', 'Kamisy', 'Domoina', 'Haja', 'June ', 'Agnes ',
       'Ike  and Maring', 'Warren ', ' Kate', 'Gavin', 'Tess', 'Kate',
       ' Irma', 'Pat', 'Brenda', 'Ditra', 'Dot ', 'Hal ', 'Tess ',
       'Peggy', 'Vera', 'Rajah', 'Wayne', 'Charlie', 'Danielle',
       'Honorinina', 'Peggy ', 'Wayne ', 'Dom ', 'Georgia ', 'Narge ',
       'Emily', 'Gerald', 'Ruth', 'Sally', 'Jan', 'Nina', 'Lynn',
       'Thelma', 'Vernon', 'Lynn ', 'Nina ', 'Cart ', 'Phillis ', 'Filao',
       'Iwa', 'Orama', 'Veena', 'Alicia', 'Herbert ', 'Hina', 'Elena',
       'Gloria', 'Juan', 'Namu', 'Abby', 'Raja', 'Maury', 'Uma', 'Anne',
       'B', 'Bill ', 'Kit', 'Joan', 'Gilbert', 'Ruby', 'Brian', 'Hugo',
       'Gina', 'Aivu', 'Orson', 'Hope', 'Gordon', 'Gustav', 'Joy', 'Ofa',
       'N°', 'Yancy', 'Tasha', 'Abe', 'Dot', 'Peni', 'Sina', 'Gorky ',
       'Fred', 'Debby', 'Bola', 'Susan ', 'Ruby ', 'Skip ', 'Keith',
       'Alibera', 'Firinga', 'Delilah', 'Gordon ', 'Dan ', 'Elsie ',
       'Angela ', 'Sarah ', 'Hunt ', 'Breda ', 'Gay', 'Allison',
       'Chantal', ' Jerry', 'Irving', 'Flo', 'Diana', 'Mike ', 'Becky',
       'Ira', 'Thelma ', 'Gladys', 'Cynthia', 'Zelda', 'Bella', 'Brendan',
       'Bob', 'Zeke', 'Polly', 'Andrew', 'Ted', 'Koryn', 'Fred ', 'Russ',
       'Tim', 'Caitlin', 'Kinna', 'Luke', 'Mireille ', 'Zeke ', 'Grace',
       'Gary', 'Iniki', 'Eli ', 'Joni', 'Omar', 'Gari ', 'Lester',
       'Omar ', 'Angela', 'Colleen', 'Axel', 'Kina', 'Robyn', 'Calvin',
       'Irwin', 'Lidia', 'Cindy', 'Bret', 'Koryn ', 'Flo ', 'Lola ',
       'Kyle', 'Nell ', 'Adel', 'Colina', 'Axel ', 'Doug', 'Tim ',
       'Teresa ', 'Harry', 'Nadya', 'Litanne', 'Owen ', 'Yunya ',
       'Sharon ', 'Caitlin ', 'Luke ', 'Oyang', 'Vanessa', 'Chuck',
       'Betsy', 'Wylie', 'Lola', 'Prema', 'Janis', 'Luis', 'Bobby',
       'Erin', 'Marylin', 'Kent', 'Opal', 'Marilyn', 'Felix', 'Henriette',
       'Ismael', 'Roxane', 'Willie', 'Kirk', 'Bonita', 'Greg', 'Olivia',
       'Herb', 'Cesar and Douglas', 'Lilli', 'Marcos', 'Marco', 'Elida',
       'Fausto', 'Daniella', 'Victor', 'Winnie', 'Zita', 'One Bravo ',
       ' B', 'Martin', 'Paka', 'Oliwa', 'Linda', 'Gretelle', 'Josie',
       'Olaf', 'Pauline', 'Rick', 'Sybil ', 'Zack ', 'Karing', 'Zack',
       'Kent ', 'Gloria and Frankie', 'Frankie ', 'Bining', 'Fritz',
       'Ivan', 'Justin', 'Andres', 'Danny', 'Georges', 'Mitch', 'Babs ',
       'Wendy', 'Lothar', 'Rona', 'York', 'Anatol', 'Lenny', 'Jose',
       'Vance', 'Floyd', 'Dan', 'Sam', ' Irene', 'Dani', 'Steve',
       'Charley', 'A', 'Rex', 'Vicky ', 'Zeb', 'Stella', 'Isis',
       'Vicky and Todd ', 'Zeb ', 'Faith ', 'Ron', 'Cora', 'Babs',
       'Bonnie', 'Frances', 'Bart', '-A', 'Oa', 'Davina', 'Frank',
       'Irene', 'Dennis', 'Connie', 'Tessi', 'Hudah', 'Maria', 'Biring',
       'Prapiroon ', 'Norman', 'Bilis', 'Prapiroon', 'Wukong', 'Kirogi',
       'Saomai', 'Kai-Tak ', 'Xangsane ', 'Bebinca ', 'Rumbia ', 'Kaemi',
       'Willy', 'Chebi', 'Durian and Utor', 'Toraji', 'Yutu', 'Paula',
       'Pabuk', 'Auring', 'Utor ', 'Leslie', 'Utor', 'Trami', 'Durian',
       'Usagi', 'Sose', 'Michelle', 'Iris', 'Fitow', 'Trina', ' Michelle',
       'Danas', 'Dalila', 'Juliette', 'Lorena', 'Rusa', 'Hary', 'Lili',
       'Mitag', 'Jeannet', 'Jeanett', 'Hagupit', 'Isidore', 'Chataan',
       'Pongsona', 'Halong', 'Cyprien', 'Kesiny', 'Julio', 'Kenna',
       'Lingling ', 'Kajiki ', 'Nari', 'Waka', 'Zoe', 'Dina', 'Halong ',
       'Rammasun ', 'Hygos', 'Nakri', 'Ami', 'Fabian', 'Hail', 'Odette',
       'Calvann', 'Isabel', 'Imbudo', 'Dujuan', 'Nepartak', 'Lupit',
       'Catarina', 'Cosme ', 'Heta', 'Maemi', 'Etau', 'Linfa ',
       'Soudelor ', 'Marty', 'Manou', 'Ignacio', 'Japhet', 'Koni', 'Bill',
       'Fari', 'Cela', 'Erica', 'Gilas ', 'Ineng', 'Kabayan', 'Beni',
       'Nida ', 'Ivy ', 'Tingting', 'Mindulle ', 'Dianmu ', 'Chanthu ',
       'Jeanne', 'Galifo', 'Elita', ' Wilma', 'Gamma', 'Megi ', 'Aere ',
       'Merbok ', 'Meari ', 'Haima', 'Tokage ', 'Muifa ', 'Chaba',
       'Ma-on ', 'Nock-ten ', 'Songda ', 'Rananim ', 'Nanmadol ',
       'Matsa ', 'Nabi ', 'Khanun ', 'Alpha', ' Dennis', 'Talim',
       'Longwang', 'Stan', 'Mawar', 'Damrey', 'Erwin', 'Beta', 'Haitang ',
       'Percy', 'Ernest', 'Roke ', 'Gaston', 'Katrina', 'Vicente', 'Rita',
       'Kai Tak ', 'Chanchu ', 'Shanshan ', 'John', 'Lane', 'Glenda',
       'Bondo', 'Clare', 'Larry', 'Jim', 'Ernesto', 'Mala', 'Boloetse',
       'Indhala', 'Gonu', 'Clovis', 'Kyrill', 'Jaya', 'Favio', 'Gamède',
       'Adrian', 'Cimaron ', 'Durian ', 'Queenie ', 'Henry', 'Noel',
       'Olga', 'George and Jacob', 'Sidr', 'Sepat', 'Krosa', ' Neoguri ',
       '   Fay', ' Dolly', 'Alma', ' Paloma', ' Ike', ' Gustav',
       '  Nuri ', ' Hanna', 'Johanna', 'Emma', ' Omar', ' Fengshen ',
       '  Fung-Wong ', '  Kammuri ', ' Gene', ' Hagupit ', ' Jangmi ',
       'Lorenzo', 'Chedeng and Dodong', 'Lekima', 'Mitag ', 'Hagibis ',
       'Hanna', 'Yemyin', 'Man-Yi', 'Fitow ', 'Nari ', 'Goring', 'Guba',
       'Kabayan ', ' Nargis', '  Kalmaegi', ' Sinlaku', ' Fame', ' Ivan',
       '  Maysak ', ' Rammasun ', ' Helen', ' Mekkhala', '  Noul',
       ' Reshmi', ' Jokwe', ' Morakot ', ' Aila', '  Dominic', ' Koppu',
       '  Goni', ' Bijli', ' Bill', ' Pepeng ', 'Xynthia', ' Ului',
       'Hilal', '  Higos ', ' Dante ', '  Maring', '  Nando', ' Ida',
       ' Jimena', '  Emong ', '  Feria ', '  Labuyo ', '  Mirinae ',
       '  Urduja', ' Mick', ' Etau', '  Ondoy ', 's Eric and Fanele',
       '  Izilda', 'Goni ', ' Melor', ' Phyan', '  Jade', '  Isang ',
       '   Hubert', ' Agatha', ' Oli', ' Chanthu', ' Laila', '  Alex',
       ' Tomas', ' Phet', ' Conson ', '  Ester ', ' Fanapi', '  Matthew',
       '  Nicole', ' Frank', ' Giri', ' Earl', ' Jal', ' Karl', ' Megi ',
       ' Meranti', ' Kompasu', ' Talas', '  Beatrix', ' Jova', ' Bebeng ',
       '  Dodong ', '  Meari ', '  Juaning ', ' Kabayan ', '  Washi ',
       '  Arlene', ' Quiel ', ' Ma-on', '  Yasi', ' Pedring ',
       '  Orphelia', ' Roke', '  Bingiza', '  Dora', ' Chedeng ',
       'Joachim', ' Nate', '  Haima ', '  Emily', ' Thane', 'Keila',
       ' Mina ', '  Ramon ', '  Irina', ' Funso', ' Giovanna', '  Dando',
       '  Hermine', ' Mindulle', '  Lee', '  Wilma', '  Vania',
       '  Gener ', ' Tembin', ' Sandy', '  Iggy', ' Nilam', ' Vicente',
       ' Damrey', '  Debby', ' Haikui', ' Kai-Tak', ' Son Tinh ',
       ' Isaac', ' Evan', ' Bolaven', ' Jelawat', ' Sanba', ' Dirk',
       ' Wipha', ' Xaver', '  Fitow', ' Phailin', 'Ex-  Oswald',
       '  Utor ', ' Trami ', '  Jebi', 'Helen', '  Man-Yi',
       'Winter  Alexa', ' Christian', '  Mahasen', ' Soulik', ' Rumbia',
       '  Ciramon', ' Usagi ', ' Wutip ', ' Haiyan ', '  Toraji', 'Ulla',
       '  Wukong ', ' Igme ', ' Lawin ', ' Carlotta', ' Karen',
       '  Marce ', ' Bopha', '  Fernand', ' Manuel ', ' Ingrid', ' A',
       '  Haruna', '  Auring', '  Nari ', ' Krosa ', '  Feleng',
       'Cleon and Dion', ' Barbara', '  Crising ', '  Agaton ',
       '  Basyang ', '  Lusi ', 'Hagibis', ' Kalmaegi ', ' Beisja', 'Ian',
       ' Henry ', ' Erika', ' Joaquin', ' Komen', ' Maysak', '  Kujira',
       ' Soudelor ', ' Lam ', ' Marcia', ' Olwyn', ' Chan-Home',
       '  Linfa ', ' Dujuan', ' Mujigae', ' Fred', ' Winston', 'Boris',
       ' Neoguri', ' Phanfone', ' Odile', '  Nakri', '  Trudy',
       '  Jangmi ', '  Dolly', ' Marie', ' Norbert', '  Sinlaku ',
       ' Hudhud', ' Halong', ' Vongfong', ' Ita', ' Iselle', ' Nangka',
       '  Chedza ', '  Amang ', ' Goni ', ' Koppu ', ' Melor ', 'Huda',
       ' Octavia', ' Desmond ', '  Etau', ' Pam', ' Patricia', ' Megh',
       'Joaquin', ' Noul ', '  Fundi', '  Raquel', ' Chapala', ' Roanu',
       ' Jonas ', ' Ulla', 'Debbie', ' Mora', 'Friederike ', ' Chaba ',
       '  Otto', '  Earl', ' Megi', '  Mindulle', ' Matthew', ' Butchoy ',
       ' Ferdie ', '  Zena', ' Vardah', ' Lionrock', ' Malakas',
       ' Newton', ' Helen ', ' Karen ', '  Dianmu', ' Nina ', ' Maria',
       ' Talim', ' Ockhi', 'Beatriz', ' Franklin', ' Cempaka', ' Katia',
       ' Doksuri', ' Hato', ' Enawo', '  Lidia', ' Dineo', 'Zeus',
       '  Talas', ' Noru', '  W ', 'Eleanor', ' Ava', '  Basyang  ',
       '  Berguitta', ' Gita', 'Agaton ', ' Vamco', ' Hermine', '  Aere',
       ' Mirinae', '  Ex-Dineo', ' Harvey', '  Donna', ' Adrian',
       '  Titli', '  Alberto', ' Maria ', ' Bebinca', '  Yagi',
       '  Rumbia', ' Sagar', ' Josie', ' Jebi', ' Trami', ' Son Tinh',
       '  Eliakim', '  Vicente', ' Mekunu', ' Luban', '  Ewiniar',
       '  Ampil ', ' Mangkut ', ' Michael', ' Beryl', '  Keni', ' Gaja',
       '  Phethai', ' Kong-Rey', ' Willa', ' Amelie', '  Lekima ',
       ' Belna', ' Norma', ' Idai', ' Kenneth', '  Hagibis', '  Lorena',
       ' Fani', '  Bulbul', '  Dorian', '  Lingling', '  Mitag',
       '  Sarai', ' Wutip', '  Tapah', ' Faxai', '  Narda', '  Penny',
       ' Tino', '  Son-tinh  and Josie', '  Usman', ' Yutu ', ' Florence',
       ' Leslie', '  Kalmaegi ', '  Phanfone ', '  Pawan', ' Matmo',
       '   Imelda', '  Podul', '  Pabuk', 'Benedic ', '  Electre ',
       '  Frida ', '  Justine', 'Eric ', '  Nigel ', '  Odette',
       'Domoina ', '  Imboa', 'Eric  ', '  Nigel', 'Kalafandji ',
       '  Firinga', 'Brian ', '  Angela ', '  Dan', 'Fili  ', '  Gina',
       'Ofelia   ', '  Percy', 'Val  ', '  Wasa', 'Zeke  ', '  Fred',
       'Arlene ', '  Beatriz', 'Daisy ', '  Geralda', 'Hollanda ',
       '  Ivy', 'Alma ', '  Boris', 'Cilly ', '  Desiree ', '  Fanny',
       '  Désirée et Fanny', 'Chip ', '  Elvis  ', '  Dawn', 'Madeline  ',
       '  Lester', 'Faith  ', '  Gil', 'Yali ', '  Zuman', 'Eline ',
       '  Gloria', 'Wipha ', ' Goring', '  ', '  Nate', ' Lan ', ' Paolo',
       '  Pakhar ', ' Jolina', ' Nesat  ', '  Haitang', ' Damrey  ',
       '  Ramil', 'Elsa ', '  Fabien'], dtype=object)

In [0]:
## Remove rows without event name
emdat_noname_df[emdat_noname_df['Event name'] != ""]

## Strip leading spaces .str.strip()
emdat_noname_df['Event name'] = emdat_noname_df['Event name'].apply(lambda x: x.strip())

In [0]:
### It appears some observations have name as simply "Hurricane" 
## and removing these leaves the name empty. This should be dropped.
mask = emdatdf['Event name'].str.contains(r'\b(?:{})\b'.format('|'.join(to_remove)))
mask = mask.replace(np.nan, False)


## Convert names to uppercase
emdat_noname_df['Event name'] = emdat_noname_df['Event name'].apply(lambda x: x.upper())

In [0]:
emdat_noname_df['Event name'].value_counts()

            30
IRMA        18
NATE        17
EMILY       15
MATTHEW     15
            ..
DANTE        1
MEKKHALA     1
BENI         1
STEVE        1
LORENZO      1
Name: Event name, Length: 736, dtype: int64

In [0]:
emdat_noname_df.shape

(1933, 34)

In [0]:
#### Ibtracs

In [0]:
ibtracdf = pd.read_csv('/content/drive/My Drive/IBTrACS-ALL-list-v04r00-lines-dbf.csv')
ibtracdf = ibtracdf[ibtracdf['year'] >= 1980]
tup_zipped = list(set(tuple(zip(ibtracdf.SID, ibtracdf.NAME))))

## Create a dictionary with ibtracs SID & storm name
SID_Namedict = {x:y for x, y in tup_zipped }

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (12,21,22,61,66,128,143,148) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [0]:
###Tce dat processing

In [0]:
tcedf_copy = tcedf.copy()

## Create column "name" using ibtracID
tcedf_copy['name'] = tcedf_copy['IBTrACS_ID'].apply(lambda x: SID_Namedict.get(str(x)))

## Drop rows without event name
tcedf_copy = tcedf_copy[tcedf_copy['name'] != "NOT_NAMED"]

# Drop rows with no names on both name & tc_name
tcedf_copy = tcedf_copy[(tcedf_copy['TC_name'] != "UNNAMED") & (tcedf_copy['name'].notna())]

In [0]:
tcedf_copy.head()

      year     IBTrACS_ID TC_name  ... 96kn_pop 96kn_assets   name
2217  1980  1980001S13173    PENI  ...      0.0         0.0   PENI
2218  1980  1980003S15137    PAUL  ...      0.0         0.0   PAUL
2220  1980  1980068S13068   LAURE  ...      0.0         0.0  LAURE
2221  1980  1980069S12161    SINA  ...      0.0         0.0   SINA
2222  1980  1980069S12161    SINA  ...      0.0         0.0   SINA

[5 rows x 16 columns]

In [0]:
## SINA appears twice. 1990 & 1980 We would
# need to merge on both name and year. 
tcedf_copy[tcedf_copy['TC_name'] == "SINA"]

      year     IBTrACS_ID TC_name  ...  96kn_pop  96kn_assets  name
2221  1980  1980069S12161    SINA  ...       0.0          0.0  SINA
2222  1980  1980069S12161    SINA  ...       0.0          0.0  SINA
3127  1990  1990327S07175    SINA  ...  225854.0  920679559.0  SINA

[3 rows x 16 columns]

In [0]:
## TC_NAME
tcedf_copy["TC_name"][tcedf_copy["TC_name"] == 'BELLY'] = "BETTY"
tcedf_copy["TC_name"][tcedf_copy["TC_name"] == 'BRENDA'] = "BRENDAN"




id_split = ['1980073S09133', '1987035S12160', '1988285N09318', '1989209N22130', 
            '1996282N11162', '1998036S13135', '2013130N04093']


for eachsplit in id_split:
  tcedf_copy['TC_name'][tcedf_copy['IBTrACS_ID'] == eachsplit] = tcedf_copy['name'].str.split(":").str[0]
  tcedf_copy['name'][tcedf_copy['IBTrACS_ID'] == eachsplit] = tcedf_copy['name'].str.split(":").str[1]

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]

In [0]:
## Columns to keep
tce_dat_columns = ['year', 'IBTrACS_ID', 'name', 'TC_name', 'countries_affected', 'ISO3', 'v_land_SI',
                   'v_land_kn', '34kn_pop', '34kn_assets', '64kn_pop', '64kn_assets', 
                   '96kn_pop', '96kn_assets']

tcedf_copy = tcedf_copy[tce_dat_columns]

In [0]:
## Entries where names don't match. This is 
# either due to typos or multiple naming

tcedf_copy[["IBTrACS_ID", "TC_name", "name"]][tcedf_copy['TC_name'] != tcedf_copy['name']]

         IBTrACS_ID       TC_name              name
2223  1980073S09133  DORIS-GLORIA            GLORIA
2778  1987035S12160           UMA              VELI
2789  1987140S08170        BLANCH         BLANCH(E)
2901  1988285N09318          JOAN            MIRIAM
2902  1988285N09318          JOAN            MIRIAM
2903  1988285N09318          JOAN            MIRIAM
2904  1988285N09318          JOAN            MIRIAM
2905  1988285N09318          JOAN            MIRIAM
2906  1988285N09318          JOAN            MIRIAM
2907  1988285N09318          JOAN            MIRIAM
2908  1988285N09318          JOAN            MIRIAM
2909  1988285N09318          JOAN            MIRIAM
2910  1988285N09318          JOAN            MIRIAM
2956  1989134N07138       BRENDAN            BRENDA
2957  1989134N07138       BRENDAN            BRENDA
2958  1989134N07138       BRENDAN            BRENDA
2983  1989209N22130      KEN-LOLA              LOLA
2984  1989209N22130      KEN-LOLA              LOLA
3692  1996282N11162          ABEL              BETH
3693  1996282N11162          ABEL              BETH
3803  1998036S13135         CINDY            VICTOR
4003  2000067S15189          MONA  HR19S(MONA):MONA
4272  2003259N13133          CHOI          CHOI-WAN
4378  2004288N09164          NOCK          NOCK-TEN
4379  2004288N09164          NOCK          NOCK-TEN
5116  2013130N04093       MAHASEN            VIYARU
5117  2013130N04093       MAHASEN            VIYARU
5118  2013130N04093       MAHASEN            VIYARU

In [0]:
### Compare emdat & Tce dat

In [0]:
emdat_list = list(emdat_noname_df['Event name'])

tce_lists = [list(tcedf_copy['TC_name']), list(tcedf_copy['name'])]

for l in tce_lists:
  results = {}
  for i in emdat_list:
    results[i] = l.count(i) 

  count = 0
  for each in results:
    if results[each] != 0:
      count += 1

  print(count) ##478 & 476

495
493

In [0]:
emdatzip = { x:y for x, y in zip(emdat_noname_df['Event name'], emdat_noname_df['Year'])}
tcezip = { x:y for x, y in zip(tcedf_copy['TC_name'], tcedf_copy['year'])}

In [30]:
#### Rolf Merge Code

merged_df = emdat_noname_df.copy()

# merged_df = merged_df.assign()
columns_to_add = tcedf_copy.columns[3:]
for col in columns_to_add:
    merged_df[col] = None


for i, col in emdat_noname_df[emdat_noname_df['Year'] >= 1960].iterrows():
    year = col['Year']
    country_code = col['ISO']
    cyclone_name = col['Event name']
    tce = tcedf_copy.loc[tcedf_copy['ISO3'] == country_code]
    print(cyclone_name)
    if cyclone_name is None or cyclone_name != cyclone_name:
        print('no data')
        continue
    cyclone_name= cyclone_name.upper()
    if len(tce) < 1:
        print('no data')
        continue

    tce_by_year = tce.loc[tce['year'] == year]
    if len(tce_by_year) < 1:
        print('no data')
        continue

    print(i)
    tce_by_cyclone = tce.loc[tce['TC_name']== cyclone_name]
    if len(tce_by_cyclone) < 1:
        print('no data')
        continue

    new_row = col.append(tce_by_cyclone[columns_to_add].iloc[0])

    merged_df.loc[i] = new_row

merged_df.to_csv('merged.csv')

ALLEN
447
AMY
451
no data
DEAN
452
no data
ENID
453
no data
ALLEN
456
JOE
457
no data
ALLEN
458
ALLEN
459
ALLEN
460
WALLY
461
no data
ALLEN
462
JOE
463
no data
DAMAN
no data
ARTHUR
475
ALBERTO
476
ALLETA
no data
ALLEN
628
ALLEN
634
ORCHID
635
ORCHID
no data
ALLEN
638
ALLEN
639
JOE
640
no data
KIM
641
no data
BETTY
642

643
no data

644
no data

645
no data
HYACINTHE
no data
JOE
650
no data
RUTH
651
PHYLLIS
658
no data
THAD
659
AGNES
660
no data
ST. LIDIA
662
no data
CLIFF
663
FREDA
664
GYAN
665
no data
CLARA
667
IRMA
668
LEE
669
no data

670
no data

671
no data

672
no data
KELLY
no data
CLIFF
674
GYAN
675
no data
DAMIA
681
no data
ALLETA
no data
MAMIE
683
NELSON
684
BERNIE
685
ISAAC
no data
DOMINIC
687
KLAUS
695
WINIFRED
704
BERYL
707
BESS
711
ELLIS
712
JUDY
713
CECIL
no data
ELLIS
no data
PAUL
717
FRIDA
718
no data
FAYE
719

720
no data
NANCY
721

722
no data

723
no data

724
no data

725
no data
ELLEN
736
ELINAH
737
OSCAR
738
SARAH
739
no data
ELLEN
740
JOE
741
no data
FOREST
745
no data
TICO
747
ANDY
748
no data
VERA
749
ELLEN
750
ORCHID
751
IKE
761
no data
FREDA
762
FRAN
764
KLAUS
no data
HORTENSE
no data
HORTENSE
no data
KLAUS
no data
KAMISY
772
DOMOINA
774
HAJA
no data
JUNE
776
AGNES
777
IKE  AND MARING
778
no data
WARREN
779
KATE
790
GAVIN
792
TESS
794
KATE
no data
IRMA
797
PAT
798
no data
BRENDA
799
no data
DITRA
no data
DOT
801
no data
HAL
802
no data
TESS
803
PEGGY
811
VERA
813
RAJAH
814
no data
PEGGY
815
WAYNE
816
CHARLIE
819
no data
SARAH
820
VERA
no data
DANIELLE
822
HONORININA
823
PEGGY
824
WAYNE
825
DOM
826
no data
ELLEN
827
GEORGIA
828
NARGE
829
no data
EMILY
no data
EMILY
837
GERALD
839
RUTH
840
SALLY
no data
JAN
no data
EMILY
843
NINA
no data
LYNN
no data
KELLY
849
THELMA
850
VERNON
851
no data
EMILY
852
BETTY
853
LYNN
854
NINA
855
CART
856
no data
PHILLIS
857
no data
FILAO
860
IWA
865
NANCY
866
no data
ORAMA
no data
VEENA
no data
ELLEN
872
no data
ALICIA
873
HERBERT
874
GEORGIA
875
KAMISY
no data
DOMOINA
no data
AGNES
883
HINA
886
KATE
887
KATE
888
ELENA
889
GLORIA
890
JUAN
891
CECIL
892
NAMU
895
WAYNE
896
ABBY
897
WAYNE
898
RAJA
no data
LYNN
907
no data
EMILY
909
MAURY
910
UMA
911
ANNE
912
CHARLIE
913
no data
B
no data
BILL
916
KIT
917
no data
JOAN
918
JOAN
919
GILBERT
920
RUBY
no data
JOAN
922
GILBERT
923
B
no data
BRIAN
925
no data
BRENDA
926
no data
HUGO
931
GINA
no data
HUGO
933
AIVU
934
ORSON
935
DEAN
no data
HUGO
938
VERA
939
HOPE
940
HUGO
942
HUGO
943
HUGO
944
BRENDA
945
no data
GORDON
946
GUSTAV
959
no data
JOY
960
no data
OFA
no data
ARTHUR
no data
N°
963
no data
N°
964
no data
YANCY
965
TASHA
966
ABE
967
no data
DOT
968
PENI
no data
SINA
971
GUSTAV
972
no data
ARTHUR
973
ARTHUR
no data
B
no data
GORKY
no data
B
no data
AMY
982
no data
FRED
983
FRED
984
no data
GILBERT
no data
GILBERT
986
GILBERT
990
DEBBY
991
JOAN
992
BOLA
no data
JOAN
994
SUSAN
995
WARREN
996
RUBY
997
SKIP
998
TESS
999
KEITH
1000
JOAN
1001
BOLA
1004
SARAH
1005
CECIL
1006
SARAH
1009
HUGO
1010
JUDY
no data
ALIBERA
1012
HUGO
1013
HUGO
1014
FIRINGA
1015
DELILAH
1016
GORDON
1017
DAN
1018
no data
ELSIE
1019
ANGELA
1020
SARAH
1021
HUNT
1022
BREDA
1023
no data
HUGO
1024
FIRINGA
1026
GAY
1027
no data
HUGO
1028
ALLISON
1029
CHANTAL
1030
JERRY
1031
HUGO
1032
IRVING
1033
FLO
1053
no data
GUSTAV
1054
no data
DIANA
1055
GUSTAV
1056
no data
KLAUS
no data
OFA
no data
MIKE
1060
BECKY
1061
ABE
1062
no data
DOT
1063
no data
ARTHUR
no data
IRA
1065
no data
OFA
no data
OFA
no data
ARTHUR
1068
no data
OFA
no data
DOT
1071
no data
BECKY
1072
OFA
no data
THELMA
1076
GLADYS
1087
GLADYS
1088
CYNTHIA
1089
ZELDA
no data
BELLA
no data
BRENDAN
1092
RUTH
1093
FRED
1094
BOB
1095
BOB
1096
FRED
1097
ZEKE
1099
POLLY
1102
ANDREW
1106
TED
1107
no data
TASHA
1119
KORYN
1121
ABE
1122
no data
BECKY
1123
DOT
1124
IRA
1125
no data
FRED
1126

1133
no data

1137
no data
RUSS
1138
TIM
1139
no data
CAITLIN
1148
KINNA
1149
LUKE
1150
MIREILLE
1151
ZEKE
1152
AMY
1153
no data
CAITLIN
1154
no data
GRACE
1156
GARY
1158
INIKI
1160
ELI
1161
no data
JONI
1185
OMAR
no data
GARI
1187
no data
YANCY
1189
TED
no data
LESTER
1192
OMAR
1193
no data
ANGELA
1194
COLLEEN
1195
POLLY
1196
ANDREW
1198
AXEL
1199
no data
KINA
no data
KORYN
1209
TASHA
1210
DOT
1211
no data
IRA
1212
no data
YANCY
1215
ROBYN
1216
KORYN
no data
TASHA
no data
DOT
no data
CALVIN
1220
IRWIN
1222
LIDIA
1223
CINDY
no data
BRET
1225
KORYN
1228
FLO
1229
no data
LOLA
1230
KYLE
1231
NELL
1232
ADEL
1233
ROBYN
no data
COLINA
1235
NINA
1236
BRET
1237
NINA
no data
GORDON
1239
AMY
no data
AXEL
1241
no data
DOUG
1242
TIM
1245
no data
TERESA
1246
HARRY
no data
GORDON
1254
FRED
1255
ORCHID
1256
BRENDAN
1257
DEBBY
no data
NADYA
1260
no data
LITANNE
1261
NADYA
1263
no data
OWEN
1265
YUNYA
1266
SHARON
1267
CAITLIN
1268
no data
LUKE
1269
OYANG
1270
no data
VANESSA
1271
TIM
1272
no data
FRED
1275
GLADYS
1276
TIM
1277
no data
CAITLIN
1278
ZEKE
1281
CHUCK
1282
ANGELA
1283
BETSY
1284
FRAN
1285
no data
BRET
1286
EMILY
1300
WYLIE
1302
no data
KYLE
1303
LOLA
1304
PREMA
1305
GORDON
1306
ALBERTO
1313
LUKE
1314
OSCAR
1315
no data
JANIS
1319
FAYE
1320
LUIS
1327
LUIS
1328
BOBBY
1329
ERIN
1331
MARYLIN
1332
no data
LUIS
1333
KENT
1334
ALLISON
1335
OPAL
1336
no data
MARILYN
1337
LUIS
1338
LUIS
1339
ALLISON
no data
LUIS
1343
FELIX
1345
HENRIETTE
1346
ISMAEL
1347
OPAL
1348
ROXANE
1349
no data
LUIS
1350
MARILYN
1351
HORTENSE
1352
WILLIE
1353
KIRK
1354
no data

no data
B
no data
BONITA
1357
GREG
1358
OLIVIA
1361
HORTENSE
1364
GLORIA
1365
HERB
1366
SALLY
1367
CESAR AND DOUGLAS
no data
LILLI
1369
no data
LILLI
no data
LILLI
no data
LILLI
1372
no data
CESAR AND DOUGLAS
1373
no data
CESAR AND DOUGLAS
1374
no data
MARCOS
1375
no data
MARCOS
no data
LILLI
1379
no data
MARCO
no data
KIRK
1381
BONITA
1382
CESAR AND DOUGLAS
1384
no data
ELIDA
1385
no data
FAUSTO
1386
HORTENSE
no data
DANIELLA
1388
no data
VICTOR
1389
VICTOR
1390
WINNIE
1392
ZITA
1393
ZITA
no data
ONE BRAVO
no data
B
no data
MARTIN
no data
GAVIN
1405
PAKA
no data
WINNIE
1408
OLIWA
1409
LINDA
1410
GRETELLE
1411
JOSIE
1412
OLAF
1413
PAULINE
1414
RICK
1415
GRETELLE
no data
SYBIL
1417
no data
ZACK
1419
KARING
1420
no data
OPAL
1421
ERIN
1422
ZACK
1423
KENT
1428
ANGELA
1429
LUIS
1430
MARILYN
1431
MARILYN
1433
no data
MARILYN
no data
LUIS
1435
MARILYN
1436
HORTENSE
1437
GLORIA AND FRANKIE
1439
no data
FRAN
1440
CESAR AND DOUGLAS
1448
no data
MARCOS
1449
no data
GLORIA
1450
CESAR AND DOUGLAS
1451
no data
HERB
1452
GLORIA
1453
LUIS
no data
FRANKIE
1455
SALLY
1456
WILLIE
1457
BINING
1458
no data
FRITZ
1459
ZITA
1463
no data
WINNIE
1480
no data
IVAN
1481
JUSTIN
1482
WINNIE
no data
ANDRES
1484
LINDA
1485
HINA
1486
WINNIE
1487
no data
DANNY
1489
ZITA
1490
LINDA
1491
GEORGES
1499
B
no data
B
no data
MITCH
no data
BABS
1503
MITCH
no data
GEORGES
1505
GEORGES
1506
GEORGES
1507
MITCH
1508
MITCH
1509
GEORGES
1510
WENDY
1511
LOTHAR
no data
RONA
1514
no data
YORK
1515
LOTHAR
no data
LOTHAR
no data
LOTHAR
no data
ANATOL
no data
ANATOL
no data
MARTIN
no data
MARTIN
no data
LOTHAR
no data
ANATOL
no data
LENNY
1535
JOSE
1536
LENNY
1537
VANCE
1538
B
no data
FLOYD
1540
DAN
1541
no data
SAM
1542
no data
LENNY
no data
IRENE
1544
LENNY
1545
DANI
no data
LENNY
1547
LENNY
no data
YORK
1549
STEVE
1550
no data
MITCH
1552
CHARLEY
1560
GEORGES
1561
A
no data
REX
1572
no data
VICKY
1573
no data
ZEB
1574
no data
STELLA
1575
GEORGES
1576
ISIS
1577
MITCH
1579
MITCH
no data
VICKY AND TODD
1581
no data
ZEB
1582
no data
BABS
1583
FAITH
1584
GEORGES
1585
MITCH
no data
RON
1587
no data
CORA
1588
ZEB
1589
no data
BABS
1590
no data
BONNIE
1591
FRANCES
1592
GEORGES
1593
BART
1596
B
no data
-A
no data
FLOYD
1604
LOTHAR
no data
ANATOL
no data
ANATOL
no data
ANATOL
no data
ANATOL
no data
OA
no data
LENNY
1622
BART
1623
no data
LENNY
no data
GREG
1625
LENNY
1626
no data
DAVINA
1627
FRANK
1628
DAN
1629
no data
LENNY
1630
BRET
1633
IRENE
1634
DENNIS
1635
LENNY
no data
LENNY
1637
CONNIE
1646
TESSI
1647
SAM
1648
no data
B
no data
HUDAH
1654
MARIA
1656
BIRING
1657
no data
PRAPIROON
no data
NORMAN
1667
KEITH
1669
BILIS
1670
PRAPIROON
1671
WUKONG
1672
B
no data
KIROGI
1675
SAOMAI
1676
PRAPIROON
1677
no data
SAOMAI
1678
KEITH
1679
HUDAH
1680
KEITH
no data
KIROGI
1682
no data
KAI-TAK
1683
no data
XANGSANE
1684
BEBINCA
1685
RUMBIA
1686
SAOMAI
no data
KEITH
no data
KAEMI
no data
WILLY
no data
WILLY
no data
CHEBI
1703
DURIAN AND UTOR
1704
no data
TORAJI
1705
YUTU
1706
PAULA
no data
PABUK
1709
AURING
1710
no data
UTOR
1711
XANGSANE
1712
BILIS
1723
LESLIE
1724
no data
KAEMI
1725
WUKONG
1726
ALLISON
1728
CHEBI
1740
UTOR
1741
no data
TORAJI
1742
TRAMI
1743
DURIAN
1744
USAGI
1745
PAULA
1746
SOSE
1747
MICHELLE
1748
IRIS
1749
CHANTAL
1750
FITOW
1751
TRINA
no data
MICHELLE
1753
MICHELLE
no data
IRIS
1755
IRIS
1756
MICHELLE
1757
no data
MICHELLE
1758
no data
A
no data
MICHELLE
1761
no data
DANAS
1762
DALILA
1763
no data
JULIETTE
1764
IRIS
1765
LORENA
1766
CHANTAL
1767
RUSA
1768
HARY
1769
LILI
no data
LILI
1772
MITAG
no data
JEANNET
no data
JEANNET
no data
JEANNET
no data
JEANNET
no data
JEANETT
no data
JEANETT
no data
LILI
1790
HAGUPIT
1791
ISIDORE
1792
LILI
1793
LILI
no data
ISIDORE
no data
CHATAAN
no data
ISIDORE
no data
CHATAAN
no data
PONGSONA
no data
ISIDORE
1802
HALONG
1803
CHATAAN
1804
CYPRIEN
1805
KESINY
1806
ISIDORE
1807
JULIO
1808
KENNA
1809
LINGLING
1810
KAJIKI
1811
NARI
1812
MICHELLE
no data
WAKA
no data
LINGLING
1821
LILI
1823
ZOE
no data
JEANETT
no data
JEANNET
no data
DINA
1846
ISIDORE
no data
CHATAAN
1849
no data
HALONG
1850
RAMMASUN
1851
RUSA
no data
DINA
1853
HYGOS
1854
no data
ISIDORE
no data
NAKRI
1857
ISIDORE
1858
LILI
1859
PONGSONA
no data
AMI
no data
FABIAN
no data
HAIL
1867
no data
JUAN
1869
ODETTE
1870
CALVANN
no data
CALVANN
no data
CALVANN
no data
ISABEL
1879
IMBUDO
1880
no data
DUJUAN
1881
NEPARTAK
1882
LUPIT
no data
CATARINA
no data
COSME
no data
HETA
no data
MAEMI
1894
ETAU
1896
LINFA
1897
SOUDELOR
1898
MARTY
1900
GINA
1901
no data
DUJUAN
1902
MAEMI
1904
MANOU
1905
IGNACIO
1906
JAPHET
1907
ETAU
no data
DUJUAN
1909
KONI
1910
JAPHET
1911
IMBUDO
1912
no data
ODETTE
no data
ISABEL
1914
BILL
1915
IMBUDO
1927
no data
FARI
1930
CELA
1931
ERICA
1932
GILAS
1933
no data
INENG
1934
no data
KABAYAN
1935
no data
BENI
1936
NIDA
1939
IVY
no data
TINGTING
no data
MINDULLE
1942
DIANMU
1944
CHANTHU
1945
HETA
no data
JEANNE
1950
GALIFO
1953
no data
DIANMU
no data
ELITA
1958
MINDULLE
1959
IVAN
1960
HETA
no data
HETA
no data
CHANTHU
1969
TINGTING
no data
FRANCES
1971
IVAN
1972
no data
OLAF
1978
WILMA
1980
WILMA
no data
GAMMA
no data
JEANNE
1984
MEGI
no data
AERE
1986
MERBOK
1987
WINNIE
1988
no data
MEARI
1989
HAIMA
1990
no data
TOKAGE
1991
AERE
1992
IVAN
1993
IVAN
1994
JEANNE
1995
MUIFA
1996
IVAN
1997
no data
JEANNE
1998
AERE
2000
CHARLEY
no data
CHARLEY
2002
CHABA
2003
MA-ON
2004
NOCK-TEN
2005
no data
SONGDA
2006
SONGDA
2007
no data
RANANIM
2009
CHARLEY
2010
IVAN
no data
FRANCES
2012
no data
IVAN
2013
no data
IVAN
2014
CHABA
no data
MEGI
2016
no data
AERE
2017
SONGDA
no data
IVAN
no data
NANMADOL
2020
FRANCES
2021
no data
FRANCES
2022
IVAN
2023
NANMADOL
2024
MATSA
2025
NABI
2026
KHANUN
2027
WILMA
2028
ALPHA
2029
GAMMA
2030
no data
ALPHA
2031
WILMA
2032
no data
DENNIS
2033
TALIM
2034
LONGWANG
2035
DENNIS
2036
STAN
2037
no data
MAWAR
2038
DAMREY
2039
DENNIS
2040
MATSA
2041
STAN
2042
no data
STAN
2043
no data
EMILY
2044
DAMREY
no data
ERWIN
no data
ERWIN
no data
DAMREY
2050
BETA
2051
STAN
2052
WILMA
2053
BETA
2054
HAITANG
2063
EMILY
2064
STAN
2065
no data
WILMA
2066
no data
BRET
2067
STAN
2068
no data
HAITANG
2069
ERWIN
no data
ERWIN
no data
ERWIN
no data
ERWIN
no data
ERWIN
no data
ERWIN
no data
ERWIN
no data
ERWIN
no data
ERWIN
no data
ERWIN
no data
PERCY
no data
BETA
no data
STAN
no data
WILMA
2087
EMILY
2088
MATSA
no data
NABI
no data
ERNEST
2092
EMILY
2093
ROKE
2094
PERCY
no data
TALIM
2097
LONGWANG
2098
MUIFA
2099
IVAN
2100
FRANCES
2102
GASTON
2103
CHARLEY
2104
JEANNE
2106
IVAN
2107
IVAN
2108
JEANNE
2109
DAMREY
2110
KATRINA
2111
WILMA
2112
VICENTE
2113
RITA
2116
DENNIS
2119
EMILY
2120
KAI TAK
2121
no data
OLAF
2122
CHANCHU
2123
KAEMI
2124
SHANSHAN
2125
JOHN
2126
LANE
2127
BILIS
2128
PRAPIROON
2129
GLENDA
2133
BONDO
2134
CLARE
2137
LARRY
2138
SAOMAI
2141
ALBERTO
2142
JIM
no data
ERNESTO
2144
PAUL
2146
MALA
2147
XANGSANE
2152
no data
BOLOETSE
2153
INDHALA
2154
no data
BECKY
no data
GONU
2156
CLIFF
no data
GONU
2159
CLOVIS
2160
KYRILL
no data
KYRILL
no data
KYRILL
no data
KYRILL
no data
KYRILL
no data
KYRILL
no data
KYRILL
no data
KYRILL
no data
KYRILL
no data
KYRILL
no data
JAYA
2176
FAVIO
no data
GAMÈDE
no data
ADRIAN
2179
CHANCHU
2180
BILIS
2181
no data
XANGSANE
2182
CIMARON
2183
BILIS
2184
no data
DURIAN
2185
QUEENIE
2186
no data
KAEMI
2191
no data
HENRY
2192
no data
ERNESTO
2197
DURIAN
2198
PRAPIROON
2202
UTOR
2203
BILIS
2204
KAEMI
2205
CHANCHU
2206
no data
XANGSANE
2207
NOEL
2209
OLGA
2210
DEAN
2211
FELIX
2212
no data
FELIX
2213
NOEL
2214
DEAN
2215
no data
GAMÈDE
no data
GEORGE AND JACOB
2220
no data
SIDR
2221
NOEL
2222
SEPAT
2223
KROSA
2224
DEAN
2225
DEAN
2226
DEAN
2227
NOEL
2228
OLGA
2229
KYRILL
no data
KYRILL
no data
KYRILL
no data
FAVIO
no data
DEAN
2238
DAMAN
no data
NEOGURI
2240
FAY
2241
no data
DOLLY
no data
ALMA
2245
PALOMA
no data
IKE
2247
GUSTAV
2248
no data
NURI
2250
HANNA
2251
JOHANNA
no data
JOHANNA
no data
EMMA
no data
EMMA
no data
OMAR
2256
GUSTAV
2257
no data
ARTHUR
no data
FENGSHEN
2259
no data
FUNG-WONG
2260
KAMMURI
2261
GUSTAV
2262
no data
GENE
2263
HAGUPIT
2264
GUSTAV
2265
no data
HANNA
2266
IKE
2267
PALOMA
2268
FAY
2269
EMMA
no data
EMMA
no data
IKE
2275
HAGUPIT
2276
JANGMI
2277
FAY
2278
GUSTAV
no data
KAMMURI
2280
NURI
2281
ALMA
2282
LORENZO
2283
DEAN
2284
FELIX
2285
CHEDENG AND DODONG
2286
no data
LEKIMA
2287
MITAG
2288
HAGIBIS
2289
HANNA
2290
no data
KROSA
2291
YEMYIN
no data
MAN-YI
2294
DEAN
2295
FITOW
2297
NARI
2298
DEAN
2299
DEAN
2300
FELIX
2301
SEPAT
2302
no data
GORING
2304
no data
GUBA
2305
OLGA
2306
no data
FELIX
no data
ERIN
2309
LEKIMA
2310
SIDR
2312
NOEL
2313
no data
HENRIETTE
2314
KABAYAN
2315
no data
SEPAT
2316
NARGIS
no data
DOLLY
2318
FENGSHEN
2319
no data
KALMAEGI
2320
KAMMURI
2321
no data
HAGUPIT
2322
HALONG
2326
SINLAKU
2327
GUSTAV
no data
DOLLY
2332
HAGUPIT
2333
EMMA
no data
FAME
2337
IVAN
2338
NARGIS
2339
FUNG-WONG
2340
KAMMURI
2341
no data
MAYSAK
2342
RAMMASUN
2343
HELEN
2344
GUSTAV
2345
no data
HANNA
2346
NARGIS
2347
KAMMURI
2348
no data
FUNG-WONG
2349
JANGMI
2350
FAY
2351
IKE
2352
MEKKHALA
2353
MAYSAK
2354
no data
NOUL
2355
RESHMI
2356
no data
EMMA
no data
EMMA
no data
FAY
no data
JOKWE
2368
JOKWE
2369
ALMA
2370
NEOGURI
2371
NURI
2372
IKE
2373
HAGUPIT
2374
no data
GUSTAV
2375
no data
HANNA
2376
MORAKOT
2379
AILA
2380
DOMINIC
2389
KOPPU
2390
GONI
2391
BIJLI
2399
AILA
no data
BILL
2401
PEPENG
2402
no data
XYNTHIA
no data
XYNTHIA
no data
ULUI
2407
HILAL
no data
HIGOS
2416
KLAUS
no data
AILA
2418
DANTE
2419
no data
MARING
2420
no data
NANDO
2421
no data
PEPENG
2422
no data
IDA
no data
MORAKOT
2424
JIMENA
2425
EMONG
2426
no data
MORAKOT
2427
FERIA
2430
no data
KLAUS
no data
LABUYO
2433
no data
MIRINAE
2434
URDUJA
2435
no data
MICK
2444
ETAU
2445
ONDOY
2446
no data
S ERIC AND FANELE
2447
no data
IZILDA
2448
IZILDA
no data
IDA
2450
ONDOY
2451
no data
GONI
2452
IDA
2453
ONDOY
2454
no data
MIRINAE
2455
MELOR
2456
BILL
2457
KLAUS
no data
KOPPU
2471
PHYAN
2472
no data
ONDOY
2473
no data
MIRINAE
2474
JADE
2475
IDA
2476
ISANG
2477
no data
PEPENG
2478
no data
HUBERT
2480
AGATHA
no data
OLI
no data
ULUI
2484
AGATHA
2485
CHANTHU
2486
LAILA
2488
ALEX
no data
XYNTHIA
no data
TOMAS
no data
ALEX
2494
PHET
2495
CONSON
2496
ESTER
2497
no data
XYNTHIA
no data
XYNTHIA
no data
XYNTHIA
no data
XYNTHIA
no data
XYNTHIA
no data
XYNTHIA
no data
CONSON
2508
PAT
no data
ALEX
2510
CHANTHU
no data
AGATHA
2512
no data
ALEX
2514
no data
PHET
2515
CONSON
2516
FANAPI
2518
MATTHEW
2519
NICOLE
2520
no data
TOMAS
2521
MATTHEW
2522
FRANK
2523
no data
GIRI
2524
TOMAS
2525
EARL
2530
MATTHEW
2531
TOMAS
2532
JAL
2533
KARL
2534
MATTHEW
2544
TOMAS
2545
MEGI
2546
MERANTI
2547
KOMPASU
2548
no data
MATTHEW
2549
MEGI
2550
TALAS
2552
BEATRIX
2553
no data
JOVA
2554
BEBENG
2555
no data
DODONG
2556
no data
MEARI
2557
no data
JUANING
2558
no data
KABAYAN
2559
no data
WASHI
2560
ARLENE
2561
no data
IRENE
2562
QUIEL
2563
no data
MA-ON
2566
YASI
2567
IRENE
2568
KABAYAN
2569
no data
PEDRING
2570
no data
ORPHELIA
no data
IRENE
2572
ROKE
2573
BINGIZA
2574
DORA
2575
CHEDENG
2576
no data
IRENE
2577
JOACHIM
no data
JOACHIM
no data
NATE
2581
IRENE
2592
DODONG
2593
no data
HAIMA
2594
EMILY
2595
DORA
2596
no data
EMILY
2597
THANE
no data
EMILY
no data
KEILA
2600
MINA
2601
no data
PEDRING
2602
no data
RAMON
2603
no data
HAIMA
2604
no data
YASI
no data
EMILY
2606
no data
IRINA
2607
IRINA
2610
no data
FUNSO
2611
no data
GIOVANNA
2612
FUNSO
2613
DANDO
2614
no data
FUNSO
no data
KOMPASU
no data
MATTHEW
no data
MEGI
2623
EARL
2624
FANAPI
2628
HERMINE
2629
MATTHEW
no data
TOMAS
2633
MINDULLE
2634
YASI
2636
KABAYAN
2641
no data
YASI
no data
JUANING
no data
IRENE
2644
LEE
2645
WILMA
2660
HAIMA
2661
VANIA
2662
GENER
2663
no data
TEMBIN
2664
SANDY
2666
IGGY
no data
NILAM
2669
DANDO
no data
VICENTE
2672
DAMREY
2673
SANDY
2674
DEBBY
2686
SANDY
2687
HAIKUI
2688
KAI-TAK
2689
no data
SON TINH
2690
no data
ISAAC
2691
ISAAC
2692
SANDY
2693
no data
EVAN
no data
ISAAC
2695
SANDY
2696
BOLAVEN
2697
JELAWAT
2698
SANBA
2699
BOLAVEN
2700
SANBA
2701
NILAM
2702
DIRK
no data
DIRK
no data
WIPHA
2707
XAVER
no data
FITOW
2709
PHAILIN
2710
DIRK
no data
XAVER
no data
EX-  OSWALD
2718
no data
UTOR
2719
TRAMI
2720
JEBI
2721
HELEN
2722
MAN-YI
2723
WINTER  ALEXA
no data
XAVER
no data
DIRK
no data
DIRK
no data
CHRISTIAN
no data
CHRISTIAN
no data
XAVER
no data
CHRISTIAN
no data
CHRISTIAN
no data
MAHASEN
2747
SOULIK
2748
RUMBIA
2749
CIRAMON
2750
no data
USAGI
2751
WUTIP
2752
HAIYAN
2753
MAHASEN
2754
TORAJI
2755
no data
FITOW
2756
MAHASEN
no data
ULLA
no data
HELEN
2764
no data
ULLA
no data
ULLA
no data
SANDY
2777
VICENTE
2778
SON TINH
2780
no data
WUKONG
2781
GENER
2782
no data
KAI-TAK
2783
GENER
2785
no data
IGME
2786
no data
LAWIN
2787
no data
BOLAVEN
2788
ISAAC
2789
SON TINH
2790
no data
EVAN
2791
ERNESTO
2805
CARLOTTA
2806
KAI-TAK
2807
no data
KAREN
2808
no data
MARCE
2809
no data
BOPHA
2810
BOPHA
no data
ISAAC
no data
TEMBIN
2813
EVAN
no data
FERNAND
2815
MANUEL
2816
INGRID
2817
USAGI
2819
A
no data
WINTER  ALEXA
no data
XAVER
no data
HARUNA
2833
AURING
2834
no data
NARI
2835
KROSA
2836
FELENG
no data
HAIYAN
2838
CLEON AND DION
2843
no data
CHRISTIAN
no data
DIRK
no data
XAVER
no data
DIRK
no data
XAVER
no data
FELENG
2852
no data
BARBARA
2853
RUMBIA
2854
UTOR
2855
CRISING
2856
no data
HAIYAN
no data
SOULIK
2858
TRAMI
2859
USAGI
2860
JEBI
2861
WUTIP
2862
NARI
2863
HAIYAN
2864
AGATON
2867
no data
BASYANG
2868
no data
RAMMASUN
2869
LUSI
2876
HAGIBIS
2877
KALMAEGI
2878
ULLA
no data
HELEN
2895
no data
BEISJA
no data
IAN
2897
HENRY
2898
no data
FUNG-WONG
2899
ERIKA
no data
JOAQUIN
2907
KOMEN
2913
MAYSAK
2914
no data
KUJIRA
2915
SOUDELOR
2916
LAM
2924
MARCIA
2925
OLWYN
2926
no data
CHAN-HOME
2927
no data
LINFA
2928
DUJUAN
2929
MUJIGAE
2930
FRED
2931
ERIKA
no data
MAYSAK
no data
WINSTON
no data
HENRY
2936
no data
BORIS
no data
NEOGURI
2939
PHANFONE
2940
BORIS
2941
RAMMASUN
2942
RAMMASUN
2943
ODILE
2946
NAKRI
2948
TRUDY
2949
HAGUPIT
2950
KALMAEGI
2951
FUNG-WONG
2953
JANGMI
2955
DOLLY
2959
MARIE
2962
NORBERT
2963
SINLAKU
2964
HENRY
2965
no data
FUNG-WONG
2966
HUDHUD
2967
HALONG
2974
VONGFONG
2975
NAKRI
no data
ITA
2977
ISELLE
2978
KALMAEGI
2979
SINLAKU
2980
NANGKA
2982
CHEDZA
2983
AMANG
2984
no data
GONI
2985
KOPPU
2986
MELOR
2987
LINFA
2997
HUDA
no data
OCTAVIA
3003
no data
HUDA
no data
DESMOND
no data
DESMOND
no data
ERIKA
no data
CHAN-HOME
3015
no data
ETAU
3016
PAM
no data
PATRICIA
3018
PAM
3019
no data
MEGH
3020
SOUDELOR
3021
JOAQUIN
3022
no data
PAM
3023
MEGH
3024
PAM
no data
HUDA
no data
NOUL
3044
GONI
3045
DUJUAN
3046
FUNDI
3047
MAYSAK
3048
NOUL
3049
CHAN-HOME
3050
no data
SOUDELOR
3051
MUJIGAE
3052
PAM
no data
RAQUEL
3054
CHAPALA
3055
CHAN-HOME
3056
no data
DUJUAN
3057
KUJIRA
3058
CHAPALA
3059
SOUDELOR
no data
ROANU
no data
JONAS
no data
ULLA
no data
WINSTON
no data
DEBBIE
no data
IRMA
no data

In [31]:
merged_df.shape

(1819, 45)

In [32]:
merged_df.shape

(1819, 45)

In [33]:
merged_df[(merged_df['Total affected'].isna() & merged_df['34kn_pop'].isna())].shape

(294, 45)

In [34]:
merged_df[(merged_df['Total affected'].isna() & merged_df['34kn_pop'].isna())].shape

(294, 45)

In [35]:
### Print number of na values for affected columns

affected_list = ['Num affected',  'Num homeless', 'Num injured']

for l in affected_list:
  print(l, " ", merged_df[merged_df[l].isna()].shape)

print(merged_df[(merged_df[affected_list[0]].isna() & merged_df[affected_list[1]].isna() & merged_df[affected_list[2]].isna())].shape)

Num affected   (701, 45)
Num homeless   (1458, 45)
Num injured   (1221, 45)
(473, 45)

In [0]:
tcedf_copy.shape, emdat_noname_df.shape

((2501, 14), (1819, 34))

In [0]:
#####################
###################
##################
### New Merge Attempt
tcedf_copy.head(2)

      year     IBTrACS_ID  name  ...   64kn_assets 96kn_pop 96kn_assets
2217  1980  1980001S13173  PENI  ...  3.880521e+07      0.0         0.0
2218  1980  1980003S15137  PAUL  ...  7.926763e+09      0.0         0.0

[2 rows x 14 columns]

In [0]:
emdat_noname_df.head(2)

           CPI Continent Country name  ...   Type  Unnamed: 0  Year
447  32.233893  Americas        Haiti  ...  Storm        2198  1980
451  32.233893   Oceania    Australia  ...  Storm        2213  1980

[2 rows x 34 columns]

In [0]:
##Inner Join

merged_one = pd.merge(tcedf_copy, emdat_noname_df, left_on=['TC_name', 'year', 'ISO3'], right_on=['Event name', 'Year', 'ISO'])
merged_two = pd.merge(tcedf_copy, emdat_noname_df, left_on=['name', 'year', 'ISO3'], right_on=['Event name', 'Year', 'ISO'])
merged = pd.concat([merged_one, merged_two], sort=True).drop_duplicates()

In [0]:
merged_one.shape, merged_two.shape, merged.shape

((876, 48), (870, 48), (853, 48))

In [0]:
merged[merged['Total affected'].isna()].shape

(174, 48)

In [0]:
merged.to_csv("emdat_inner.csv")

In [0]:
merged[merged['Total affected'].isna()]

      34kn_assets    34kn_pop   64kn_assets  ...  v_land_SI  v_land_kn  year
1    1.365669e+10   2417472.0  4.917228e+08  ...       63.0      122.5  1980
2    5.925760e+08     72282.0  0.000000e+00  ...       24.6       47.9  1980
3    2.706381e+09    273762.0  0.000000e+00  ...       31.7       61.6  1980
4    1.909564e+08     56163.0  0.000000e+00  ...       22.6       44.0  1980
8    0.000000e+00    326247.0  0.000000e+00  ...       43.3       84.1  1980
..            ...         ...           ...  ...        ...        ...   ...
861  4.159030e+09    460550.0  1.743116e+08  ...       36.6       71.1  2015
862  1.926384e+10   3556488.0  0.000000e+00  ...       23.2       45.1  2015
863  6.974537e+11  32499157.0  1.886408e+11  ...       48.0       93.4  2015
864  1.038558e+10     84549.0  3.644826e+09  ...       61.4      119.4  2015
873  6.596252e+06    226629.0  1.131492e+06  ...       39.0       75.8  2015

[174 rows x 48 columns]

In [0]:
merged[merged['64kn_pop'].isna()].shape

(0, 48)

In [0]:
merged[(merged['Total affected'].isna() & merged['34kn_pop'].isna())].shape

(0, 48)

In [28]:
### Print number of na values for affected columns


for l in affected_list:
  print(l, " ", merged[merged[l].isna()].shape)

print(merged[(merged[affected_list[0]].isna() & merged[affected_list[1]].isna() & merged[affected_list[2]].isna())].shape)

Num affected   (291, 48)
Num homeless   (643, 48)
Num injured   (518, 48)
(174, 48)

In [0]:
### Outer Join

##Inner Join

merged_one_outer = pd.merge(tcedf_copy, emdat_noname_df, 
                      left_on=['TC_name', 'year', 'ISO3'], 
                      right_on=['Event name', 'Year', 'ISO'], 
                      how='outer')
merged_two_outer = pd.merge(tcedf_copy, emdat_noname_df, 
                      left_on=['name', 'year', 'ISO3'], 
                      right_on=['Event name', 'Year', 'ISO'], 
                      how='outer')
merged_outer = pd.concat([merged_one_outer, merged_two_outer], sort=True).drop_duplicates()

In [0]:
merged_outer.shape

(3493, 48)

In [0]:
merged_outer.head(2)

    34kn_assets  34kn_pop   64kn_assets  ...  v_land_SI  v_land_kn    year
0  1.777832e+09  451029.0  3.880521e+07  ...       43.5       84.5  1980.0
1  1.716966e+10  292780.0  7.926763e+09  ...       51.8      100.7  1980.0

[2 rows x 48 columns]

In [0]:
merged_outer[merged_outer['Total affected'].isna()].shape

(2135, 48)

In [0]:
merged_outer[(merged_outer['Total affected'].isna() & merged_outer['34kn_pop'].isna())].shape

(300, 48)

In [0]:
merged_outer.to_csv("emdat_outer.csv")

In [29]:


for l in affected_list:
  print(l, " ", merged_outer[merged_outer[l].isna()].shape)

print(merged_outer[(merged_outer[affected_list[0]].isna() & 
                    merged_outer[affected_list[1]].isna() & 
                    merged_outer[affected_list[2]].isna())].shape)

Num affected   (2365, 48)
Num homeless   (3129, 48)
Num injured   (2886, 48)
(2135, 48)