In [43]:
import numpy as np

import pandas as pd

In [44]:
# reading file
# use pd.read_csv to read csv
dataset  = pd.read_csv('OUTPUT_WBI_cyclones.csv', sep = ';', low_memory=False)

In [52]:
dataset.columns

Index(['ID', 'NAME', 'ISO', 'Year', 'COORDS', 'BASIN', 'SUBBASIN', 'NATURE',
       'ISO_TIME', 'TOTAL_HRS', 'DAY_HRS', 'NIGHT_HRS', 'USA_SSHS',
       'PRES_CALC_mean', 'STORM_SPD_mean', 'STORM_DR_mean', 'v_land_kn',
       '34kn_pop', '34kn_assets', '64kn_pop', '64kn_assets', '96kn_pop',
       '96kn_assets', 'Total damage ('000$)', 'CPI',
       'Air transport, freight (million ton-km)',
       'Arable land (hectares per person)', 'Cereal yield (kg per hectare)',
       'Food production index (2004-2006 = 100)', 'GDP growth (annual %)',
       'GDP per capita (constant 2010 US$)', 'Net flows from UN agencies US$',
       'Life expectancy at birth, total (years)',
       'Mobile cellular subscriptions (per 100 people)',
       'Population density (people per sq. km of land area)',
       'Adjusted savings: education expenditure (% of GNI)',
       'Rural population (% of total population)', 'Income_level_Final',
       'Total Affected'],
      dtype='object')

In [45]:
susan = pd.read_csv('population_by_cyclone_sm.csv')

In [53]:
susan.columns

Index(['Unnamed: 0', 'name', 'year', 'country', 'pop_max_34', 'pop_max_50',
       'pop_max_64', 'Country', 'Alpha-2 code', 'Alpha-3 code', 'Numeric'],
      dtype='object')

In [46]:
len(susan)

2824

In [47]:
iso = pd.read_csv('ISO-codes - Sheet1.csv')

In [48]:
susan = pd.merge(susan, iso, how='left', left_on = 'country', right_on = 'Country')

In [49]:
susan[susan['Alpha-3 code']!=susan['Alpha-3 code']][18:29]

Empty DataFrame
Columns: [Unnamed: 0, name, year, country, pop_max_34, pop_max_50, pop_max_64, Country, Alpha-2 code, Alpha-3 code, Numeric]
Index: []

In [50]:
len(susan)

2824

In [63]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1074 entries, 0 to 1073
Data columns (total 39 columns):
 #   Column                                               Non-Null Count  Dtype
---  ------                                               --------------  -----
 0   ID                                                   1074 non-null   int64
 1   NAME                                                 1073 non-null   object
 2   ISO                                                  1074 non-null   object
 3   Year                                                 1074 non-null   int64
 4   COORDS                                               1074 non-null   object
 5   BASIN                                                1074 non-null   object
 6   SUBBASIN                                             1074 non-null   object
 7   NATURE                                               1074 non-null   object
 8   ISO_TIME                                             1074 non-null   object
 9   TOTAL_HRS                                            1074 non-null   int64
 10  DAY_HRS                                              1074 non-null   int64
 11  NIGHT_HRS                                            1074 non-null   int64
 12  USA_SSHS                                             1074 non-null   int64
 13  PRES_CALC_mean                                       1069 non-null   float64
 14  STORM_SPD_mean                                       1074 non-null   float64
 15  STORM_DR_mean                                        1074 non-null   float64
 16  v_land_kn                                            1074 non-null   float64
 17  34kn_pop                                             821 non-null    float64
 18  34kn_assets                                          821 non-null    float64
 19  64kn_pop                                             821 non-null    float64
 20  64kn_assets                                          821 non-null    float64
 21  96kn_pop                                             821 non-null    float64
 22  96kn_assets                                          821 non-null    float64
 23  Total damage ('000$)                                 739 non-null    float64
 24  CPI                                                  1074 non-null   float64
 25  Air transport, freight (million ton-km)              896 non-null    float64
 26  Arable land (hectares per person)                    1073 non-null   float64
 27  Cereal yield (kg per hectare)                        1064 non-null   float64
 28  Food production index (2004-2006 = 100)              1070 non-null   float64
 29  GDP growth (annual %)                                1030 non-null   float64
 30  GDP per capita (constant 2010 US$)                   1065 non-null   float64
 31  Net flows from UN agencies US$                       1074 non-null   float64
 32  Life expectancy at birth, total (years)              1070 non-null   float64
 33  Mobile cellular subscriptions (per 100 people)       1063 non-null   float64
 34  Population density (people per sq. km of land area)  1074 non-null   float64
 35  Adjusted savings: education expenditure (% of GNI)   1064 non-null   float64
 36  Rural population (% of total population)             1074 non-null   float64
 37  Income_level_Final                                   1074 non-null   object
 38  Total Affected                                       1074 non-null   int64
dtypes: float64(24), int64(7), object(8)
memory usage: 327.4+ KB

In [62]:
susan.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2824 entries, 0 to 2823
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    2824 non-null   int64
 1   name          2824 non-null   object
 2   year          2824 non-null   int64
 3   country       2824 non-null   object
 4   pop_max_34    2824 non-null   float64
 5   pop_max_50    2824 non-null   float64
 6   pop_max_64    2824 non-null   float64
 7   Country       2810 non-null   object
 8   Alpha-2 code  2798 non-null   object
 9   Alpha-3 code  2810 non-null   object
 10  Numeric       2810 non-null   float64
 11  NAME          2824 non-null   object
 12  ISO           2824 non-null   int64
 13  Year          2810 non-null   object
dtypes: float64(4), int64(3), object(7)
memory usage: 330.9+ KB

In [56]:
susan[['NAME', 'ISO', 'Year']] =susan [['name', 'year', 'Alpha-3 code']]

In [64]:
dataset = pd.merge(dataset, susan, how= 'left', left_on=['NAME', 'ISO', 'Year'], right_on = ['name',  'Alpha-3 code', 'year',])

In [67]:
dataset.to_csv('OUTPUT_WBI_exposer_cyclones.csv')