In [1]:
import pandas as pd
import numpy as np

In [12]:
ibtracs_df = pd.read_csv('./ibtracs_cleaned.csv')
tcedat_df = pd.read_csv('./tcedat_cleaned.csv')
emdat_name_df = pd.read_csv('./emdat_names.csv')
emdat_df = pd.read_csv('./emdat_cleaned.csv')

In [13]:
emdat_name_df.drop(['Unnamed: 0', 'Unnamed: 0.1'],axis=1, inplace=True)

In [19]:
ibtracs_tcedat_outer = ibtracs_df.merge(tcedat_df, left_on=['YEAR_min', 'ISO', 'SID'], right_on = ['year', 'ISO3', 'IBTrACS_ID'], how='outer')

In [20]:
len(ibtracs_tcedat_outer)

10813

In [22]:
ibtracs_tcedat_outer_na = ibtracs_tcedat_outer[ibtracs_tcedat_outer['NAME'].notnull()]

In [23]:
len(ibtracs_tcedat_outer_na)

3617

In [24]:
len(emdat_name_df)

3463

In [31]:
emdat_name_dropped = emdat_name_df[emdat_name_df['Event name'].notnull()]

# 1. Merge

In [32]:
first_merge_df = ibtracs_tcedat_outer_na.merge(emdat_name_dropped, left_on=['YEAR_min', 'ISO', 'NAME'], right_on=['Year', 'ISO', 'Event name'])

In [33]:
len(first_merge_df)

708

In [34]:
first_merge_df

,SID,ISO,NAME,BASIN,SUBBASIN,NATURE,TRACK_TYPE,ISO_TIME,COORDS,TOTAL_HRS,...,End day,Total deaths,Num injured,Num affected,Num homeless,Total affected,Reconstruction cost ('000$),Insured losses ('000$),Total damage ('000$),CPI
0,1949163N07145,JPN,DELLA,WP,MM,ET,main,"['1949-06-20 15:00:00', '1949-06-20 18:00:00',...","[[31.99, 130.68], [33.52, 130.97], [41.0, 140....",12.0,...,NaN,419.0,NaN,194046.0,NaN,194046.0,NaN,NaN,NaN,9.327572
1,1949313N06137,PHL,RENA,WP,MM,TS,main,"['1949-11-11 09:00:00', '1949-11-11 15:00:00',...","[[9.49, 125.55], [9.99, 124.0], [10.3, 123.13]...",12.0,...,31.0,1000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.327572
2,1950241N23140,JPN,JANE,WP,MM,TS,main,"['1950-09-03 03:00:00', '1950-09-03 06:00:00',...","[[34.94, 135.48], [36.1, 136.09], [37.27, 136....",21.0,...,NaN,509.0,NaN,642117.0,NaN,642117.0,NaN,NaN,NaN,9.431937
3,1951119N06145,PHL,IRIS,WP,MM,TS,main,"['1951-05-04 21:00:00', '1951-05-05 00:00:00',...","[[11.99, 125.07], [12.12, 124.72], [13.73, 121...",6.0,...,24.0,156.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.175534
4,1951224N12316,JAM,CHARLIE,NaN,CS,TS,main,"['1951-08-18 03:00:00', '1951-08-18 06:00:00']","[[17.9, -76.9], [18.1, -77.8]]",3.0,...,18.0,154.0,200.0,20000.0,NaN,20200.0,NaN,NaN,56000.0,10.175534
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
703,2018315N13089,IND,GAJA,NI,AS,NR,PROVISIONAL,"['2018-11-15 21:00:00', '2018-11-16 00:00:00',...","[[10.5, 79.8], [10.4, 79.2], [10.21, 78.4], [1...",15.0,...,16.0,45.0,NaN,500000.0,NaN,500000.0,NaN,NaN,775000.0,98.219991
704,2018322N12110,VNM,TORAJI,WP,MM,NR,PROVISIONAL,"['2018-11-18 06:00:00', '2018-11-18 09:00:00',...","[[11.7, 109.2], [11.9, 108.52], [12.1, 107.7],...",12.0,...,18.0,19.0,28.0,10000.0,NaN,10028.0,NaN,NaN,17200.0,98.219991
705,2018349N10085,IND,PHETHAI,NI,BB,NR,PROVISIONAL,"['2018-12-17 09:00:00', '2018-12-17 12:00:00',...","[[17.15, 82.22], [18.0, 82.3], [18.28, 82.7]]",6.0,...,19.0,8.0,NaN,10000.0,NaN,10000.0,NaN,NaN,100000.0,98.219991
706,2018365N09113,THA,PABUK,NI,BB,NR,PROVISIONAL,"['2019-01-04 09:00:00', '2019-01-04 12:00:00',...","[[8.26, 100.12], [8.3, 99.6], [8.43, 99.21], [...",12.0,...,4.0,7.0,NaN,720885.0,NaN,720885.0,NaN,NaN,NaN,100.000000
707,2019113S10051,MOZ,KENNETH,SI,MM,NR,PROVISIONAL,"['2019-04-25 15:00:00', '2019-04-25 18:00:00',...","[[-12.23, 40.43], [-12.3, 40.1], [-12.41, 39.6...",18.0,...,25.0,45.0,94.0,400000.0,NaN,400094.0,NaN,NaN,230000.0,100.000000

In [38]:
emdat_df_names = emdat_df[emdat_df['Event name'].notnull()]

In [39]:
second_merge = ibtracs_tcedat_outer_na.merge(emdat_df_names, left_on=['YEAR_min', 'ISO', 'NAME'], right_on=['Year', 'ISO', 'Event name'])

In [40]:
len(second_merge)

984

In [41]:
first_merge_df.to_csv('ibtracs_tcedat_emdat_names_merge.csv', index=False)

In [42]:
len(first_merge_df)

708

# 2. Pandas Profiling

Suggested By Geethanjali Battula, Susanne Brockmann

Resource: https://pandas-profiling.github.io/pandas-profiling/docs/

In [43]:
from pandas_profiling import ProfileReport

In [44]:
first_merge_profile = ProfileReport(first_merge_df, title='Pandas Profiling Report Normal', html={'style':{'full_width':True}})

HBox(children=(FloatProgress(value=0.0, description='variables', max=92.0, style=ProgressStyle(description_wid…

HBox(children=(FloatProgress(value=0.0, description='correlations', max=6.0, style=ProgressStyle(description_w…

HBox(children=(FloatProgress(value=0.0, description='interactions [continuous]', max=2809.0, style=ProgressSty…

HBox(children=(FloatProgress(value=0.0, description='table', max=1.0, style=ProgressStyle(description_width='i…

HBox(children=(FloatProgress(value=0.0, description='missing', max=4.0, style=ProgressStyle(description_width=…

HBox(children=(FloatProgress(value=0.0, description='warnings', max=3.0, style=ProgressStyle(description_width…

HBox(children=(FloatProgress(value=0.0, description='package', max=1.0, style=ProgressStyle(description_width=…

HBox(children=(FloatProgress(value=0.0, description='build report structure', max=1.0, style=ProgressStyle(des…

In [45]:
second_merge_profile = ProfileReport(second_merge, title='Pandas Profiling Report Names', html={'style':{'full_width':True}})

HBox(children=(FloatProgress(value=0.0, description='variables', max=84.0, style=ProgressStyle(description_wid…

HBox(children=(FloatProgress(value=0.0, description='correlations', max=6.0, style=ProgressStyle(description_w…

HBox(children=(FloatProgress(value=0.0, description='interactions [continuous]', max=2601.0, style=ProgressSty…

HBox(children=(FloatProgress(value=0.0, description='table', max=1.0, style=ProgressStyle(description_width='i…

HBox(children=(FloatProgress(value=0.0, description='missing', max=4.0, style=ProgressStyle(description_width=…

HBox(children=(FloatProgress(value=0.0, description='warnings', max=3.0, style=ProgressStyle(description_width…

HBox(children=(FloatProgress(value=0.0, description='package', max=1.0, style=ProgressStyle(description_width=…

HBox(children=(FloatProgress(value=0.0, description='build report structure', max=1.0, style=ProgressStyle(des…

In [46]:
first_merge_profile.to_file(output_file='merge_names.html')

In [47]:
second_merge_profile.to_file(output_file='merge_cleaned.html')

In [48]:
minimal_first_profile = ProfileReport(first_merge_df, minimal=True)

HBox(children=(FloatProgress(value=0.0, description='variables', max=92.0, style=ProgressStyle(description_wid…

HBox(children=(FloatProgress(value=0.0, description='table', max=1.0, style=ProgressStyle(description_width='i…

HBox(children=(FloatProgress(value=0.0, description='warnings', max=3.0, style=ProgressStyle(description_width…

HBox(children=(FloatProgress(value=0.0, description='package', max=1.0, style=ProgressStyle(description_width=…

HBox(children=(FloatProgress(value=0.0, description='build report structure', max=1.0, style=ProgressStyle(des…

In [49]:
minimal_first_profile.to_file(output_file='minimal_merge_name.html')

In [50]:
minimal_second_profile = ProfileReport(second_merge,minimal=True)

HBox(children=(FloatProgress(value=0.0, description='variables', max=84.0, style=ProgressStyle(description_wid…

HBox(children=(FloatProgress(value=0.0, description='table', max=1.0, style=ProgressStyle(description_width='i…

HBox(children=(FloatProgress(value=0.0, description='warnings', max=3.0, style=ProgressStyle(description_width…

HBox(children=(FloatProgress(value=0.0, description='package', max=1.0, style=ProgressStyle(description_width=…

HBox(children=(FloatProgress(value=0.0, description='build report structure', max=1.0, style=ProgressStyle(des…

In [51]:
minimal_second_profile.to_file(output_file='minimal_merge_cleaned.html')