### creating table with extra column 'duration (days)'

In [1]:
import pandas as pd
from datetime import datetime

In [2]:
df = pd.read_csv('./datasets/emdat/Cyclones_1980_2020_cleaned.csv')

In [3]:
df.head

<bound method NDFrame.head of       Start Date    End Date         Country  ISO  \
0      1/10/1989   1/10/1989  American Samoa  ASM
1       1/5/2004    1/5/2004  American Samoa  ASM
2      2/16/2005   2/16/2005  American Samoa  ASM
3       1/2/1955    1/2/1955        Anguilla  AIA
4       9/4/1960    9/4/1960        Anguilla  AIA
...          ...         ...             ...  ...
2183   5/23/2018   5/23/2018           Yemen  YEM
2184  10/14/2018  10/15/2018           Yemen  YEM
2185    3/7/2003    3/7/2003        Zimbabwe  ZWE
2186   2/27/2007   2/27/2007        Zimbabwe  ZWE
2187   2/13/2017   2/17/2017        Zimbabwe  ZWE

                                               Location  Latitude  Longitude  \
0                                                   NaN       NaN        NaN
1                                        American Samoa       NaN        NaN
2                                         Manu'a island       NaN        NaN
3                                                   NaN       NaN        NaN
4                              South Hille and West End       NaN        NaN
...                                                 ...       ...        ...
2183                                       Socotra Isl.       NaN        NaN
2184                             Al Maharah governorate       NaN        NaN
2185  Manicaland, Masvingo, Matabeleland South provi...       NaN        NaN
2186  Vumba, Odzi, Marange areas (Mutare district, M...       NaN        NaN
2187  Chitungwiza (Harare), Makoni, Nyanga (Manicala...       NaN        NaN

      Magnitude value Magnitude scale Disaster type  Disaster subtype  \
0                 NaN             Kph         Storm  Tropical cyclone
1               310.0             Kph         Storm  Tropical cyclone
2                 NaN             Kph         Storm  Tropical cyclone
3                 NaN             Kph         Storm  Tropical cyclone
4                 NaN             Kph         Storm  Tropical cyclone
...               ...             ...           ...               ...
2183              NaN             Kph         Storm  Tropical cyclone
2184              NaN             Kph         Storm  Tropical cyclone
2185              NaN             Kph         Storm  Tropical cyclone
2186              NaN             Kph         Storm  Tropical cyclone
2187              NaN             Kph         Storm  Tropical cyclone

                Associated disaster Associated disaster2  Total deaths  \
0                                --                   --             0
1                                --                   --             0
2                                --                   --             0
3                                --                   --             0
4                                --                   --             5
...                             ...                  ...           ...
2183                          Flood                   --            24
2184                          Flood                   --            25
2185                           Rain                   --             8
2186                             --                   --             0
2187  Slide (land, mud, snow, rock)                Flood           251

      Total affected  Total damage ('000 US$)  Insured losses ('000 US$)  \
0                  0                   5000.0                        0.0
1              23060                 150000.0                        0.0
2                  0                      0.0                        0.0
3                  0                      0.0                        0.0
4               1250                  35000.0                        0.0
...              ...                      ...                        ...
2183             750                      0.0                        0.0
2184           15124                      0.0                        0.0
2185               0                      0.0                        0.0
2186               0                   1200.0                        0.0
2187          113023                 189000.0                        0.0

                       Disaster name Disaster No.
0                               Gina    1989-0561
1                               Heta    2004-0004
2                               Olaf    2005-0151
3                              Alice    1955-0025
4                              Donna    1960-0026
...                              ...          ...
2183                Cyclone 'Mekunu'    2018-0177
2184                 Cyclone 'Luban'    2018-0394
2185                          Japhet    2003-0114
2186                           Favio    2007-0080
2187  Tropical depression 'Ex-Dineo'    2017-0091

[2188 rows x 19 columns]>

In [4]:
date_format = '%m/%d/%Y'

In [5]:
duration = []

In [6]:
for i in range(df.shape[0]):
    try:
        start_date = datetime.strptime(df['Start Date'][i], date_format)
        end_date = datetime.strptime(df['End Date'][i], date_format)
        diff = end_date - start_date
        duration.append(str(diff.days + 1))
    except:
        duration.append(None)

In [7]:
df['Duration (days)'] = duration
df.head

<bound method NDFrame.head of       Start Date    End Date         Country  ISO  \
0      1/10/1989   1/10/1989  American Samoa  ASM
1       1/5/2004    1/5/2004  American Samoa  ASM
2      2/16/2005   2/16/2005  American Samoa  ASM
3       1/2/1955    1/2/1955        Anguilla  AIA
4       9/4/1960    9/4/1960        Anguilla  AIA
...          ...         ...             ...  ...
2183   5/23/2018   5/23/2018           Yemen  YEM
2184  10/14/2018  10/15/2018           Yemen  YEM
2185    3/7/2003    3/7/2003        Zimbabwe  ZWE
2186   2/27/2007   2/27/2007        Zimbabwe  ZWE
2187   2/13/2017   2/17/2017        Zimbabwe  ZWE

                                               Location  Latitude  Longitude  \
0                                                   NaN       NaN        NaN
1                                        American Samoa       NaN        NaN
2                                         Manu'a island       NaN        NaN
3                                                   NaN       NaN        NaN
4                              South Hille and West End       NaN        NaN
...                                                 ...       ...        ...
2183                                       Socotra Isl.       NaN        NaN
2184                             Al Maharah governorate       NaN        NaN
2185  Manicaland, Masvingo, Matabeleland South provi...       NaN        NaN
2186  Vumba, Odzi, Marange areas (Mutare district, M...       NaN        NaN
2187  Chitungwiza (Harare), Makoni, Nyanga (Manicala...       NaN        NaN

      Magnitude value Magnitude scale Disaster type  Disaster subtype  \
0                 NaN             Kph         Storm  Tropical cyclone
1               310.0             Kph         Storm  Tropical cyclone
2                 NaN             Kph         Storm  Tropical cyclone
3                 NaN             Kph         Storm  Tropical cyclone
4                 NaN             Kph         Storm  Tropical cyclone
...               ...             ...           ...               ...
2183              NaN             Kph         Storm  Tropical cyclone
2184              NaN             Kph         Storm  Tropical cyclone
2185              NaN             Kph         Storm  Tropical cyclone
2186              NaN             Kph         Storm  Tropical cyclone
2187              NaN             Kph         Storm  Tropical cyclone

                Associated disaster Associated disaster2  Total deaths  \
0                                --                   --             0
1                                --                   --             0
2                                --                   --             0
3                                --                   --             0
4                                --                   --             5
...                             ...                  ...           ...
2183                          Flood                   --            24
2184                          Flood                   --            25
2185                           Rain                   --             8
2186                             --                   --             0
2187  Slide (land, mud, snow, rock)                Flood           251

      Total affected  Total damage ('000 US$)  Insured losses ('000 US$)  \
0                  0                   5000.0                        0.0
1              23060                 150000.0                        0.0
2                  0                      0.0                        0.0
3                  0                      0.0                        0.0
4               1250                  35000.0                        0.0
...              ...                      ...                        ...
2183             750                      0.0                        0.0
2184           15124                      0.0                        0.0
2185               0                      0.0                        0.0
2186               0                   1200.0                        0.0
2187          113023                 189000.0                        0.0

                       Disaster name Disaster No. Duration (days)
0                               Gina    1989-0561               1
1                               Heta    2004-0004               1
2                               Olaf    2005-0151               1
3                              Alice    1955-0025               1
4                              Donna    1960-0026               1
...                              ...          ...             ...
2183                Cyclone 'Mekunu'    2018-0177               1
2184                 Cyclone 'Luban'    2018-0394               2
2185                          Japhet    2003-0114               1
2186                           Favio    2007-0080               1
2187  Tropical depression 'Ex-Dineo'    2017-0091               5

[2188 rows x 20 columns]>

In [8]:
df.to_csv('./datasets/emdat/Cyclones_1980_2020_dur.csv')