### creating table with extra column 'duration (days)'

In [29]:
import pandas as pd
from datetime import datetime

In [30]:
df = pd.read_csv('./datasets/emdat/Cyclones_1980_2020.csv')

In [31]:
date_format = '%d/%m/%Y'

In [32]:
duration = []

In [33]:
for i in range(df.shape[0]):
    try:
        start_date = datetime.strptime(df['Start date'][i], date_format)
        end_date = datetime.strptime(df['End date'][i], date_format)
        diff = end_date - start_date
        duration.append(str(diff.days + 1))
    except:
        duration.append(None)

In [34]:
df['Duration (days)'] = duration
df.head

<bound method NDFrame.head of       Start date    End date         Country  ISO  \
0     10/01/1989  10/01/1989  American Samoa  ASM
1     05/01/2004  05/01/2004  American Samoa  ASM
2     16/02/2005  16/02/2005  American Samoa  ASM
3     02/01/1955  02/01/1955        Anguilla  AIA
4     04/09/1960  04/09/1960        Anguilla  AIA
...          ...         ...             ...  ...
2288  23/05/2018  23/05/2018           Yemen  YEM
2289  14/10/2018  15/10/2018           Yemen  YEM
2290  07/03/2003  07/03/2003        Zimbabwe  ZWE
2291  27/02/2007  27/02/2007        Zimbabwe  ZWE
2292    /01/2017    /03/2017        Zimbabwe  ZWE

                                               Location  Latitude  Longitude  \
0                                                   NaN       NaN        NaN
1                                        American Samoa       NaN        NaN
2                                         Manu'a island       NaN        NaN
3                                                   NaN       NaN        NaN
4                              South Hille and West End       NaN        NaN
...                                                 ...       ...        ...
2288                                       Socotra Isl.       NaN        NaN
2289                             Al Maharah governorate       NaN        NaN
2290  Manicaland, Masvingo, Matabeleland South provi...       NaN        NaN
2291  Vumba, Odzi, Marange areas (Mutare district, M...       NaN        NaN
2292  Chitungwiza (Harare), Makoni, Nyanga (Manicala...       NaN        NaN

      Magnitude value Magnitude scale Disaster type  Disaster subtype  \
0                 NaN             Kph         Storm  Tropical cyclone
1               310.0             Kph         Storm  Tropical cyclone
2                 NaN             Kph         Storm  Tropical cyclone
3                 NaN             Kph         Storm  Tropical cyclone
4                 NaN             Kph         Storm  Tropical cyclone
...               ...             ...           ...               ...
2288              NaN             Kph         Storm  Tropical cyclone
2289              NaN             Kph         Storm  Tropical cyclone
2290              NaN             Kph         Storm  Tropical cyclone
2291              NaN             Kph         Storm  Tropical cyclone
2292              NaN             Kph         Storm  Tropical cyclone

                Associated disaster Associated disaster2  Total deaths  \
0                                --                   --             0
1                                --                   --             0
2                                --                   --             0
3                                --                   --             0
4                                --                   --             5
...                             ...                  ...           ...
2288                          Flood                   --            24
2289                          Flood                   --            25
2290                           Rain                   --             8
2291                             --                   --             0
2292  Slide (land, mud, snow, rock)                Flood           251

      Total affected  Total damage ('000 US$)  Insured losses ('000 US$)  \
0                  0                   5000.0                        0.0
1              23060                 150000.0                        0.0
2                  0                      0.0                        0.0
3                  0                      0.0                        0.0
4               1250                  35000.0                        0.0
...              ...                      ...                        ...
2288             750                      0.0                        0.0
2289           15124                      0.0                        0.0
2290               0                      0.0                        0.0
2291               0                   1200.0                        0.0
2292          113023                 189000.0                        0.0

                       Disaster name Disaster No. Duration (days)
0                               Gina    1989-0561               1
1                               Heta    2004-0004               1
2                               Olaf    2005-0151               1
3                              Alice    1955-0025               1
4                              Donna    1960-0026               1
...                              ...          ...             ...
2288                Cyclone 'Mekunu'    2018-0177               1
2289                 Cyclone 'Luban'    2018-0394               2
2290                          Japhet    2003-0114               1
2291                           Favio    2007-0080               1
2292  Tropical depression 'Ex-Dineo'    2017-0091            None

[2293 rows x 20 columns]>

In [35]:
df.to_csv('./datasets/emdat/Cyclones_1980_2020_dur.csv')