In [2]:
!pip install wikipedia
import pandas as pd
import numpy as np


import re
import wikipedia
from bs4 import BeautifulSoup
import urllib.request

Collecting wikipedia
  Downloading https://files.pythonhosted.org/packages/67/35/25e68fbc99e672127cc6fbb14b8ec1ba3dfef035bf1e4c90f78f24a80b7d/wikipedia-1.4.0.tar.gz
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.6/dist-packages (from wikipedia) (4.6.3)
Requirement already satisfied: requests<3.0.0,>=2.0.0 in /usr/local/lib/python3.6/dist-packages (from wikipedia) (2.21.0)
Requirement already satisfied: idna<2.9,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests<3.0.0,>=2.0.0->wikipedia) (2.8)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests<3.0.0,>=2.0.0->wikipedia) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests<3.0.0,>=2.0.0->wikipedia) (2019.11.28)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests<3.0.0,>=2.0.0->wikipedia) (3.0.4)
Building wheels for collected packages: wikipedia
  Building wheel for wikipedia (setup.py) ... done
  Created wheel for wikipedia: filename=wikipedia-1.4.0-cp36-none-any.whl size=11686 sha256=a1f3b6db8d51b44b443f27d70acfd80d1f9c9f99e906b8a571749b147848436a
  Stored in directory: /root/.cache/pip/wheels/87/2a/18/4e471fd96d12114d16fe4a446d00c3b38fb9efcb744bd31f4a
Successfully built wikipedia
Installing collected packages: wikipedia
Successfully installed wikipedia-1.4.0

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [6]:
% cd '/content/drive/My Drive/Colab Notebooks/Omdena'

/content/drive/My Drive/Colab Notebooks/Omdena

In [0]:
df = pd.read_csv("ibtracs_tcedat_emdat_inner_without_NaN_Name.csv")

In [167]:
df.shape

(984, 83)

In [168]:
df.columns

Index(['Unnamed: 0', 'SID', 'ISO', 'NAME', 'BASIN', 'SUBBASIN', 'NATURE',
       'TRACK_TYPE', 'ISO_TIME', 'COORDS', 'TOTAL_HRS', 'DAY_HRS', 'NIGHT_HRS',
       'USA_SSHS', 'YEAR_min', 'YEAR_max', 'WMO_WIND_min', 'WMO_WIND_max',
       'WMO_WIND_mean', 'WIND_CALC_min', 'WIND_CALC_max', 'WIND_CALC_mean',
       'WMO_PRES_min', 'WMO_PRES_max', 'WMO_PRES_mean', 'PRES_CALC_min',
       'PRES_CALC_max', 'PRES_CALC_mean', 'STORM_SPD_min', 'STORM_SPD_max',
       'STORM_SPD_mean', 'STORM_DR_min', 'STORM_DR_max', 'STORM_DR_mean',
       'year', 'IBTrACS_ID', 'TC_name', 'NatCatSERVICE_ID', 'genesis_basin',
       'countries_affected', 'ISO3', 'v_land_SI', 'v_land_kn', '34kn_pop',
       '34kn_assets', '64kn_pop', '64kn_assets', '96kn_pop', '96kn_assets',
       'ibtracs_name', 'merged_name', 'CPI', 'Continent', 'Country name',
       'End day', 'End month', 'End year', 'Entry criteria', 'Group',
       'Insured losses ('000$)', 'Local time', 'Location', 'Magnitude (value)',
       'Num affected', 'Num homeless', 'Num injured', 'Origin',
       'Reconstruction cost ('000$)', 'Region', 'River basin', 'Seq',
       'Start day', 'Start month', 'Start year', 'Subgroup', 'Subsubtype',
       'Subtype', 'Total affected', 'Total damage ('000$)', 'Total deaths',
       'Type', 'Unnamed: 0.1', 'multi-name'],
      dtype='object')

Columns to work with: 'Num affected', 'Num homeless', 'Num injured'

In [169]:
df['Num affected'].isnull().sum()

305

In [170]:
df['Num homeless'].isnull().sum()

757

In [171]:
df['Num injured'].isnull().sum()

582

In [0]:
new_df = pd.DataFrame(columns=df.columns)

In [0]:
cyclone_list = []
for index, row in df.iterrows():
    if pd.isnull(row['Num affected']) or pd.isnull(row['Num homeless']) or pd.isnull(row['Num injured']):
        a_series = pd.Series(row, index=df.columns)
        new_df = new_df.append(row, ignore_index=True)
        cyclone_list.append([row['NAME'], row['Start year']])

In [174]:
new_df

    Unnamed: 0            SID  ISO  ...   Type Unnamed: 0.1 multi-name
0            0  1949163N07145  JPN  ...  Storm          494        0.0
1            1  1949313N06137  PHL  ...  Storm         1401        0.0
2            2  1950241N23140  JPN  ...  Storm          512        0.0
3            3  1951119N06145  PHL  ...  Storm         1419        0.0
4            4  1951224N12316  JAM  ...  Storm          529        0.0
..         ...            ...  ...  ...    ...          ...        ...
882        979  2018315N13089  IND  ...  Storm        23301        0.0
883        980  2018322N12110  VNM  ...  Storm        23979        0.0
884        981  2018349N10085  IND  ...  Storm        23302        0.0
885        982  2018365N09113  THA  ...  Storm        24139        0.0
886        983  2019113S10051  MOZ  ...  Storm        23615        0.0

[887 rows x 83 columns]

In [175]:
df_homeless = pd.DataFrame(columns=df.columns)
list_of_homeless = []

for index, row in df.iterrows():
    if pd.isnull(row['Num homeless']):
        a_series = pd.Series(row, index=df.columns)
        df_homeless = df_homeless.append(row, ignore_index=True)
        list_of_homeless.append(row['NAME'])
        
df_homeless

    Unnamed: 0            SID  ISO  ...   Type Unnamed: 0.1 multi-name
0            0  1949163N07145  JPN  ...  Storm          494        0.0
1            1  1949313N06137  PHL  ...  Storm         1401        0.0
2            2  1950241N23140  JPN  ...  Storm          512        0.0
3            3  1951119N06145  PHL  ...  Storm         1419        0.0
4            4  1951224N12316  JAM  ...  Storm          529        0.0
..         ...            ...  ...  ...    ...          ...        ...
752        979  2018315N13089  IND  ...  Storm        23301        0.0
753        980  2018322N12110  VNM  ...  Storm        23979        0.0
754        981  2018349N10085  IND  ...  Storm        23302        0.0
755        982  2018365N09113  THA  ...  Storm        24139        0.0
756        983  2019113S10051  MOZ  ...  Storm        23615        0.0

[757 rows x 83 columns]

In [176]:
df_injured = pd.DataFrame(columns=df.columns)

for index, row in df.iterrows():
    if pd.isnull(row['Num injured']):
        a_series = pd.Series(row, index=df.columns)
        df_injured = df_injured.append(row, ignore_index=True)
        
df_injured

    Unnamed: 0            SID  ISO  ...   Type Unnamed: 0.1 multi-name
0            0  1949163N07145  JPN  ...  Storm          494        0.0
1            1  1949313N06137  PHL  ...  Storm         1401        0.0
2            2  1950241N23140  JPN  ...  Storm          512        0.0
3            3  1951119N06145  PHL  ...  Storm         1419        0.0
4            5  1951281N11147  JPN  ...  Storm          530        0.0
..         ...            ...  ...  ...    ...          ...        ...
577        976  2018280N18273  USA  ...  Storm        23958        0.0
578        977  2018293N15256  MEX  ...  Storm        23304        0.0
579        979  2018315N13089  IND  ...  Storm        23301        0.0
580        981  2018349N10085  IND  ...  Storm        23302        0.0
581        982  2018365N09113  THA  ...  Storm        24139        0.0

[582 rows x 83 columns]

In [177]:
df_affected = pd.DataFrame(columns=df.columns)

for index, row in df.iterrows():
    if pd.isnull(row['Num affected']):
        a_series = pd.Series(row, index=df.columns)
        df_affected = df_affected.append(row, ignore_index=True)
        
df_affected

    Unnamed: 0            SID  ISO  ...   Type Unnamed: 0.1 multi-name
0            1  1949313N06137  PHL  ...  Storm         1401        0.0
1            3  1951119N06145  PHL  ...  Storm         1419        0.0
2            5  1951281N11147  JPN  ...  Storm          530        0.0
3            6  1951321N09143  PHL  ...  Storm         1420        0.0
4            8  1952180N05144  PHL  ...  Storm         1435        0.0
..         ...            ...  ...  ...    ...          ...        ...
300        944  2017242N17253  MEX  ...  Storm        22546        0.0
301        962  2018142N09057  OMN  ...  Storm        23242        0.0
302        963  2018146N19273  USA  ...  Storm        23978        0.0
303        966  2018187N10319  DOM  ...  Storm        23298        0.0
304        970  2018225N21113  CHN  ...  Storm        23231        0.0

[305 rows x 83 columns]

In [0]:
list_of_cyclone = []
list_of_tropical_storm = []
list_of_typhoon = []
list_of_cyclone_with_year = []
list_of_tropical_storm_with_year = []
list_of_typhoon_with_year = []
list_of_hurricane = []
list_of_hurricane_with_year = []
original_cyclone_list = cyclone_list.copy()

In [0]:
for cyclone in cyclone_list:
  try:
    cyclone_name = cyclone[0].capitalize()
    url = "https://en.wikipedia.org/wiki/Cyclone_" + cyclone_name
    page = urllib.request.urlopen(url)
    list_of_cyclone.append(cyclone)
    cyclone_list.remove(cyclone)
  except:
    try:
      cyclone_name = cyclone[0].capitalize()
      url = "https://en.wikipedia.org/wiki/Tropical_Storm_" + cyclone_name
      page = urllib.request.urlopen(url)
      list_of_tropical_storm.append(cyclone)
      cyclone_list.remove(cyclone)
    except:
      try:
        cyclone_name = cyclone[0].capitalize()
        url = "https://en.wikipedia.org/wiki/Typhoon_" + cyclone_name
        page = urllib.request.urlopen(url)
        list_of_typhoon.append(cyclone)
        cyclone_list.remove(cyclone)
      except:
        try:
          cyclone_name = cyclone[0].capitalize()
          url = "https://en.wikipedia.org/wiki/Hurricane_" + cyclone_name
          page = urllib.request.urlopen(url)
          list_of_hurricane.append(cyclone)
          cyclone_list.remove(cyclone)
        except:
          try:
            cyclone_name = cyclone[0].capitalize()
            url = "https://en.wikipedia.org/wiki/Hurricane_" + cyclone_name + "_(" + str(cyclone[1]) + ")"
            page = urllib.request.urlopen(url)
            list_of_hurricane_with_year.append(cyclone)
            cyclone_list.remove(cyclone)
          except:
            try:
              cyclone_name = cyclone[0].capitalize()
              url = "https://en.wikipedia.org/wiki/Tropical_Storm_" + cyclone_name + "_(" + str(cyclone[1]) + ")"
              page = urllib.request.urlopen(url)
              list_of_tropical_storm_with_year.append(cyclone)
              cyclone_list.remove(cyclone)
            except:
              try:
                cyclone_name = cyclone[0].capitalize()
                url = "https://en.wikipedia.org/wiki/Typhoon_" + cyclone_name + "_(" + str(cyclone[1]) + ")"
                page = urllib.request.urlopen(url)
                list_of_typhoon_with_year.append(cyclone)
                cyclone_list.remove(cyclone)
              except:
                try:
                  cyclone_name = cyclone[0].capitalize()
                  url = "https://en.wikipedia.org/wiki/Cyclone_" + cyclone_name + "_(" + str(cyclone[1]) + ")"
                  page = urllib.request.urlopen(url)
                  list_of_cyclone_with_year.append(cyclone)
                  cyclone_list.remove(cyclone)
                except:
                  pass

In [200]:
len(cyclone_list)

33

In [162]:
len(list_of_cyclone), len(list_of_cyclone_with_year), len(list_of_hurricane), len(list_of_hurricane_with_year), len(list_of_tropical_storm), len(list_of_tropical_storm_with_year), len(list_of_typhoon), len(list_of_typhoon_with_year)

(178, 58, 43, 9, 296, 23, 176, 71)

In [163]:
cyclone_list

[['DELLA', 1949],
 ['BEATRICE', 1959],
 ['BEATRICE', 1959],
 ['COLLEEN', 1969],
 ['ELSIE', 1969],
 ['INES', 1975],
 ['TED', 1976],
 ['EMILIE', 1977],
 ['ANGELE', 1978],
 ['ANGELE', 1978],
 ['ANGELE', 1978],
 ['ANGELE', 1978],
 ['ENID', 1980],
 ['ELECTRE', 1982],
 ['FRIDA', 1982],
 ['JUSTINE', 1982],
 ['DOMINIC', 1982],
 ['ELLIS', 1982],
 ['GEORGIA', 1983],
 ['DOM', 1986],
 ['GEORGIA', 1986],
 ['AIVU', 1989],
 ['GARY', 1992],
 ['FLO', 1993],
 ['FRANKIE', 1996],
 ['FRITZ', 1997],
 ['DOMINIC', 2009],
 ['SON-TINH', 2012],
 ['SON-TINH', 2012],
 ['MAHASEN:VIYARU', 2013],
 ['ELIAKIM', 2018],
 ['SON-TINH', 2018],
 ['SON-TINH', 2018]]

In [123]:
'SON-TINH'.capitalize()

'Son-tinh'