# Took the World Bank Indicators per country data provided and took for Country ' India' alone for testing and then from the column 'Series Name' took rows related to 'GDP' 
# Took the  'Population pyramid per country' data and for Country 'India' 
# Merged both the datasets.

In [55]:
import pandas as pd 
ds = pd.read_csv('C:/Users/Desktop/Challenge/WBI/0_MERGED_World_Development_Indicators.csv', encoding='windows-1252')

In [56]:
print(ds.shape)

(310093, 64)

In [57]:
ds.head(10)

,Country Name,Country Code,Series Name,Series Code,1960 [YR1960],1961 [YR1961],1962 [YR1962],1963 [YR1963],1964 [YR1964],1965 [YR1965],...,2010 [YR2010],2011 [YR2011],2012 [YR2012],2013 [YR2013],2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019]
0,American Samoa,ASM,Access to clean fuels and technologies for coo...,EG.CFT.ACCS.ZS,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,..,..
1,American Samoa,ASM,Access to electricity (% of population),EG.ELC.ACCS.ZS,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,..,..
2,American Samoa,ASM,"Access to electricity, rural (% of rural popul...",EG.ELC.ACCS.RU.ZS,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,..,..
3,American Samoa,ASM,"Access to electricity, urban (% of urban popul...",EG.ELC.ACCS.UR.ZS,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,..,..
4,American Samoa,ASM,Account ownership at a financial institution o...,FX.OWN.TOTL.ZS,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,..,..
5,American Samoa,ASM,Account ownership at a financial institution o...,FX.OWN.TOTL.FE.ZS,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,..,..
6,American Samoa,ASM,Account ownership at a financial institution o...,FX.OWN.TOTL.MA.ZS,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,..,..
7,American Samoa,ASM,Account ownership at a financial institution o...,FX.OWN.TOTL.OL.ZS,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,..,..
8,American Samoa,ASM,Account ownership at a financial institution o...,FX.OWN.TOTL.40.ZS,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,..,..
9,American Samoa,ASM,Account ownership at a financial institution o...,FX.OWN.TOTL.PL.ZS,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,..,..

In [58]:
ds.columns

Index(['Country Name', 'Country Code', 'Series Name', 'Series Code',
       '1960 [YR1960]', '1961 [YR1961]', '1962 [YR1962]', '1963 [YR1963]',
       '1964 [YR1964]', '1965 [YR1965]', '1966 [YR1966]', '1967 [YR1967]',
       '1968 [YR1968]', '1969 [YR1969]', '1970 [YR1970]', '1971 [YR1971]',
       '1972 [YR1972]', '1973 [YR1973]', '1974 [YR1974]', '1975 [YR1975]',
       '1976 [YR1976]', '1977 [YR1977]', '1978 [YR1978]', '1979 [YR1979]',
       '1980 [YR1980]', '1981 [YR1981]', '1982 [YR1982]', '1983 [YR1983]',
       '1984 [YR1984]', '1985 [YR1985]', '1986 [YR1986]', '1987 [YR1987]',
       '1988 [YR1988]', '1989 [YR1989]', '1990 [YR1990]', '1991 [YR1991]',
       '1992 [YR1992]', '1993 [YR1993]', '1994 [YR1994]', '1995 [YR1995]',
       '1996 [YR1996]', '1997 [YR1997]', '1998 [YR1998]', '1999 [YR1999]',
       '2000 [YR2000]', '2001 [YR2001]', '2002 [YR2002]', '2003 [YR2003]',
       '2004 [YR2004]', '2005 [YR2005]', '2006 [YR2006]', '2007 [YR2007]',
       '2008 [YR2008]', '2009 [YR2009]', '2010 [YR2010]', '2011 [YR2011]',
       '2012 [YR2012]', '2013 [YR2013]', '2014 [YR2014]', '2015 [YR2015]',
       '2016 [YR2016]', '2017 [YR2017]', '2018 [YR2018]', '2019 [YR2019]'],
      dtype='object')

In [59]:
India_df1 = ds[ds['Country Name']=='India']

In [60]:
India_df1.head(40)

,Country Name,Country Code,Series Name,Series Code,1960 [YR1960],1961 [YR1961],1962 [YR1962],1963 [YR1963],1964 [YR1964],1965 [YR1965],...,2010 [YR2010],2011 [YR2011],2012 [YR2012],2013 [YR2013],2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019]
234356,India,IND,Access to clean fuels and technologies for coo...,EG.CFT.ACCS.ZS,..,..,..,..,..,..,...,34.4,35.42,36.64,37.81,38.8,39.88,41.04,..,..,..
234357,India,IND,Access to electricity (% of population),EG.ELC.ACCS.ZS,..,..,..,..,..,..,...,76.3,67.6,79.9,80.87475586,83.62010956,88,89.64585876,92.61865997,..,..
234358,India,IND,"Access to electricity, rural (% of rural popul...",EG.ELC.ACCS.RU.ZS,..,..,..,..,..,..,...,68.39299752,56.09592636,72.36274717,73.55278832,77.11640749,83.36654488,85.21428423,89.30655492,..,..
234359,India,IND,"Access to electricity, urban (% of urban popul...",EG.ELC.ACCS.UR.ZS,..,..,..,..,..,..,...,94,92.9,96.1,96.50080872,97.17295837,97.5,98.52790833,99.20680237,..,..
234360,India,IND,Account ownership at a financial institution o...,FX.OWN.TOTL.ZS,..,..,..,..,..,..,...,..,35.23183823,..,..,53.14155197,..,..,79.87532806,..,..
234361,India,IND,Account ownership at a financial institution o...,FX.OWN.TOTL.FE.ZS,..,..,..,..,..,..,...,..,26.4905014,..,..,43.13261032,..,..,76.63963318,..,..
234362,India,IND,Account ownership at a financial institution o...,FX.OWN.TOTL.MA.ZS,..,..,..,..,..,..,...,..,43.73707581,..,..,62.76336288,..,..,83.00899506,..,..
234363,India,IND,Account ownership at a financial institution o...,FX.OWN.TOTL.OL.ZS,..,..,..,..,..,..,...,..,38.02606201,..,..,56.81197739,..,..,83.08431244,..,..
234364,India,IND,Account ownership at a financial institution o...,FX.OWN.TOTL.40.ZS,..,..,..,..,..,..,...,..,26.97145081,..,..,43.61067581,..,..,77.08294678,..,..
234365,India,IND,Account ownership at a financial institution o...,FX.OWN.TOTL.PL.ZS,..,..,..,..,..,..,...,..,30.5149231,..,..,43.35340881,..,..,75.36954498,..,..
234366,India,IND,Account ownership at a financial institution o...,FX.OWN.TOTL.60.ZS,..,..,..,..,..,..,...,..,40.73001862,..,..,59.48402786,..,..,81.73542786,..,..
234367,India,IND,Account ownership at a financial institution o...,FX.OWN.TOTL.SO.ZS,..,..,..,..,..,..,...,..,59.46944427,..,..,64.23480225,..,..,84.94158173,..,..
234368,India,IND,Account ownership at a financial institution o...,FX.OWN.TOTL.YG.ZS,..,..,..,..,..,..,...,..,27.30086136,..,..,43.23389816,..,..,71.40015411,..,..
234369,India,IND,Adequacy of social insurance programs (% of to...,per_si_allsi.adq_pop_tot,..,..,..,..,..,..,...,..,4.54135833,..,..,..,..,..,..,..,..
234370,India,IND,Adequacy of social protection and labor progra...,per_allsp.adq_pop_tot,..,..,..,..,..,..,...,..,5.199320054,..,..,..,..,..,..,..,..
234371,India,IND,Adequacy of social safety net programs (% of t...,per_sa_allsa.adq_pop_tot,..,..,..,..,..,..,...,..,4.615840313,..,..,..,..,..,..,..,..
234372,India,IND,Adequacy of unemployment benefits and ALMP (% ...,per_lm_alllm.adq_pop_tot,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,..,..
234373,India,IND,"Adjusted net enrollment rate, primary (% of pr...",SE.PRM.TENR,..,..,..,..,..,..,...,96.12032,95.71761,96.98764,97.73768,..,..,..,..,..,..
234374,India,IND,"Adjusted net enrollment rate, primary, female ...",SE.PRM.TENR.FE,..,..,..,..,..,..,...,97.48202,97.42634,97.91645,98.56772,..,..,..,..,..,..
234375,India,IND,"Adjusted net enrollment rate, primary, male (%...",SE.PRM.TENR.MA,..,..,..,..,..,..,...,94.90825,94.19646,96.1601,96.99684,..,..,..,..,..,..
234376,India,IND,Adjusted net national income (annual % growth),NY.ADJ.NNTY.KD.ZG,..,..,..,..,..,..,...,10.57214424,4.999235888,6.125368194,5.72454801,6.991054566,8.816296268,7.570456273,5.13696452,..,..
234377,India,IND,Adjusted net national income (constant 2010 US$),NY.ADJ.NNTY.KD,..,..,..,..,..,..,...,1.44757E+12,1.51994E+12,1.61304E+12,1.70538E+12,1.8246E+12,1.98547E+12,2.13577E+12,2.24549E+12,..,..
234378,India,IND,Adjusted net national income (current US$),NY.ADJ.NNTY.CD,..,..,..,..,..,..,...,1.44757E+12,1.57354E+12,1.58074E+12,1.60004E+12,1.77276E+12,1.84066E+12,1.99267E+12,2.24694E+12,..,..
234379,India,IND,Adjusted net national income per capita (annua...,NY.ADJ.NNTY.PC.KD.ZG,..,..,..,..,..,..,...,9.089081133,3.654921232,4.826319936,4.481178748,5.772333688,7.607976301,6.404432967,4.025696484,..,..
234380,India,IND,Adjusted net national income per capita (const...,NY.ADJ.NNTY.PC.KD,..,..,..,..,..,..,...,1172.804567,1215.66965,1274.341757,1331.447288,1408.302869,1515.446217,1612.501954,1677.416389,..,..
234381,India,IND,Adjusted net national income per capita (curre...,NY.ADJ.NNTY.PC.CD,..,..,..,..,..,..,...,1172.804567,1258.540207,1248.822896,1249.209021,1368.284906,1404.923449,1504.456703,1678.499262,..,..
234382,India,IND,"Adjusted net savings, excluding particulate em...",NY.ADJ.SVNX.GN.ZS,..,..,..,..,..,..,...,24.42782439,22.81462331,23.05047542,22.24750794,21.37505932,20.85112582,19.53499408,17.10262165,..,..
234383,India,IND,"Adjusted net savings, excluding particulate em...",NY.ADJ.SVNX.CD,..,..,..,..,..,..,...,4.05502E+11,4.12945E+11,4.17214E+11,4.07129E+11,4.31776E+11,4.33703E+11,4.39537E+11,4.39537E+11,..,..
234384,India,IND,"Adjusted net savings, including particulate em...",NY.ADJ.SVNG.GN.ZS,..,..,..,..,..,..,...,23.52410922,21.88368662,22.11104121,21.31862083,20.49979607,20.00854992,18.7250886,16.31335626,..,..
234385,India,IND,"Adjusted net savings, including particulate em...",NY.ADJ.SVNG.CD,..,..,..,..,..,..,...,3.905E+11,3.96095E+11,4.0021E+11,3.90131E+11,4.14096E+11,4.16178E+11,4.21314E+11,4.19253E+11,..,..
234386,India,IND,Adjusted savings: carbon dioxide damage (% of ...,NY.ADJ.DCO2.GN.ZS,..,..,..,..,..,..,...,2.481729393,2.560328941,2.94325549,3.075363004,3.227497554,3.510789237,3.663553874,3.64033035,..,..
234387,India,IND,Adjusted savings: carbon dioxide damage (curre...,NY.ADJ.DCO2.CD,..,..,..,..,..,..,...,41196707920,46341953831,53272924370,56279142978,65195450592,73024416134,82429962160,93556489988,..,..
234388,India,IND,Adjusted savings: consumption of fixed capital...,NY.ADJ.DKAP.GN.ZS,..,..,..,..,..,..,...,10.56895072,10.55640372,10.78672248,10.82108185,10.87247353,10.63763748,10.57384751,11.56797148,..,..
234389,India,IND,Adjusted savings: consumption of fixed capital...,NY.ADJ.DKAP.CD,..,..,..,..,..,..,...,1.75445E+11,1.91071E+11,1.9524E+11,1.98026E+11,2.19624E+11,2.21263E+11,2.37912E+11,2.97297E+11,..,..
234390,India,IND,Adjusted savings: education expenditure (% of ...,NY.ADJ.AEDU.GN.ZS,..,..,..,..,..,..,...,3.08,3.08,3.08,3.08,3.08,3.08,3.08,3.08,..,..
234391,India,IND,Adjusted savings: education expenditure (curre...,NY.ADJ.AEDU.CD,..,..,..,..,..,..,...,51128000000,55748000000,55748000000,56364000000,62216000000,64064000000,69300000000,79156000000,..,..
234392,India,IND,Adjusted savings: energy depletion (% of GNI),NY.ADJ.DNGY.GN.ZS,..,..,..,..,..,..,...,0.926907721,1.439904012,1.292445185,1.098575616,0.880669257,0.445778849,0.352329968,0.456193143,..,..
234393,India,IND,Adjusted savings: energy depletion (current US$),NY.ADJ.DNGY.CD,..,..,..,..,..,..,...,15386668167,26062262610,23393257845,20103933778,17789518997,9272200068,7927424280,11724163762,..,..
234394,India,IND,Adjusted savings: gross savings (% of GNI),NY.ADJ.ICTR.GN.ZS,..,..,..,..,..,..,...,36.69911979,35.44348276,35.68025004,34.73721651,33.86648524,32.79617789,31.56681612,30.19486956,..,..
234395,India,IND,Adjusted savings: mineral depletion (% of GNI),NY.ADJ.DMIN.GN.ZS,..,..,..,..,..,..,...,0.966376672,0.756173127,0.313908406,0.399967157,0.253360268,0.155372951,0.213476411,0.281060862,..,..

In [61]:
print(India_df1.shape)
India_df1.dropna(inplace = True)
print(India_df1.shape)

(1429, 64)
(1429, 64)

c:\users\bgeethan\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [62]:
India_df1.head(10)

,Country Name,Country Code,Series Name,Series Code,1960 [YR1960],1961 [YR1961],1962 [YR1962],1963 [YR1963],1964 [YR1964],1965 [YR1965],...,2010 [YR2010],2011 [YR2011],2012 [YR2012],2013 [YR2013],2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019]
234356,India,IND,Access to clean fuels and technologies for coo...,EG.CFT.ACCS.ZS,..,..,..,..,..,..,...,34.4,35.42,36.64,37.81,38.8,39.88,41.04,..,..,..
234357,India,IND,Access to electricity (% of population),EG.ELC.ACCS.ZS,..,..,..,..,..,..,...,76.3,67.6,79.9,80.87475586,83.62010956,88,89.64585876,92.61865997,..,..
234358,India,IND,"Access to electricity, rural (% of rural popul...",EG.ELC.ACCS.RU.ZS,..,..,..,..,..,..,...,68.39299752,56.09592636,72.36274717,73.55278832,77.11640749,83.36654488,85.21428423,89.30655492,..,..
234359,India,IND,"Access to electricity, urban (% of urban popul...",EG.ELC.ACCS.UR.ZS,..,..,..,..,..,..,...,94,92.9,96.1,96.50080872,97.17295837,97.5,98.52790833,99.20680237,..,..
234360,India,IND,Account ownership at a financial institution o...,FX.OWN.TOTL.ZS,..,..,..,..,..,..,...,..,35.23183823,..,..,53.14155197,..,..,79.87532806,..,..
234361,India,IND,Account ownership at a financial institution o...,FX.OWN.TOTL.FE.ZS,..,..,..,..,..,..,...,..,26.4905014,..,..,43.13261032,..,..,76.63963318,..,..
234362,India,IND,Account ownership at a financial institution o...,FX.OWN.TOTL.MA.ZS,..,..,..,..,..,..,...,..,43.73707581,..,..,62.76336288,..,..,83.00899506,..,..
234363,India,IND,Account ownership at a financial institution o...,FX.OWN.TOTL.OL.ZS,..,..,..,..,..,..,...,..,38.02606201,..,..,56.81197739,..,..,83.08431244,..,..
234364,India,IND,Account ownership at a financial institution o...,FX.OWN.TOTL.40.ZS,..,..,..,..,..,..,...,..,26.97145081,..,..,43.61067581,..,..,77.08294678,..,..
234365,India,IND,Account ownership at a financial institution o...,FX.OWN.TOTL.PL.ZS,..,..,..,..,..,..,...,..,30.5149231,..,..,43.35340881,..,..,75.36954498,..,..

In [63]:
India_final1 = India_df1[India_df1['Series Name'].str.contains("GDP")]

In [64]:
ds2 = pd.read_csv('C:/Users/bgeethan/Desktop/Challenge/WBI/WPP2019_POP_F07_1_POPULATION_BY_AGE_BOTH_SEXES.csv', encoding='windows-1252')

In [65]:
print(ds2.shape)

(201, 22)

In [66]:
ds2.head(10)

,Index,Country,Notes,Country code,Type,Parent code,Reference date (as of 1 July),TOTAL POP,0-4,5-9,...,20-39,40-59,60+,0-4(%),5-9(%),10-14(%),15-19(%),20-39(%),40-59(%),60+ (%)
0,1,Afghanistan,NaN,4,Country/Area,5501,2020,"38,928","5,673","5,416",...,"11,571","4,804","1,644",14.6%,13.9%,13.3%,11.9%,29.7%,12.3%,4.2%
1,2,Albania,NaN,8,Country/Area,925,2020,"2,878",166,168,...,863,709,610,5.8%,5.8%,5.6%,6.9%,30.0%,24.6%,21.2%
2,3,Algeria,NaN,12,Country/Area,912,2020,"43,851","5,042","4,636",...,"13,849","9,249","4,344",11.5%,10.6%,8.7%,6.6%,31.6%,21.1%,9.9%
3,4,Angola,NaN,24,Country/Area,911,2020,"32,866","5,795","5,104",...,"9,006","3,877","1,202",17.6%,15.5%,13.2%,10.7%,27.4%,11.8%,3.7%
4,5,Antigua and Barbuda,NaN,28,Country/Area,915,2020,98,7,7,...,29,27,14,7.5%,7.4%,7.0%,7.2%,29.6%,27.3%,14.1%
5,6,Argentina,NaN,32,Country/Area,931,2020,"45,196","3,737","3,710",...,"13,439","10,153","7,021",8.3%,8.2%,8.0%,7.8%,29.7%,22.5%,15.5%
6,7,Armenia,NaN,51,Country/Area,922,2020,"2,963",205,214,...,913,716,547,6.9%,7.2%,6.7%,5.8%,30.8%,24.2%,18.5%
7,8,Aruba,13.0,533,Country/Area,915,2020,107,6,6,...,26,31,23,5.7%,5.3%,6.4%,6.8%,24.6%,29.5%,21.8%
8,9,Australia,15.0,36,Country/Area,927,2020,"25,500","1,670","1,639",...,"7,094","6,414","5,553",6.5%,6.4%,6.3%,6.0%,27.8%,25.2%,21.8%
9,10,Austria,NaN,40,Country/Area,926,2020,"9,006",448,426,...,"2,359","2,585","2,312",5.0%,4.7%,4.7%,5.0%,26.2%,28.7%,25.7%

In [67]:
India_df2 = ds2[ds2['Country']=='India']

In [68]:
India_df2.head(10)

,Index,Country,Notes,Country code,Type,Parent code,Reference date (as of 1 July),TOTAL POP,0-4,5-9,...,20-39,40-59,60+,0-4(%),5-9(%),10-14(%),15-19(%),20-39(%),40-59(%),60+ (%)
85,86,India,NaN,356,Country/Area,5501,2020,"1,380,004","116,880","117,982",...,"455,538","297,792","139,610",8.5%,8.5%,9.1%,9.1%,33.0%,21.6%,10.1%

In [69]:
merged_dataframe = India_final1.merge(India_df2, how='inner', left_on=['Country Name'], right_on=['Country'])
print(merged_dataframe)

   Country Name Country Code  \
0         India          IND
1         India          IND
2         India          IND
3         India          IND
4         India          IND
..          ...          ...
80        India          IND
81        India          IND
82        India          IND
83        India          IND
84        India          IND

                                          Series Name        Series Code  \
0   Agriculture, forestry, and fishing, value adde...     NV.AGR.TOTL.ZS
1                              Broad money (% of GDP)  FM.LBL.BMNY.GD.ZS
2           Central government debt, total (% of GDP)  GC.DOD.TOTL.GD.ZS
3          Claims on central government, etc. (% GDP)  FS.AST.CGOV.GD.ZS
4   Claims on other sectors of the domestic econom...  FS.AST.DOMO.GD.ZS
..                                                ...                ...
80                             Tax revenue (% of GDP)  GC.TAX.TOTL.GD.ZS
81           Total natural resources rents (% of GDP)  NY.GDP.TOTL.RT.ZS
82                                   Trade (% of GDP)     NE.TRD.GNFS.ZS
83                       Trade in services (% of GDP)  BG.GSR.NFSV.GD.ZS
84  Water productivity, total (constant 2010 US$ G...  ER.GDP.FWTL.M3.KD

   1960 [YR1960] 1961 [YR1961] 1962 [YR1962] 1963 [YR1963] 1964 [YR1964]  \
0    41.31283906   40.38740161    38.3713352   39.31975131   41.18773833
1    22.07192494   21.50187279   21.93070271   21.11628266    19.8063983
2             ..            ..            ..            ..            ..
3    15.00006204   14.72533036   15.18662561   14.64131654   13.44842175
4             ..            ..            ..            ..            ..
..           ...           ...           ...           ...           ...
80            ..            ..            ..            ..            ..
81            ..            ..            ..            ..            ..
82   11.29683311   10.26116259   10.20079018   10.18733784    9.41054892
83            ..            ..            ..            ..            ..
84            ..            ..            ..            ..            ..

   1965 [YR1965]  ...      20-39      40-59        60+ 0-4(%) 5-9(%) 10-14(%)  \
0    38.95214348  ...   455,538    297,792    139,610    8.5%   8.5%     9.1%
1     20.8286159  ...   455,538    297,792    139,610    8.5%   8.5%     9.1%
2             ..  ...   455,538    297,792    139,610    8.5%   8.5%     9.1%
3    14.09378327  ...   455,538    297,792    139,610    8.5%   8.5%     9.1%
4             ..  ...   455,538    297,792    139,610    8.5%   8.5%     9.1%
..           ...  ...        ...        ...        ...    ...    ...      ...
80            ..  ...   455,538    297,792    139,610    8.5%   8.5%     9.1%
81            ..  ...   455,538    297,792    139,610    8.5%   8.5%     9.1%
82    8.51903437  ...   455,538    297,792    139,610    8.5%   8.5%     9.1%
83            ..  ...   455,538    297,792    139,610    8.5%   8.5%     9.1%
84            ..  ...   455,538    297,792    139,610    8.5%   8.5%     9.1%

   15-19(%) 20-39(%) 40-59(%) 60+ (%)
0      9.1%    33.0%    21.6%   10.1%
1      9.1%    33.0%    21.6%   10.1%
2      9.1%    33.0%    21.6%   10.1%
3      9.1%    33.0%    21.6%   10.1%
4      9.1%    33.0%    21.6%   10.1%
..      ...      ...      ...     ...
80     9.1%    33.0%    21.6%   10.1%
81     9.1%    33.0%    21.6%   10.1%
82     9.1%    33.0%    21.6%   10.1%
83     9.1%    33.0%    21.6%   10.1%
84     9.1%    33.0%    21.6%   10.1%

[85 rows x 86 columns]

In [70]:
merged_dataframe.head(3)

,Country Name,Country Code,Series Name,Series Code,1960 [YR1960],1961 [YR1961],1962 [YR1962],1963 [YR1963],1964 [YR1964],1965 [YR1965],...,20-39,40-59,60+,0-4(%),5-9(%),10-14(%),15-19(%),20-39(%),40-59(%),60+ (%)
0,India,IND,"Agriculture, forestry, and fishing, value adde...",NV.AGR.TOTL.ZS,41.31283906,40.38740161,38.3713352,39.31975131,41.18773833,38.95214348,...,"455,538","297,792","139,610",8.5%,8.5%,9.1%,9.1%,33.0%,21.6%,10.1%
1,India,IND,Broad money (% of GDP),FM.LBL.BMNY.GD.ZS,22.07192494,21.50187279,21.93070271,21.11628266,19.8063983,20.8286159,...,"455,538","297,792","139,610",8.5%,8.5%,9.1%,9.1%,33.0%,21.6%,10.1%
2,India,IND,"Central government debt, total (% of GDP)",GC.DOD.TOTL.GD.ZS,..,..,..,..,..,..,...,"455,538","297,792","139,610",8.5%,8.5%,9.1%,9.1%,33.0%,21.6%,10.1%

In [71]:
merged_dataframe.to_csv('C:/Users/Desktop/Challenge/WBI/merged_dataframe.csv', encoding='windows-1252')