In [1]:
import pandas as pd

In [3]:
data = pd.read_csv('wfpvam_foodprices.csv')

In [5]:
data.columns

Index(['adm0_id', 'adm0_name', 'adm1_id', 'adm1_name', 'mkt_id', 'mkt_name',
       'cm_id', 'cm_name', 'cur_id', 'cur_name', 'pt_id', 'pt_name', 'um_id',
       'um_name', 'mp_month', 'mp_year', 'mp_price', 'mp_commoditysource'],
      dtype='object')

In [25]:
data.head()

,adm0_id,adm0_name,adm1_id,adm1_name,mkt_id,mkt_name,cm_id,cm_name,cur_id,cur_name,pt_id,pt_name,um_id,um_name,mp_month,mp_year,mp_price,mp_commoditysource
0,1.0,Afghanistan,272,Badakhshan,266,Fayzabad,55,Bread - Retail,0.0,AFN,15,Retail,5,KG,1,2014,50.0,NaN
1,1.0,Afghanistan,272,Badakhshan,266,Fayzabad,55,Bread - Retail,0.0,AFN,15,Retail,5,KG,2,2014,50.0,NaN
2,1.0,Afghanistan,272,Badakhshan,266,Fayzabad,55,Bread - Retail,0.0,AFN,15,Retail,5,KG,3,2014,50.0,NaN
3,1.0,Afghanistan,272,Badakhshan,266,Fayzabad,55,Bread - Retail,0.0,AFN,15,Retail,5,KG,4,2014,50.0,NaN
4,1.0,Afghanistan,272,Badakhshan,266,Fayzabad,55,Bread - Retail,0.0,AFN,15,Retail,5,KG,5,2014,50.0,NaN

In [13]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1342107 entries, 0 to 1342106
Data columns (total 18 columns):
adm0_id               1342107 non-null float64
adm0_name             1342107 non-null object
adm1_id               1342107 non-null int64
adm1_name             971706 non-null object
mkt_id                1342107 non-null int64
mkt_name              1342107 non-null object
cm_id                 1342107 non-null int64
cm_name               1342107 non-null object
cur_id                1342107 non-null float64
cur_name              1342107 non-null object
pt_id                 1342107 non-null int64
pt_name               1342107 non-null object
um_id                 1342107 non-null int64
um_name               1342107 non-null object
mp_month              1342107 non-null int64
mp_year               1342107 non-null int64
mp_price              1342107 non-null float64
mp_commoditysource    0 non-null float64
dtypes: float64(4), int64(7), object(7)
memory usage: 184.3+ MB

In [26]:
data['cm_name'] = data['cm_name'].apply(lambda x: x.split(" ")[0])

In [27]:
data['cm_name'].value_counts()

Rice      188786
Maize     138637
Wheat      74905
Beans      72848
Oil        71656
           ...
Lemons        72
Okra          64
Barley        26
Cotton        10
Corn           2
Name: cm_name, Length: 113, dtype: int64

In [31]:
list(data['cm_name'].value_counts().index)

['Rice',
 'Maize',
 'Wheat',
 'Beans',
 'Oil',
 'Sorghum',
 'Meat',
 'Millet',
 'Fuel',
 'Sugar',
 'Cassava',
 'Potatoes',
 'Bread',
 'Lentils',
 'Fish',
 'Milk',
 'Onions',
 'Groundnuts',
 'Tomatoes',
 'Salt',
 'Eggs',
 'Tea',
 'Livestock',
 'Cabbage',
 'Wage',
 'Sweet',
 'Carrots',
 'Bananas',
 'Chickpeas',
 'Peas',
 'Pasta',
 'Cheese',
 'Exchange',
 'Garlic',
 'Apples',
 'Plantains',
 'Cowpeas',
 'Bulgur',
 'Eggplants',
 'Passion',
 'Chili',
 'Peppers',
 'Cucumbers',
 'Yam',
 'Ghee',
 'Avocados',
 'Oranges',
 'Spinach',
 'Soybeans',
 'Charcoal',
 'Papaya',
 'Yogurt',
 'Mangoes',
 'Dates',
 'Butter',
 'Buckwheat',
 'Gari',
 'Parsley',
 'Zucchini',
 'Pulses',
 'Sesame',
 'Transport',
 'Peanut',
 'Water',
 'Laundry',
 'Cauliflower',
 'Coffee',
 'Curd',
 'Fat',
 'Sour',
 'Beetroots',
 'Milling',
 'Couscous',
 'Noodles',
 'Semolina',
 'Fonio',
 'Pumpkin',
 'Pigeon',
 'Cocoa',
 'Kefir',
 'Walnuts',
 'Handwash',
 'Toothbrush',
 'Labaneh',
 'Guava',
 'Teff',
 'Shampoo',
 'Sanitary',
 'Dishwashing',
 'Toothpaste',
 'Diapers',
 'Tortilla',
 'Lettuce',
 'Poultry',
 'Cornstarch',
 'Beans(mash)',
 'Quinoa',
 'Squashes',
 'Cashew',
 'Broccoli',
 'Prawn',
 'Blackberry',
 'Taro',
 'Radish',
 'Yeast',
 'Chicken',
 'Electricity',
 'Cocunut',
 'Lemons',
 'Okra',
 'Barley',
 'Cotton',
 'Corn']

In [22]:
data.adm0_name.value_counts()

Rwanda                  132053
Bassas da India         101672
Syrian Arab Republic     66671
Kyrgyzstan               51989
Niger                    50975
                         ...
Azerbaijan                 125
Eritrea                    100
Georgia                     80
Venezuela                    6
Italy                        1
Name: adm0_name, Length: 99, dtype: int64

In [24]:
data.pt_name.value_counts()

Retail       1212558
Wholesale     128637
Farm Gate        664
Producer         248
Name: pt_name, dtype: int64

**Conclusion**: this data might be useful for us in the final step of the challenge. When we know what food data we are outputing in order to estimate the cost of the food for the WFP.