In [0]:
#!pip install wikipedia

import pandas as pd
import re
import wikipedia
from bs4 import BeautifulSoup
from lxml import html
import requests
import urllib.request
import threading
import concurrent.futures

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [3]:
% cd '/content/drive/My Drive/Colab Notebooks/Omdena'

/content/drive/My Drive/Colab Notebooks/Omdena

In [0]:
dataset = pd.read_csv('df_wiki_try.csv')
small_ds = dataset.head(20).copy()

In [5]:
small_ds

    Unnamed: 0  ...                                     wikipedia link
0            0  ...                                                NaN
1            1  ...  https://en.wikipedia.org/wiki/Typhoon_Rena_(1949)
2            2  ...       https://en.wikipedia.org/wiki/Hurricane_Jane
3            3  ...  https://en.wikipedia.org/wiki/Typhoon_Iris_(1951)
4            4  ...  https://en.wikipedia.org/wiki/Hurricane_Charli...
5            5  ...  https://en.wikipedia.org/wiki/Typhoon_Ruth_(1951)
6            6  ...  https://en.wikipedia.org/wiki/Typhoon_Wanda_(1...
7            7  ...   https://en.wikipedia.org/wiki/Typhoon_Amy_(1951)
8            8  ...  https://en.wikipedia.org/wiki/Typhoon_Emma_(1952)
9            9  ...  https://en.wikipedia.org/wiki/Typhoon_Trix_(1952)
10          10  ...  https://en.wikipedia.org/wiki/Typhoon_Wilma_(1...
11          11  ...  https://en.wikipedia.org/wiki/Hurricane_Carol_...
12          12  ...      https://en.wikipedia.org/wiki/Hurricane_Hazel
13          13  ...      https://en.wikipedia.org/wiki/Hurricane_Hazel
14          14  ...      https://en.wikipedia.org/wiki/Hurricane_Hazel
15          15  ...      https://en.wikipedia.org/wiki/Hurricane_Diane
16          16  ...  https://en.wikipedia.org/wiki/Hurricane_Hilda_...
17          17  ...  https://en.wikipedia.org/wiki/Hurricane_Janet_...
18          18  ...  https://en.wikipedia.org/wiki/Hurricane_Audrey...
19          19  ...   https://en.wikipedia.org/wiki/Typhoon_Ida_(1958)

[20 rows x 9 columns]

In [0]:
global temp_dataset
temp_dataset = small_ds.copy()

In [0]:
# just Enter -> accept default value (this one at the left on input field)
# give yout own digit -> this digit
# any non-digital sign -> do nothig, leave value that is already in dataframe

def acceptResult(data, what):
  data[1] = data[1].replace(',', '').replace('.', '')
  print(data[0])
  print(data[1])
  print(what)
  try:
    temp_dataset.at[int(data[0]), what] = float(data[1])
  except:
    pass
  result_available.set()

In [0]:
regexLetters = u'[A-Za-z]+'

#### regexKetWord, keyWord, targetColumnName -> for editing
regexKeyWord = u'^homeless.*'
keyWord = '.*homeless.*'
targetColumnName = 'Num homeless'

result_available = threading.Event()


def doDefault(sentence):
  global lastDigit
  distance = 0
  sentence = sentence.replace(u'\xa0', u' ')
  words = sentence.split(" ")
  for word in words:
    if len(word)>0:
      distance += 1
    if not bool(re.search(regexLetters, word)):
      lastDigit = word
      distance = 0
    if bool(re.search(regexKeyWord, word)):
      print(str(lastDigit) + " " + str(distance))
      result_available.set()
      return

In [132]:

res = []

def runFor(small_ds):
  for index, row in small_ds.iterrows():
    print()
    print("************************")
    print('row[NAME]  row[Start year]  row[ISO]  row[' + targetColumnName + ']')
    print(row['NAME'] + " " + str(row['Start year']) + " " + row['ISO'] + " " + str(row[targetColumnName]))
    print()

    try:
      url = str(row['wikipedia link'])
      path = '/html/head/title'

      page = urllib.request.urlopen(url, timeout=5)
      soup = BeautifulSoup(page, "lxml")
      response = requests.get(url, timeout=5)
      byte_data = response.content
      source_code = html.fromstring(byte_data)
      title = source_code.xpath(path)
      titleString = title[0].text_content()
      print("TITLE: " + titleString)

      if soup.find(text=re.compile(keyWord)):

        for items in soup.find_all(class_="mw-content-ltr"):
          if items.find("h3"):
            for header in items.find_all("h3"):
              paragraph = header.find_next("p")
              if bool(re.search(keyWord, paragraph.text)):
                print()
                print("HEADER: " + header.text)
                print(paragraph.text)
                x_string = ""
                for word in paragraph.text:
                  x_string += word
                thread = threading.Thread(target=doDefault, args=(x_string,))
                thread.start()
                while not result_available.wait(timeout=1):
                  pass
                result_available.clear()
                defaultValue = str(lastDigit)
                myValue = input(defaultValue)
                myValue = myValue or defaultValue
                toSend = [int(index), str(myValue)]
                threadSend = threading.Thread(target=acceptResult, args=(toSend, targetColumnName, ))
                threadSend.start()
                while not result_available.wait(timeout=1):
                  pass
                result_available.clear()
                print("DONE")

          else:
            paragraphs = items.find_all("p")
            for p in paragraphs:
              data = p.find_all(text=re.compile(keyWord))
              p_text = p.text
              if data != []:
                for x in data: 
                  print("Part with keyword: ")
                  print(x)
                  print()
                  print("Full paragraph")
                  print(p_text)
                  x_string = ""
                  for word in x:
                    x_string += word
                  thread = threading.Thread(target=doDefault, args=(x_string,))
                  thread.start()
                  while not result_available.wait(timeout=1):
                    pass
                  result_available.clear()
                  defaultValue = str(lastDigit)
                  myValue = input(defaultValue)
                  myValue = myValue or defaultValue
                  toSend = [int(index), str(myValue)]
                  threadSend = threading.Thread(target=acceptResult, args=(toSend, targetColumnName, ))
                  threadSend.start()
                  while not result_available.wait(timeout=1):
                    pass
                  result_available.clear()
                  print("DONE")
      else:
        print("NO RESULT")
    except:
      pass

def main():
    runFor(small_ds)

if __name__ == '__main__':
    main()

************************
row[NAME]  row[Start year]  row[ISO]  row[Num homeless]
DELLA 1949 JPN nan


************************
row[NAME]  row[Start year]  row[ISO]  row[Num homeless]
RENA 1949 PHL nan

TITLE: 1949 Pacific typhoon season - Wikipedia
NO RESULT

************************
row[NAME]  row[Start year]  row[ISO]  row[Num homeless]
JANE 1950 JPN nan

TITLE: Hurricane Jane - Wikipedia
NO RESULT

************************
row[NAME]  row[Start year]  row[ISO]  row[Num homeless]
IRIS 1951 PHL nan

TITLE: 1951 Pacific typhoon season - Wikipedia
NO RESULT

************************
row[NAME]  row[Start year]  row[ISO]  row[Num homeless]
CHARLIE 1951 JAM nan

TITLE: Hurricane Charlie (1951) - Wikipedia
Part with keyword:
 Charlie caused around $50 million (1951 USD, $380 million 2005 USD) in crop and property damage, 152 deaths, injured 2,000, and left 25,000 homeless.

Full paragraph
The cyclone was compact when it moved through the Lesser Antilles, and the strongest winds on land in the eastern Caribbean islands did not exceed 35 mph (55 km/h).[2] In Jamaica, the hurricane produced heavy rainfall, peaking at 17 inches (430 mm) in Kingston,[2][12] which caused numerous landslides across eastern sections of the island.[13]  Peak gusts were estimated near 125 mph (200 km/h) across the island.[14] A hangar and installations were destroyed at Palisadoes Airport,[12] and the facility received "extensive damage."[14] Consequently, "At Memphis, Tenn, Chicago & Southern Airline headquarters here reported that its north and southbound Constellation flights were unable to land at Kingston, bypassing the airport there on flights between Chicago and Caracas."[14] Several ships were sunk or overturned during the storm.[12][14] Communications and power services were disrupted, suspending information from the island's interior.[12] The hurricane also cut communications from the island to radio stations in the United States.[14] 70–80 percent of the island's banana crops were destroyed, in addition to 30 percent of other crops.[9] 70 convicted felons also escaped from a jail when winds blew down walls.[15] Flooding was expected in the island's mountainous interior because of heavy precipitation.[12] Heavy rains caused rock slides, damaging roads, railroads, and other sources of tourism.[9] In Kingston, electricity was initially restored to essential services, including "hospitals, refrigerating plants, pumping stations and newspaper plants."[9] Charlie caused around $50 million (1951 USD, $380 million 2005 USD) in crop and property damage, 152 deaths, injured 2,000, and left 25,000 homeless.[2]

25,000 1
25,000
4
25000
Num homeless
DONE

************************
row[NAME]  row[Start year]  row[ISO]  row[Num homeless]
RUTH 1951 JPN nan

TITLE: 1951 Pacific typhoon season - Wikipedia
NO RESULT

************************
row[NAME]  row[Start year]  row[ISO]  row[Num homeless]
WANDA 1951 PHL nan

TITLE: 1951 Pacific typhoon season - Wikipedia
NO RESULT

************************
row[NAME]  row[Start year]  row[ISO]  row[Num homeless]
AMY 1951 PHL nan

TITLE: Typhoon Amy (1951) - Wikipedia
Part with keyword:
 with an additional 2,250 persons rendered homeless.

Full paragraph
On Samar, where Amy first struck, reports indicated that 27 people died, despite initial reports that stated that there were no fatalities.[22] In Iloilo City on Visayas, two people were killed and seventeen others were injured.[19] Property damage in Bacolod, Negros was estimated at $250,000,[12] and 52 people died,[22] with an additional 2,250 persons rendered homeless.[12] Elsewhere on Negros, 30 percent of the island's vital sugar crop was destroyed.[24] On the east coast of Leyte, the typhoon was considered the worst in living memory, and ninety percent of homes there were destroyed.[11] In Negros Oriental, schoolhouses in Canlaon, Vallehermoso, Negros Oriental, and Guihulngan were blown down.[25] An aerial survey mission estimated that at least30 sq mi (78 km2) of coconut plantations were devastated;[23] other coconut plantations throughout the Philippines also suffered considerable damage.[26] Copra crops also suffered sizeable losses, though production was expected to remain at forecast levels.[27] Tacloban's San Jose Airfield was severely damaged by the strong storm surge from Amy.[23] In the Tacloban and Surigao Strait area, an estimated 146 people were killed.[28] In the Leytenian town of Abuyog, the mayor had announced that 176 people were killed in the town alone. Another 135 fatalities were confirmed in Sogod.[29] More than 100 persons were injured by falling coconuts and other airborne debris.[30] On Leyte alone, damage was estimated at $8 million.[24] The Red Cross estimated over a thousand homes in 41 towns on Panay were destroyed by the storm.[31] More than 20 percent of crops and infrastructure were destroyed.[32] Four people were killed on the island.[22] Upon looping in the South China Sea, Amy brought torrential rainfall to areas of Manila, though no damage was reported.[33]

2,250 3
2,250
7
2250
Num homeless
DONE
Part with keyword:
 An additional 50,000 people were rendered homeless by the storm.

Full paragraph
Overall, Amy caused at least an estimated $30 million in damage throughout the central Philippines.[34][35] However, the total number of fatalities directly associated with the effects of the typhoon remain disputed, and may range anywhere from 569[36] to 991,[37] making Amy one of the deadliest typhoons to strike the island nation in recorded history.[38] An additional 50,000 people were rendered homeless by the storm.[35] The typhoon was characterized by the Philippine weather bureau to be the worst typhoon to strike the Philippines in at least 70 years.[39] In the aftermath of Amy, then-president of the Philippines Elpidio Quirino declared a state of public calamity for eleven central Philippine provinces including the island of Camiguin, which was heavily affected by both the typhoon and Mount Hibok-Hibok.[40][41] On December 24, the American Red Cross granted $25,000 to the Philippine Red Cross.[39]

50,000 4
50,000
7
50000
Num homeless
DONE

************************
row[NAME]  row[Start year]  row[ISO]  row[Num homeless]
EMMA 1952 PHL nan

TITLE: 1952 Pacific typhoon season - Wikipedia
NO RESULT

************************
row[NAME]  row[Start year]  row[ISO]  row[Num homeless]
TRIX 1952 PHL nan

TITLE: 1952 Pacific typhoon season - Wikipedia
NO RESULT

************************
row[NAME]  row[Start year]  row[ISO]  row[Num homeless]
WILMA 1952 PHL nan

TITLE: 1952 Pacific typhoon season - Wikipedia
NO RESULT

************************
row[NAME]  row[Start year]  row[ISO]  row[Num homeless]
CAROL 1954 USA nan

TITLE: Hurricane Carol - Wikipedia

************************
row[NAME]  row[Start year]  row[ISO]  row[Num homeless]
HAZEL 1954 CAN 4000.0

TITLE: Hurricane Hazel - Wikipedia

************************
row[NAME]  row[Start year]  row[ISO]  row[Num homeless]
HAZEL 1954 HTI nan

TITLE: Hurricane Hazel - Wikipedia

************************
row[NAME]  row[Start year]  row[ISO]  row[Num homeless]
HAZEL 1954 USA nan

TITLE: Hurricane Hazel - Wikipedia

************************
row[NAME]  row[Start year]  row[ISO]  row[Num homeless]
DIANE 1955 USA nan

TITLE: Hurricane Diane - Wikipedia

************************
row[NAME]  row[Start year]  row[ISO]  row[Num homeless]
HILDA 1955 MEX 15000.0

TITLE: Hurricane Hilda (1955) - Wikipedia
Part with keyword:
. Hilda struck the city early on September 19, with gusts estimated at 150 mph (240 km/h). It dropped heavy rainfall that flooded 90% of Tampico, while its strong winds damaged half of the homes, leaving 15,000 homeless. The storm killed 300 people and caused over $120 million (1955

Full paragraph
After reaching the Gulf of Mexico, Hilda strengthened to reach peak winds of 125 mph (205 km/h) late on September 18. Before the hurricane moved ashore, there was residual flooding in Tampico from earlier Hurricane Gladys. Hilda struck the city early on September 19, with gusts estimated at 150 mph (240 km/h). It dropped heavy rainfall that flooded 90% of Tampico, while its strong winds damaged half of the homes, leaving 15,000 homeless. The storm killed 300 people and caused over $120 million (1955 USD) in Mexico. Ongoing flooding caused an outbreak of dysentery, and about 10 days after Hilda struck, Hurricane Janet struck the same region and caused further flooding and damage. Collectively, the damage from the storms represented about half of Mexico's budget in 1955.

15,000 1
15,000
16
15000
Num homeless
DONE
Part with keyword:
 Hundreds of people were injured or left homeless.

Full paragraph
When Hilda struck southeastern Cuba, it caused moderate damage and killed four people,[2] all of whom in Oriente Province.[8] Wind gusts reached 45 mph (72 km/h) at Guantanamo Bay Naval Base,[7] which caused a brief power outage.[9] High waves washed a freighter ashore along Cuba's north coast.[7] Strong winds severely damaged the church in Baracoa, which was built in the 16th century and was the oldest in the country.[8] In Santiago de Cuba, Hilda produced heavy rains and gusty winds, which knocked down telephone lines and caused flooding.[9] Five people were injured after houses collapsed in the city. High rains and winds damaged the sugar cane and pineapple crop,[8] and destroyed 80% of the coffee crop in Oriente Province.[10] Damage in the country was not severe,[8] estimated at $2 million.[11] Hundreds of people were injured or left homeless.[12] After the hurricane isolated the town of Caimanera, American workers sent a train there from Guantanamo Bay with a medical team and supplies.[8]

 8

16

Num homeless
DONE
Part with keyword:
 About 15,000 people became homeless due to the storm, or previously from Hurricane Gladys. The governor of Tamaulipas declared a state of emergency and requested assistance from the military to provide food and shelter. Within a day after the storm, water access was restored, although the city initially remained without power or telephone. Communications were cut to Tampico, except for the airport at the radio.

Full paragraph
After the storm, Tampico was left without power or communications.[17] About 15,000 people became homeless due to the storm, or previously from Hurricane Gladys. The governor of Tamaulipas declared a state of emergency and requested assistance from the military to provide food and shelter. Within a day after the storm, water access was restored, although the city initially remained without power or telephone. Communications were cut to Tampico, except for the airport at the radio.[19] The rail line from Laredo, Texas to Mexico City was cut during the storm, but was restored ten days later.[20] Due to ongoing flood conditions, there was an outbreak of dysentery that killed two children. The Mexican government flew medical supplies, food, and clothing from Mexico City to Tampico, while four United States helicopters assisted in rescue missions along the Pánuco River.[21] About 10 days after Hilda struck Tampico, Hurricane Janet affected the same area, causing further damage and deaths. Collectively, the two hurricanes caused 1,240 deaths along their paths,[4] and damage from the consecutive storms totaled about half of Mexico's 1955 national budget.[22] After the two hurricanes, the Mexican government and military worked to assist the affected residents, and the Mexican Red Cross provided vaccinations and medical assistance to prevent the spread of disease.[17]

15,000 3
15,000
16
15000
Num homeless
DONE

************************
row[NAME]  row[Start year]  row[ISO]  row[Num homeless]
JANET 1955 MEX 20000.0

TITLE: Hurricane Janet - Wikipedia

HEADER: Lesser Antilles[edit]
As a small but rapidly intensifying hurricane, Janet passed just south of Barbados on September 22, becoming the first hurricane to strike the island in 57 years, since the 1898 Windward Islands Hurricane. Maximum sustained winds on the south side of the island were estimated to be between 110–120 mph (180–190 km/h).[3] The strong winds knocked out communication lines, preventing officials from accurately enumerating casualties on the island,[14] though communications were still maintained by commercial cable companies and amateur radio.[15] Electric power was later restored, allowing newspapers to publish information on the storm.[16] Sugar cane, the island country's main source of revenue, was severely damaged, with losses estimated to be in excess of $1 million.[14] Poorly constructed dwellings were blown apart by the strong winds.[17] An estimated 8,100 homes were damaged by the hurricane.[18] The destroyed buildings and trees blocked highways,[17] and the Seawell Airport was forced to close.[19] Heavy rains peaked at 4 inches (100 mm) and a storm surge of 7 feet (2.1 m) swept away low-lying houses along the coast.[9] An estimated 2,000 people were left homeless due to the hurricane.[10] Property damage on Barbados was estimated to be $5 million,[10] and at least 57 people were killed.[11]

2,000 4
2,000
17
2000
Num homeless
DONE

************************
row[NAME]  row[Start year]  row[ISO]  row[Num homeless]
AUDREY 1957 USA nan

TITLE: Hurricane Audrey - Wikipedia

************************
row[NAME]  row[Start year]  row[ISO]  row[Num homeless]
IDA 1958 JPN nan

TITLE: Typhoon Ida (1958) - Wikipedia
Part with keyword:
 Although it was initially reported that the storm left about 500,000 people homeless,

Full paragraph
A report by Time Magazine in early October 1958 referred to Ida as the worst Japanese typhoon in 24 years, since the 1934 Muroto typhoon. In the Tokyo area, the storm caused widespread power outages and severely disrupted the transportation system.[10] During the storm, communications were severed with the Izu Peninsula,[13] where damage was heaviest. Across the country, more than 520,000 homes were flooded, which is the most on record. As a result, the Japan Meteorological Agency gave Ida the special local name of the "Kanogawa Typhoon".[15] The typhoon damaged 16,743 homes to some degree, including 2,118 that were destroyed and another 2,175 that were severely damaged.[16] Although it was initially reported that the storm left about 500,000 people homeless,[11] the total was later lowered to 12,000 people left homeless due to the storm. In addition, the typhoon destroyed more than 244 road or rail bridges. Overall damage was estimated at $50 million (1958 USD),[5] or 20.6 billion yen.[17] Overall, the typhoon injured 1,138 people and killed a total of 1,269 people. This makes Ida the sixth-deadliest storm in the country, behind Typhoon Ruth in 1951, Typhoon Marie in 1954, Typhoon Ida in 1945, the 1934 Muroto typhoon, and Typhoon Vera in 1959.[18] Included in the death toll were 381 people that were missing and presumed killed.[14]

500,000 2
500,000
19
500000
Num homeless
DONE
Part with keyword:
 the total was later lowered to 12,000 people left homeless due to the storm. In addition, the typhoon destroyed more than 244 road or rail bridges. Overall damage was estimated at $50 million (1958

Full paragraph
A report by Time Magazine in early October 1958 referred to Ida as the worst Japanese typhoon in 24 years, since the 1934 Muroto typhoon. In the Tokyo area, the storm caused widespread power outages and severely disrupted the transportation system.[10] During the storm, communications were severed with the Izu Peninsula,[13] where damage was heaviest. Across the country, more than 520,000 homes were flooded, which is the most on record. As a result, the Japan Meteorological Agency gave Ida the special local name of the "Kanogawa Typhoon".[15] The typhoon damaged 16,743 homes to some degree, including 2,118 that were destroyed and another 2,175 that were severely damaged.[16] Although it was initially reported that the storm left about 500,000 people homeless,[11] the total was later lowered to 12,000 people left homeless due to the storm. In addition, the typhoon destroyed more than 244 road or rail bridges. Overall damage was estimated at $50 million (1958 USD),[5] or 20.6 billion yen.[17] Overall, the typhoon injured 1,138 people and killed a total of 1,269 people. This makes Ida the sixth-deadliest storm in the country, behind Typhoon Ruth in 1951, Typhoon Marie in 1954, Typhoon Ida in 1945, the 1934 Muroto typhoon, and Typhoon Vera in 1959.[18] Included in the death toll were 381 people that were missing and presumed killed.[14]

12,000 3
12,000
19
12000
Num homeless
DONE

In [133]:
temp_dataset

    Unnamed: 0  ...                                     wikipedia link
0            0  ...                                                NaN
1            1  ...  https://en.wikipedia.org/wiki/Typhoon_Rena_(1949)
2            2  ...       https://en.wikipedia.org/wiki/Hurricane_Jane
3            3  ...  https://en.wikipedia.org/wiki/Typhoon_Iris_(1951)
4            4  ...  https://en.wikipedia.org/wiki/Hurricane_Charli...
5            5  ...  https://en.wikipedia.org/wiki/Typhoon_Ruth_(1951)
6            6  ...  https://en.wikipedia.org/wiki/Typhoon_Wanda_(1...
7            7  ...   https://en.wikipedia.org/wiki/Typhoon_Amy_(1951)
8            8  ...  https://en.wikipedia.org/wiki/Typhoon_Emma_(1952)
9            9  ...  https://en.wikipedia.org/wiki/Typhoon_Trix_(1952)
10          10  ...  https://en.wikipedia.org/wiki/Typhoon_Wilma_(1...
11          11  ...  https://en.wikipedia.org/wiki/Hurricane_Carol_...
12          12  ...      https://en.wikipedia.org/wiki/Hurricane_Hazel
13          13  ...      https://en.wikipedia.org/wiki/Hurricane_Hazel
14          14  ...      https://en.wikipedia.org/wiki/Hurricane_Hazel
15          15  ...      https://en.wikipedia.org/wiki/Hurricane_Diane
16          16  ...  https://en.wikipedia.org/wiki/Hurricane_Hilda_...
17          17  ...  https://en.wikipedia.org/wiki/Hurricane_Janet_...
18          18  ...  https://en.wikipedia.org/wiki/Hurricane_Audrey...
19          19  ...   https://en.wikipedia.org/wiki/Typhoon_Ida_(1958)

[20 rows x 9 columns]