In [1]:
!pip install wikipedia
import pandas as pd
import numpy as np


import re
import wikipedia
from bs4 import BeautifulSoup
import urllib.request

Requirement already satisfied: wikipedia in /usr/local/lib/python3.6/dist-packages (1.4.0)
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.6/dist-packages (from wikipedia) (4.6.3)
Requirement already satisfied: requests<3.0.0,>=2.0.0 in /usr/local/lib/python3.6/dist-packages (from wikipedia) (2.21.0)
Requirement already satisfied: idna<2.9,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests<3.0.0,>=2.0.0->wikipedia) (2.8)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests<3.0.0,>=2.0.0->wikipedia) (2019.11.28)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests<3.0.0,>=2.0.0->wikipedia) (1.24.3)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests<3.0.0,>=2.0.0->wikipedia) (3.0.4)

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [2]:
% cd '/content/drive/My Drive/Colab Notebooks/Omdena'

/content/drive/My Drive/Colab Notebooks/Omdena

In [0]:
df = pd.read_csv("empty_pop.csv")

In [4]:
df.shape

(3002, 10)

In [5]:
df.columns

Index(['Unnamed: 0', 'SID', 'NAME_x', 'YEAR_x', 'MONTH_x', 'in_trax', 'NAME_y',
       'YEAR_y', 'MONTH_y', 'in_df'],
      dtype='object')

In [6]:
df

      Unnamed: 0            SID     NAME_x  ...  YEAR_y  MONTH_y  in_df
0           3333  1981003S11059    FLORINE  ...     NaN      NaN    NaN
1           3335  1981012S12110      MABEL  ...     NaN      NaN    NaN
2           3336  1981015S09078     GAELLE  ...     NaN      NaN    NaN
3           3337  1981022S13155  NOT_NAMED  ...     NaN      NaN    NaN
4           3338  1981028S12069   HELYETTE  ...     NaN      NaN    NaN
...          ...            ...        ...  ...     ...      ...    ...
2997        6792  2019114S09082      LORNA  ...     NaN      NaN    NaN
2998        6793  2019117N05088       FANI  ...     NaN      NaN    NaN
2999        6794  2019129S09129       LILI  ...     NaN      NaN    NaN
3000        6795  2019132S16159        ANN  ...     NaN      NaN    NaN
3001        6796  2019141N29291     ANDREA  ...     NaN      NaN    NaN

[3002 rows x 10 columns]

In [0]:
#df_wiki = df.copy()
#df_wiki = df[['Unnamed: 0', 'NAME', 'ISO', 'Start year']].copy()
df_only_wiki = df[['Unnamed: 0']].copy()
df_only_wiki['wikipedia link'] = np.nan
#wiki_dict = {}

In [0]:
df_wiki = df_wiki.rename(columns={'Unnamed: 0' : 'Index'})

In [0]:
df_only_wiki = df_only_wiki.rename(columns={'Unnamed: 0' : 'Index'})

In [0]:
for indexx, cyclone in df_wiki.iterrows():
  index = cyclone['Index']
  if cyclone['NAME_x'] == 'NOT_NAMED' or ':' in cyclone['NAME_x']:
    continue
  if str(index) not in wiki_dict:
    try:
      cyclone_name = cyclone['NAME_x'].capitalize()
      url = "https://en.wikipedia.org/wiki/Cyclone_" + cyclone_name + "_(" + str(cyclone['YEAR_x']) + ")"
      page = urllib.request.urlopen(url)
      wiki_dict[str(index)] = str(url)
      print(str(url))
    except:
      try:
        cyclone_name = cyclone['NAME_x'].capitalize()
        url = "https://en.wikipedia.org/wiki/Typhoon_" + cyclone_name + "_(" + str(cyclone['YEAR_x']) + ")"
        page = urllib.request.urlopen(url)
        wiki_dict[str(index)] = str(url)
        print(str(url))
      except:
        try:
          cyclone_name = cyclone['NAME_x'].capitalize()
          url = "https://en.wikipedia.org/wiki/Tropical_Storm_" + cyclone_name + "_(" + str(cyclone['YEAR_x']) + ")"
          page = urllib.request.urlopen(url)
          wiki_dict[str(index)] = str(url)
          print(str(url))
        except:
          try:
            cyclone_name = cyclone['NAME_x'].capitalize()
            url = "https://en.wikipedia.org/wiki/Hurricane_" + cyclone_name + "_(" + str(cyclone['YEAR_x']) + ")"
            page = urllib.request.urlopen(url)
            wiki_dict[str(index)] = str(url)
            print(str(url))
          except:
            try:
              cyclone_name = cyclone['NAME_x'].capitalize()
              url = "https://en.wikipedia.org/wiki/Typhoon_" + cyclone_name
              page = urllib.request.urlopen(url)
              wiki_dict[str(index)] = str(url)
              print(str(url))
            except:
              try:
                cyclone_name = cyclone['NAME_x'].capitalize()
                url = "https://en.wikipedia.org/wiki/Hurricane_" + cyclone_name
                page = urllib.request.urlopen(url)
                wiki_dict[str(index)] = str(url)
                print(str(url))
              except:
                try:
                  cyclone_name = cyclone['NAME_x'].capitalize()
                  url = "https://en.wikipedia.org/wiki/Tropical_Storm_" + cyclone_name
                  page = urllib.request.urlopen(url)
                  wiki_dict[str(index)] = str(url)
                  print(str(url))
                except:
                  try:
                    cyclone_name = cyclone['NAME_x'].capitalize()
                    url = "https://en.wikipedia.org/wiki/Cyclone_" + cyclone_name
                    print(str(url))
                    page = urllib.request.urlopen(url)
                    print(index)
                    wiki_dict[str(index)] = str(url)
                    print("DONE")
                  except:
                    pass
  else:
    pass

In [0]:
first = df_wiki['Index'].iloc[0]
last = df_wiki['Index'].iloc[-1]

for res in range(first, last):
  if str(res) in wiki_dict:
    pass
  else:
    wiki_dict[str(res)] = None

In [0]:
for indexx, cyclone in df_wiki.iterrows():
  index = cyclone['Index']
  df_only_wiki.append([index, wiki_dict[str(index)]])

In [0]:

for indexx, row in df_only_wiki.iterrows():
  index = int(row['Index'])
  df_only_wiki = df_only_wiki.drop([indexx], axis=0)
  df_only_wiki = df_only_wiki.append([[int(index), wiki_dict[str(index)]]])

In [0]:
df_only_wiki = df_only_wiki.drop(['Index', 'wikipedia link'], axis=1)
df_only_wiki = df_only_wiki.rename(columns={0 : 'Index'})
df_only_wiki = df_only_wiki.rename(columns={1 : 'wikipedia link'})
df_only_wiki["Index"] = df_only_wiki["Index"].astype(int)
df_only_wiki

In [34]:
df_wiki.shape, df_only_wiki.shape

((3002, 10), (3002, 2))

In [24]:
df_only_wiki.columns

Index(['Index', 'wikipedia link'], dtype='object')

In [35]:
df_wiki = pd.merge(left=df_wiki, right=df_only_wiki, how='inner', on='Index')
df_wiki

      Index  ...                                     wikipedia link
0      3333  ...                                                NaN
1      3335  ...                                                NaN
2      3336  ...                                                NaN
3      3337  ...                                                NaN
4      3338  ...                                                NaN
...     ...  ...                                                ...
2997   6792  ...        https://en.wikipedia.org/wiki/Cyclone_Lorna
2998   6793  ...         https://en.wikipedia.org/wiki/Cyclone_Fani
2999   6794  ...  https://en.wikipedia.org/wiki/Cyclone_Lili_(2019)
3000   6795  ...   https://en.wikipedia.org/wiki/Cyclone_Ann_(2019)
3001   6796  ...     https://en.wikipedia.org/wiki/Hurricane_Andrea

[3002 rows x 11 columns]

In [0]:
df_wiki_try = df_wiki.copy()

In [0]:
df_wiki_try = df_wiki_try.set_index("Index")
for index, row in df_wiki_try.iterrows():
    if pd.notnull(row['Num affected']) and pd.notnull(row['Num homeless']) and pd.notnull(row['Num injured']):
        df_wiki_try = df_wiki_try.drop(index, axis=0)

In [0]:
df_wiki_try

          NAME  ...                                     wikipedia link
Index           ...
0        DELLA  ...                                                NaN
1         RENA  ...  https://en.wikipedia.org/wiki/Typhoon_Rena_(1949)
2         JANE  ...       https://en.wikipedia.org/wiki/Hurricane_Jane
3         IRIS  ...  https://en.wikipedia.org/wiki/Typhoon_Iris_(1951)
4      CHARLIE  ...  https://en.wikipedia.org/wiki/Hurricane_Charli...
...        ...  ...                                                ...
979       GAJA  ...         https://en.wikipedia.org/wiki/Cyclone_Gaja
980     TORAJI  ...       https://en.wikipedia.org/wiki/Typhoon_Toraji
981    PHETHAI  ...      https://en.wikipedia.org/wiki/Cyclone_Phethai
982      PABUK  ...  https://en.wikipedia.org/wiki/Tropical_Storm_P...
983    KENNETH  ...  https://en.wikipedia.org/wiki/Cyclone_Kenneth_...

[887 rows x 7 columns]

In [0]:
df_wiki.to_csv('/content/drive/My Drive/Colab Notebooks/Omdena/empty_pop_wiki.csv')
#df_wiki_try.to_csv('/content/drive/My Drive/Colab Notebooks/Omdena/df_wiki_try.csv')

In [38]:
df_wiki.head(10)

   Index  ...                                     wikipedia link
0   3333  ...                                                NaN
1   3335  ...                                                NaN
2   3336  ...                                                NaN
3   3337  ...                                                NaN
4   3338  ...                                                NaN
5   3339  ...      https://en.wikipedia.org/wiki/Hurricane_Betsy
6   3340  ...  https://en.wikipedia.org/wiki/Cyclone_Cliff_(1...
7   3341  ...        https://en.wikipedia.org/wiki/Cyclone_Eddie
8   3342  ...                                               None
9   3343  ...                                               None

[10 rows x 11 columns]