In [46]:
#Import data - Took only required columns from the dataset
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib
from matplotlib import pyplot as plt
ds = pd.read_csv('C:/Users/Desktop/Challenge/WBI/ORIGINAL_POPULATION_BY_AGE_BOTH_SEXES.csv', encoding='windows-1252')

In [9]:
#Explore the first few rows of the dataset - Could see for each country we could see around 15 rows
ds.head(20)

,Index,Country,Notes,Country code,Parent code,Referencedate,TOTAL POP,0-4(%),5-9(%),10-14(%),15-19(%),20-39(%),40-59(%),60+ (%)
0,1,Afghanistan,NaN,4,5501,1950,7 752,16.70%,12.90%,11.40%,10.10%,28.70%,15.10%,5.00%
1,2,Afghanistan,NaN,4,5501,1955,8 271,16.40%,13.40%,11.70%,10.20%,28.80%,14.60%,4.90%
2,3,Afghanistan,NaN,4,5501,1960,8 997,17.10%,13.10%,11.90%,10.30%,28.70%,14.20%,4.70%
3,4,Afghanistan,NaN,4,5501,1965,9 956,17.80%,13.70%,11.50%,10.30%,28.30%,13.80%,4.60%
4,5,Afghanistan,NaN,4,5501,1970,11 174,18.30%,14.20%,11.90%,9.90%,27.80%,13.50%,4.40%
5,6,Afghanistan,NaN,4,5501,1975,12 689,18.60%,14.60%,12.20%,10.10%,27.10%,13.20%,4.30%
6,7,Afghanistan,NaN,4,5501,1980,13 357,18.90%,14.90%,12.40%,10.30%,26.80%,12.60%,4.10%
7,8,Afghanistan,NaN,4,5501,1985,11 938,19.40%,15.50%,12.60%,10.40%,26.80%,11.50%,3.80%
8,9,Afghanistan,NaN,4,5501,1990,12 412,19.40%,15.80%,13.10%,10.50%,26.10%,11.40%,3.60%
9,10,Afghanistan,NaN,4,5501,1995,18 111,19.40%,15.50%,12.90%,10.70%,26.00%,11.70%,3.80%
10,11,Afghanistan,NaN,4,5501,2000,20 780,20.00%,15.80%,13.00%,10.60%,25.40%,11.40%,3.70%
11,12,Afghanistan,NaN,4,5501,2005,25 654,19.10%,15.90%,12.80%,10.80%,26.50%,11.20%,3.70%
12,13,Afghanistan,NaN,4,5501,2010,29 186,18.20%,16.20%,13.70%,10.60%,26.10%,11.20%,3.90%
13,14,Afghanistan,NaN,4,5501,2015,34 414,16.00%,15.20%,13.70%,11.80%,27.80%,11.50%,4.00%
14,15,Afghanistan,NaN,4,5501,2020,38 928,14.60%,13.90%,13.30%,11.90%,29.70%,12.30%,4.20%
15,16,Albania,NaN,8,925,1950,1 263,14.30%,12.50%,11.60%,9.60%,26.80%,15.40%,9.70%
16,17,Albania,NaN,8,925,1955,1 420,15.70%,12.10%,11.00%,10.30%,27.00%,15.60%,8.30%
17,18,Albania,NaN,8,925,1960,1 636,16.70%,13.10%,10.40%,9.50%,27.40%,15.00%,8.00%
18,19,Albania,NaN,8,925,1965,1 896,16.30%,14.00%,11.20%,9.00%,27.30%,14.50%,7.70%
19,20,Albania,NaN,8,925,1970,2 151,14.50%,14.10%,12.30%,9.90%,26.90%,14.60%,7.70%

In [17]:
# Checking the number of null values. Notes column can be ignored.
ds.isnull().sum()

Index               0
Country             0
Notes            2460
Country code        0
Parent code         0
Referencedate       0
TOTAL POP           0
0-4(%)              0
5-9(%)              0
10-14(%)            0
15-19(%)            0
20-39(%)            0
40-59(%)            0
60+ (%)             0
dtype: int64

In [18]:
#value_counts() with default parameters
ds['Country'].value_counts()

Ecuador              15
Malawi               15
Guinea               15
New Zealand          15
Sudan                15
                     ..
Equatorial Guinea    15
Bhutan               15
Mauritania           15
Gambia               15
Bahrain              15
Name: Country, Length: 201, dtype: int64

In [32]:
#value_counts() with default parameters.Sanitary check on column Country to confirm that each country has 15 rows( 1950- 2020)
vc = ds.Country.value_counts()
vc[vc>15].index.tolist()

[]

In [34]:
ds1 = pd.read_csv('C:/Users/Desktop/Challenge/WBI/0_MERGED_World_Development_Indicators.csv', encoding='windows-1252')
ds1.head(20)

,Country Name,Country Code,Series Name,Series Code,1960 [YR1960],1961 [YR1961],1962 [YR1962],1963 [YR1963],1964 [YR1964],1965 [YR1965],...,2010 [YR2010],2011 [YR2011],2012 [YR2012],2013 [YR2013],2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019]
0,American Samoa,ASM,Access to clean fuels and technologies for coo...,EG.CFT.ACCS.ZS,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,..,..
1,American Samoa,ASM,Access to electricity (% of population),EG.ELC.ACCS.ZS,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,..,..
2,American Samoa,ASM,"Access to electricity, rural (% of rural popul...",EG.ELC.ACCS.RU.ZS,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,..,..
3,American Samoa,ASM,"Access to electricity, urban (% of urban popul...",EG.ELC.ACCS.UR.ZS,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,..,..
4,American Samoa,ASM,Account ownership at a financial institution o...,FX.OWN.TOTL.ZS,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,..,..
5,American Samoa,ASM,Account ownership at a financial institution o...,FX.OWN.TOTL.FE.ZS,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,..,..
6,American Samoa,ASM,Account ownership at a financial institution o...,FX.OWN.TOTL.MA.ZS,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,..,..
7,American Samoa,ASM,Account ownership at a financial institution o...,FX.OWN.TOTL.OL.ZS,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,..,..
8,American Samoa,ASM,Account ownership at a financial institution o...,FX.OWN.TOTL.40.ZS,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,..,..
9,American Samoa,ASM,Account ownership at a financial institution o...,FX.OWN.TOTL.PL.ZS,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,..,..
10,American Samoa,ASM,Account ownership at a financial institution o...,FX.OWN.TOTL.60.ZS,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,..,..
11,American Samoa,ASM,Account ownership at a financial institution o...,FX.OWN.TOTL.SO.ZS,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,..,..
12,American Samoa,ASM,Account ownership at a financial institution o...,FX.OWN.TOTL.YG.ZS,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,..,..
13,American Samoa,ASM,Adequacy of social insurance programs (% of to...,per_si_allsi.adq_pop_tot,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,..,..
14,American Samoa,ASM,Adequacy of social protection and labor progra...,per_allsp.adq_pop_tot,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,..,..
15,American Samoa,ASM,Adequacy of social safety net programs (% of t...,per_sa_allsa.adq_pop_tot,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,..,..
16,American Samoa,ASM,Adequacy of unemployment benefits and ALMP (% ...,per_lm_alllm.adq_pop_tot,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,..,..
17,American Samoa,ASM,"Adjusted net enrollment rate, primary (% of pr...",SE.PRM.TENR,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,..,..
18,American Samoa,ASM,"Adjusted net enrollment rate, primary, female ...",SE.PRM.TENR.FE,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,..,..
19,American Samoa,ASM,"Adjusted net enrollment rate, primary, male (%...",SE.PRM.TENR.MA,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,..,..

In [39]:
ds1['Country Name'].value_counts()
#Series Name 1429 different values for each country

Cote d'Ivoire      1429
Slovak Republic    1429
Iraq               1429
Montenegro         1429
Cabo Verde         1429
                   ...
Netherlands        1429
Jordan             1429
Sri Lanka          1429
Austria            1429
Congo, Rep.        1429
Name: Country Name, Length: 217, dtype: int64

In [40]:
ds1['Series Name'].value_counts()
#total 217 Countries

Service exports (BoP, current US$)                                                        217
Tuberculosis treatment success rate (% of new cases)                                      217
Insurance and financial services (% of service imports, BoP)                              217
Logistics performance index: Ability to track and trace consignments (1=low to 5=high)    217
Unemployment, total (% of total labor force) (national estimate)                          217
                                                                                         ...
Agricultural raw materials imports (% of merchandise imports)                             217
ICT goods imports (% total goods imports)                                                 217
Incidence of malaria (per 1,000 population at risk)                                       217
Employers, male (% of male employment) (modeled ILO estimate)                             217
Real interest rate (%)                                                                    217
Name: Series Name, Length: 1429, dtype: int64

In [41]:
#All countries have 1429 series values
vc1 = ds1['Country Name'].value_counts()
vc1[vc1>1429].index.tolist()

[]

# Our goal is to Downsize the no.of series names from  1429 to 80-100 series and join it with Population dataset

In [42]:
#descriptive statistics for all the columns
ds1.describe(include='all')

,Country Name,Country Code,Series Name,Series Code,1960 [YR1960],1961 [YR1961],1962 [YR1962],1963 [YR1963],1964 [YR1964],1965 [YR1965],...,2010 [YR2010],2011 [YR2011],2012 [YR2012],2013 [YR2013],2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019]
count,310093,310093,310093,310093,310093,310093,310093,310093,310093,310093,...,310093,310093,310093,310093,310093,310093,310093,310093,310093,310093
unique,217,217,1429,1429,27218,30300,31829,31879,32351,33880,...,133974,136437,137677,134696,138431,131605,130327,120614,97138,11186
top,Cote d'Ivoire,MAF,"Service exports (BoP, current US$)",IC.FRM.THEV.ZS,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,..,..
freq,1429,1429,217,217,279848,276933,275126,275166,274647,272488,...,133001,139476,138357,141696,137480,141540,143718,158335,187486,291039

In [44]:
#The number of entries in the dataset:
print(ds1.shape)

(310093, 64)

In [49]:
ds1.columns

Index(['Country Name', 'Country Code', 'Series Name', 'Series Code',
       '1960 [YR1960]', '1961 [YR1961]', '1962 [YR1962]', '1963 [YR1963]',
       '1964 [YR1964]', '1965 [YR1965]', '1966 [YR1966]', '1967 [YR1967]',
       '1968 [YR1968]', '1969 [YR1969]', '1970 [YR1970]', '1971 [YR1971]',
       '1972 [YR1972]', '1973 [YR1973]', '1974 [YR1974]', '1975 [YR1975]',
       '1976 [YR1976]', '1977 [YR1977]', '1978 [YR1978]', '1979 [YR1979]',
       '1980 [YR1980]', '1981 [YR1981]', '1982 [YR1982]', '1983 [YR1983]',
       '1984 [YR1984]', '1985 [YR1985]', '1986 [YR1986]', '1987 [YR1987]',
       '1988 [YR1988]', '1989 [YR1989]', '1990 [YR1990]', '1991 [YR1991]',
       '1992 [YR1992]', '1993 [YR1993]', '1994 [YR1994]', '1995 [YR1995]',
       '1996 [YR1996]', '1997 [YR1997]', '1998 [YR1998]', '1999 [YR1999]',
       '2000 [YR2000]', '2001 [YR2001]', '2002 [YR2002]', '2003 [YR2003]',
       '2004 [YR2004]', '2005 [YR2005]', '2006 [YR2006]', '2007 [YR2007]',
       '2008 [YR2008]', '2009 [YR2009]', '2010 [YR2010]', '2011 [YR2011]',
       '2012 [YR2012]', '2013 [YR2013]', '2014 [YR2014]', '2015 [YR2015]',
       '2016 [YR2016]', '2017 [YR2017]', '2018 [YR2018]', '2019 [YR2019]'],
      dtype='object')

In [53]:
India_df1 = ds1[ds1['Country Name']=='India']

In [54]:
India_df1.head(10)

,Country Name,Country Code,Series Name,Series Code,1960 [YR1960],1961 [YR1961],1962 [YR1962],1963 [YR1963],1964 [YR1964],1965 [YR1965],...,2010 [YR2010],2011 [YR2011],2012 [YR2012],2013 [YR2013],2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019]
234356,India,IND,Access to clean fuels and technologies for coo...,EG.CFT.ACCS.ZS,..,..,..,..,..,..,...,34.4,35.42,36.64,37.81,38.8,39.88,41.04,..,..,..
234357,India,IND,Access to electricity (% of population),EG.ELC.ACCS.ZS,..,..,..,..,..,..,...,76.3,67.6,79.9,80.87475586,83.62010956,88,89.64585876,92.61865997,..,..
234358,India,IND,"Access to electricity, rural (% of rural popul...",EG.ELC.ACCS.RU.ZS,..,..,..,..,..,..,...,68.39299752,56.09592636,72.36274717,73.55278832,77.11640749,83.36654488,85.21428423,89.30655492,..,..
234359,India,IND,"Access to electricity, urban (% of urban popul...",EG.ELC.ACCS.UR.ZS,..,..,..,..,..,..,...,94,92.9,96.1,96.50080872,97.17295837,97.5,98.52790833,99.20680237,..,..
234360,India,IND,Account ownership at a financial institution o...,FX.OWN.TOTL.ZS,..,..,..,..,..,..,...,..,35.23183823,..,..,53.14155197,..,..,79.87532806,..,..
234361,India,IND,Account ownership at a financial institution o...,FX.OWN.TOTL.FE.ZS,..,..,..,..,..,..,...,..,26.4905014,..,..,43.13261032,..,..,76.63963318,..,..
234362,India,IND,Account ownership at a financial institution o...,FX.OWN.TOTL.MA.ZS,..,..,..,..,..,..,...,..,43.73707581,..,..,62.76336288,..,..,83.00899506,..,..
234363,India,IND,Account ownership at a financial institution o...,FX.OWN.TOTL.OL.ZS,..,..,..,..,..,..,...,..,38.02606201,..,..,56.81197739,..,..,83.08431244,..,..
234364,India,IND,Account ownership at a financial institution o...,FX.OWN.TOTL.40.ZS,..,..,..,..,..,..,...,..,26.97145081,..,..,43.61067581,..,..,77.08294678,..,..
234365,India,IND,Account ownership at a financial institution o...,FX.OWN.TOTL.PL.ZS,..,..,..,..,..,..,...,..,30.5149231,..,..,43.35340881,..,..,75.36954498,..,..

Need to understand what all series can be included , correlation may not be feasible here need to explore the series and get which may impact us and bring that data alone for further analysis