## Analyzing correlation  and NaN in World Bank Indicators
*@XavierTorres*

In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('C:/Users/torre/Documents/Local Omdena WFP files/WorldBank/Part1/0_MERGED_World_Development_Indicators.csv', sep=';')

In [3]:
print(df.shape)
df.columns

(310093, 64)

Index(['Country Name', 'Country Code', 'Series Name', 'Series Code',
       '1960 [YR1960]', '1961 [YR1961]', '1962 [YR1962]', '1963 [YR1963]',
       '1964 [YR1964]', '1965 [YR1965]', '1966 [YR1966]', '1967 [YR1967]',
       '1968 [YR1968]', '1969 [YR1969]', '1970 [YR1970]', '1971 [YR1971]',
       '1972 [YR1972]', '1973 [YR1973]', '1974 [YR1974]', '1975 [YR1975]',
       '1976 [YR1976]', '1977 [YR1977]', '1978 [YR1978]', '1979 [YR1979]',
       '1980 [YR1980]', '1981 [YR1981]', '1982 [YR1982]', '1983 [YR1983]',
       '1984 [YR1984]', '1985 [YR1985]', '1986 [YR1986]', '1987 [YR1987]',
       '1988 [YR1988]', '1989 [YR1989]', '1990 [YR1990]', '1991 [YR1991]',
       '1992 [YR1992]', '1993 [YR1993]', '1994 [YR1994]', '1995 [YR1995]',
       '1996 [YR1996]', '1997 [YR1997]', '1998 [YR1998]', '1999 [YR1999]',
       '2000 [YR2000]', '2001 [YR2001]', '2002 [YR2002]', '2003 [YR2003]',
       '2004 [YR2004]', '2005 [YR2005]', '2006 [YR2006]', '2007 [YR2007]',
       '2008 [YR2008]', '2009 [YR2009]', '2010 [YR2010]', '2011 [YR2011]',
       '2012 [YR2012]', '2013 [YR2013]', '2014 [YR2014]', '2015 [YR2015]',
       '2016 [YR2016]', '2017 [YR2017]', '2018 [YR2018]', '2019 [YR2019]'],
      dtype='object')

In [4]:
df.dtypes

Country Name      object
Country Code      object
Series Name       object
Series Code       object
1960 [YR1960]    float64
                  ...
2015 [YR2015]    float64
2016 [YR2016]    float64
2017 [YR2017]    float64
2018 [YR2018]    float64
2019 [YR2019]    float64
Length: 64, dtype: object

In [5]:
df.head()

,Country Name,Country Code,Series Name,Series Code,1960 [YR1960],1961 [YR1961],1962 [YR1962],1963 [YR1963],1964 [YR1964],1965 [YR1965],...,2010 [YR2010],2011 [YR2011],2012 [YR2012],2013 [YR2013],2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019]
0,American Samoa,ASM,Access to clean fuels and technologies for coo...,EG.CFT.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,American Samoa,ASM,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,American Samoa,ASM,"Access to electricity, rural (% of rural popul...",EG.ELC.ACCS.RU.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,American Samoa,ASM,"Access to electricity, urban (% of urban popul...",EG.ELC.ACCS.UR.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,American Samoa,ASM,Account ownership at a financial institution o...,FX.OWN.TOTL.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
#Checking float types are ok
df[df.columns[4:63]].sum()

1960 [YR1960]    8.783081e+15
1961 [YR1961]    9.482737e+15
1962 [YR1962]    1.003129e+16
1963 [YR1963]    1.030398e+16
1964 [YR1964]    1.111766e+16
1965 [YR1965]    1.250928e+16
1966 [YR1966]    1.340417e+16
1967 [YR1967]    1.459120e+16
1968 [YR1968]    1.679504e+16
1969 [YR1969]    1.871992e+16
1970 [YR1970]    2.229198e+16
1971 [YR1971]    2.484404e+16
1972 [YR1972]    2.835304e+16
1973 [YR1973]    3.209099e+16
1974 [YR1974]    3.942078e+16
1975 [YR1975]    4.212301e+16
1976 [YR1976]    4.867959e+16
1977 [YR1977]    4.961316e+16
1978 [YR1978]    4.972554e+16
1979 [YR1979]    4.878304e+16
1980 [YR1980]    4.471218e+16
1981 [YR1981]    4.508473e+16
1982 [YR1982]    4.899715e+16
1983 [YR1983]    6.603244e+16
1984 [YR1984]    7.335676e+16
1985 [YR1985]    8.535982e+16
1986 [YR1986]    8.361051e+16
1987 [YR1987]    8.018993e+16
1988 [YR1988]    6.037822e+16
1989 [YR1989]    6.807808e+16
1990 [YR1990]    8.570620e+16
1991 [YR1991]    8.696687e+16
1992 [YR1992]    9.255724e+16
1993 [YR1993]    1.028226e+17
1994 [YR1994]    1.186282e+17
1995 [YR1995]    1.285129e+17
1996 [YR1996]    1.220719e+17
1997 [YR1997]    1.249771e+17
1998 [YR1998]    1.119710e+17
1999 [YR1999]    1.116634e+17
2000 [YR2000]    1.164231e+17
2001 [YR2001]    1.210802e+17
2002 [YR2002]    1.537625e+17
2003 [YR2003]    1.469829e+17
2004 [YR2004]    1.772152e+17
2005 [YR2005]    1.913498e+17
2006 [YR2006]    2.165764e+17
2007 [YR2007]    2.666874e+17
2008 [YR2008]    3.000492e+17
2009 [YR2009]    3.150525e+17
2010 [YR2010]    3.759997e+17
2011 [YR2011]    4.211480e+17
2012 [YR2012]    4.549504e+17
2013 [YR2013]    5.066117e+17
2014 [YR2014]    5.544792e+17
2015 [YR2015]    5.773187e+17
2016 [YR2016]    6.303486e+17
2017 [YR2017]    6.547295e+17
2018 [YR2018]    4.754717e+17
dtype: float64

In [7]:
df.head(10)

,Country Name,Country Code,Series Name,Series Code,1960 [YR1960],1961 [YR1961],1962 [YR1962],1963 [YR1963],1964 [YR1964],1965 [YR1965],...,2010 [YR2010],2011 [YR2011],2012 [YR2012],2013 [YR2013],2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019]
0,American Samoa,ASM,Access to clean fuels and technologies for coo...,EG.CFT.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,American Samoa,ASM,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,American Samoa,ASM,"Access to electricity, rural (% of rural popul...",EG.ELC.ACCS.RU.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,American Samoa,ASM,"Access to electricity, urban (% of urban popul...",EG.ELC.ACCS.UR.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,American Samoa,ASM,Account ownership at a financial institution o...,FX.OWN.TOTL.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,American Samoa,ASM,Account ownership at a financial institution o...,FX.OWN.TOTL.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,American Samoa,ASM,Account ownership at a financial institution o...,FX.OWN.TOTL.MA.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,American Samoa,ASM,Account ownership at a financial institution o...,FX.OWN.TOTL.OL.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,American Samoa,ASM,Account ownership at a financial institution o...,FX.OWN.TOTL.40.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,American Samoa,ASM,Account ownership at a financial institution o...,FX.OWN.TOTL.PL.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
# Let's check, since 2010, which year har mode filled data. We will analyze correlations based on that year
df_last10 = df[df.columns[-10:]]

for item in (df_last10.columns):
    print(item," has a total of non null items =", df_last10[item].notnull().sum())

2010 [YR2010]  has a total of non null items = 177092
2011 [YR2011]  has a total of non null items = 170617
2012 [YR2012]  has a total of non null items = 171736
2013 [YR2013]  has a total of non null items = 168397
2014 [YR2014]  has a total of non null items = 172613
2015 [YR2015]  has a total of non null items = 168553
2016 [YR2016]  has a total of non null items = 166375
2017 [YR2017]  has a total of non null items = 151758
2018 [YR2018]  has a total of non null items = 122607
2019 [YR2019]  has a total of non null items = 19054

It seems that 2010 has the least non-null values, but to avoid effects of 2008 crisis, let's work with the next year with least non-null values. That is year **2014**.

## Adapting the dataset to analyze correlation

In [9]:
df_2014 = df[df.columns[[0,2,58]]]

In [10]:
df_2014.head()

,Country Name,Series Name,2014 [YR2014]
0,American Samoa,Access to clean fuels and technologies for coo...,NaN
1,American Samoa,Access to electricity (% of population),NaN
2,American Samoa,"Access to electricity, rural (% of rural popul...",NaN
3,American Samoa,"Access to electricity, urban (% of urban popul...",NaN
4,American Samoa,Account ownership at a financial institution o...,NaN

In [11]:
df_2014 = df_2014.pivot(index='Country Name', columns='Series Name', values='2014 [YR2014]')

In [12]:
df_2014.index

Index(['Afghanistan', 'Albania', 'Algeria', 'American Samoa', 'Andorra',
       'Angola', 'Antigua and Barbuda', 'Argentina', 'Armenia', 'Aruba',
       ...
       'Uruguay', 'Uzbekistan', 'Vanuatu', 'Venezuela, RB', 'Vietnam',
       'Virgin Islands (U.S.)', 'West Bank and Gaza', 'Yemen, Rep.', 'Zambia',
       'Zimbabwe'],
      dtype='object', name='Country Name', length=217)

In [13]:
df_2014.corr()

Series Name,ARI treatment (% of children under 5 taken to a health provider),Access to clean fuels and technologies for cooking (% of population),Access to electricity (% of population),"Access to electricity, rural (% of rural population)","Access to electricity, urban (% of urban population)",Account ownership at a financial institution or with a mobile-money-service provider (% of population ages 15+),"Account ownership at a financial institution or with a mobile-money-service provider, female (% of population ages 15+)","Account ownership at a financial institution or with a mobile-money-service provider, male (% of population ages 15+)","Account ownership at a financial institution or with a mobile-money-service provider, older adults (% of population ages 25+)","Account ownership at a financial institution or with a mobile-money-service provider, poorest 40% (% of population ages 15+)",...,"Women participating in the three decisions (own health care, major household purchases, and visiting family) (% of women age 15-49)",Women who believe a husband is justified in beating his wife (any of five reasons) (%),Women who believe a husband is justified in beating his wife when she argues with him (%),Women who believe a husband is justified in beating his wife when she burns the food (%),Women who believe a husband is justified in beating his wife when she goes out without telling him (%),Women who believe a husband is justified in beating his wife when she neglects the children (%),Women who believe a husband is justified in beating his wife when she refuses sex with him (%),Women who were first married by age 15 (% of women ages 20-24),Women who were first married by age 18 (% of women ages 20-24),Women's share of population ages 15+ living with HIV (%)
Series Name,,,,,,,,,,,,,,,,,,,,,
ARI treatment (% of children under 5 taken to a health provider),1.000000,0.520567,0.523046,0.575848,0.472799,0.448445,0.441035,0.448397,0.435075,0.396552,...,0.748387,-0.530346,-0.457548,-0.190220,-0.241635,-0.032384,-0.317851,-0.474343,-0.338515,-0.500952
Access to clean fuels and technologies for cooking (% of population),0.520567,1.000000,0.867641,0.865065,0.737746,0.661415,0.660685,0.653764,0.667094,0.653264,...,0.141002,-0.624675,-0.353221,-0.291620,-0.089808,-0.218227,-0.006339,-0.291363,-0.337010,-0.713551
Access to electricity (% of population),0.523046,0.867641,1.000000,0.970590,0.907923,0.582748,0.577139,0.580852,0.584956,0.569405,...,0.137579,-0.624504,-0.602473,-0.505579,-0.255172,-0.408688,-0.273201,-0.301687,-0.321210,-0.761151
"Access to electricity, rural (% of rural population)",0.575848,0.865065,0.970590,1.000000,0.841668,0.605711,0.599790,0.603844,0.607189,0.598947,...,0.235372,-0.640532,-0.600260,-0.553364,-0.237802,-0.360556,-0.277442,-0.372739,-0.366566,-0.789272
"Access to electricity, urban (% of urban population)",0.472799,0.737746,0.907923,0.841668,1.000000,0.480833,0.477184,0.478003,0.479382,0.472263,...,0.227351,-0.509291,-0.671846,-0.558560,-0.348191,-0.414293,-0.458332,-0.205730,-0.215430,-0.676478
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Women who believe a husband is justified in beating his wife when she neglects the children (%),-0.032384,-0.218227,-0.408688,-0.360556,-0.414293,-0.148212,-0.135072,-0.152533,-0.166804,-0.143764,...,-0.155748,0.957319,0.795623,0.748031,0.915436,1.000000,0.779855,-0.162369,-0.040514,0.495791
Women who believe a husband is justified in beating his wife when she refuses sex with him (%),-0.317851,-0.006339,-0.273201,-0.277442,-0.458332,-0.332643,-0.337510,-0.322090,-0.294281,-0.379543,...,-0.599037,0.870692,0.884763,0.869836,0.912634,0.779855,1.000000,0.064130,0.180718,0.438030
Women who were first married by age 15 (% of women ages 20-24),-0.474343,-0.291363,-0.301687,-0.372739,-0.205730,-0.157892,-0.184064,-0.130961,-0.122304,-0.180022,...,-0.411195,0.114304,0.201741,0.012467,0.031549,-0.162369,0.064130,1.000000,0.929735,0.168971
Women who were first married by age 18 (% of women ages 20-24),-0.338515,-0.337010,-0.321210,-0.366566,-0.215430,-0.242480,-0.269625,-0.210565,-0.201697,-0.282517,...,-0.398262,0.189817,0.326116,0.154365,0.139051,-0.040514,0.180718,0.929735,1.000000,0.182155
Women's share of population ages 15+ living with HIV (%),-0.500952,-0.713551,-0.761151,-0.789272,-0.676478,-0.520653,-0.519801,-0.515571,-0.510141,-0.534764,...,-0.347711,0.624583,0.601651,0.554173,0.375932,0.495791,0.438030,0.168971,0.182155,1.000000

In [14]:
c = df_2014.corr() 
s = c.unstack()  # unstacking the correlation matrix 
so = pd.DataFrame(s.sort_values(kind="quicksort", ascending = False)) #sorting and assigning a DaataFrame

In [15]:
so.dtypes

0    float64
dtype: object

In [16]:
so.head()

                                                                                                         0
Series Name                                        Series Name
Investment in transport with private participat... Prevalence of severe wasting, weight for height...  1.0
General government final consumption expenditur... Annual freshwater withdrawals, agriculture (% o...  1.0
Goods and services expense (% of expense)          Condom use, population ages 15-24, male (% of m...  1.0
Government expenditure on education, total (% o... Annual freshwater withdrawals, total (billion c...  1.0
Government expenditure on education, total (% o... Survey mean consumption or income per capita, b...  1.0

In [17]:
#Renaming indexes and after reseting index
so.index.names = ['Series1','Series2']  
so.reset_index()

,Series1,Series2,0
0,Investment in transport with private participa...,"Prevalence of severe wasting, weight for heigh...",1.0
1,General government final consumption expenditu...,"Annual freshwater withdrawals, agriculture (% ...",1.0
2,Goods and services expense (% of expense),"Condom use, population ages 15-24, male (% of ...",1.0
3,"Government expenditure on education, total (% ...","Annual freshwater withdrawals, total (billion ...",1.0
4,"Government expenditure on education, total (% ...","Survey mean consumption or income per capita, ...",1.0
...,...,...,...
2042036,Women's share of population ages 15+ living wi...,Urban land area where elevation is below 5 met...,NaN
2042037,Women's share of population ages 15+ living wi...,Urban land area where elevation is below 5 met...,NaN
2042038,Women's share of population ages 15+ living wi...,Urban population living in areas where elevati...,NaN
2042039,Women's share of population ages 15+ living wi...,Urban poverty gap at national poverty lines (%),NaN
2042040,Women's share of population ages 15+ living wi...,Urban poverty headcount ratio at national pove...,NaN

In [18]:
so.head()

                                                                                                         0
Series1                                            Series2
Investment in transport with private participat... Prevalence of severe wasting, weight for height...  1.0
General government final consumption expenditur... Annual freshwater withdrawals, agriculture (% o...  1.0
Goods and services expense (% of expense)          Condom use, population ages 15-24, male (% of m...  1.0
Government expenditure on education, total (% o... Annual freshwater withdrawals, total (billion c...  1.0
Government expenditure on education, total (% o... Survey mean consumption or income per capita, b...  1.0

In [20]:
so.to_csv(r'C:/Users/torre/Documents/Local Omdena WFP files/WorldBank/Part1/WBI_Correlations.csv', index = True)

## Ranking of Series with least NaN

In [21]:
df_2014.head()

Series Name,ARI treatment (% of children under 5 taken to a health provider),Access to clean fuels and technologies for cooking (% of population),Access to electricity (% of population),"Access to electricity, rural (% of rural population)","Access to electricity, urban (% of urban population)",Account ownership at a financial institution or with a mobile-money-service provider (% of population ages 15+),"Account ownership at a financial institution or with a mobile-money-service provider, female (% of population ages 15+)","Account ownership at a financial institution or with a mobile-money-service provider, male (% of population ages 15+)","Account ownership at a financial institution or with a mobile-money-service provider, older adults (% of population ages 25+)","Account ownership at a financial institution or with a mobile-money-service provider, poorest 40% (% of population ages 15+)",...,"Women participating in the three decisions (own health care, major household purchases, and visiting family) (% of women age 15-49)",Women who believe a husband is justified in beating his wife (any of five reasons) (%),Women who believe a husband is justified in beating his wife when she argues with him (%),Women who believe a husband is justified in beating his wife when she burns the food (%),Women who believe a husband is justified in beating his wife when she goes out without telling him (%),Women who believe a husband is justified in beating his wife when she neglects the children (%),Women who believe a husband is justified in beating his wife when she refuses sex with him (%),Women who were first married by age 15 (% of women ages 20-24),Women who were first married by age 18 (% of women ages 20-24),Women's share of population ages 15+ living with HIV (%)
Country Name,,,,,,,,,,,,,,,,,,,,,
Afghanistan,NaN,27.99,89.500000,86.500512,98.700000,9.961000,3.812426,15.784667,11.508445,6.070460,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,32.8,28.9
Albania,NaN,73.98,100.000000,100.000000,100.000000,37.986355,33.594234,42.519691,40.402702,23.890097,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Algeria,NaN,93.10,99.877052,99.668541,99.965477,50.475788,40.070965,60.909081,57.482559,36.971073,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,44.7
American Samoa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Andorra,NaN,100.00,100.000000,100.000000,100.000000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [35]:
df_2014_No_missing = df_2014.isna().sum()

In [36]:
df_2014_No_missing.head()

Series Name
ARI treatment (% of children under 5 taken to a health provider)        186
Access to clean fuels and technologies for cooking (% of population)     28
Access to electricity (% of population)                                   2
Access to electricity, rural (% of rural population)                      3
Access to electricity, urban (% of urban population)                      2
dtype: int64

In [37]:
df_2014_No_missing.sort_values(inplace = True, ascending = False)

In [38]:
df_2014_No_missing.head()

Series Name
Mortality rate attributed to unintentional poisoning (per 100,000 population)                           217
Suicide mortality rate (per 100,000 population)                                                         217
Present value of external debt (% of exports of goods, services and primary income)                     217
Present value of external debt (current US$)                                                            217
Total alcohol consumption per capita (liters of pure alcohol, projected estimates, 15+ years of age)    217
dtype: int64

In [39]:
df_2014_No_missing.tail()

Series Name
Total fisheries production (metric tons)                        1
Population, total                                               1
Capture fisheries production (metric tons)                      1
Adjusted savings: mineral depletion (current US$)               0
Renewable electricity output (% of total electricity output)    0
dtype: int64

In [42]:
df_2014_No_missing.to_csv(r'C:/Users/torre/Documents/Local Omdena WFP files/WorldBank/Part1/WBI_2014_No_missing.csv', index = True, sep=";")

C:\Users\torre\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: The signature of `Series.to_csv` was aligned to that of `DataFrame.to_csv`, and argument 'header' will change its default value from False to True: please pass an explicit value to suppress this warning.
  """Entry point for launching an IPython kernel.