## Merging WBI dataset with cyclone dataset

In [1]:
import numpy as np
import pandas as pd

In [2]:
#Importing WBI Dataset (the final and cleaned one, called OUTPUT....)
df_WBI = pd.read_csv('Data_output/WBI_Final_IL.csv', sep=';', low_memory = False)

In [3]:
#Importing cyclones dataset... 
df_cyclones = pd.read_csv('Data_input/Master_708.csv', sep=';', low_memory = False)

In [4]:
df_WBI.head()

,Year,Country Code,Country Name,"Air transport, freight (million ton-km)",Arable land (hectares per person),Cereal yield (kg per hectare),Food production index (2004-2006 = 100),GDP growth (annual %),GDP per capita (constant 2010 US$),Net flows from UN agencies US$,"Life expectancy at birth, total (years)",Mobile cellular subscriptions (per 100 people),Population density (people per sq. km of land area),Adjusted savings: education expenditure (% of GNI),Rural population (% of total population),Income_level_Final
0,1949,AUS,Australia,NaN,2.879424,1083.9,36.64,NaN,19378.37079,0.0,70.817073,NaN,1.364565,4.981227,18.471,High
1,1950,AUS,Australia,NaN,2.879424,1083.9,36.64,NaN,19378.37079,0.0,70.817073,NaN,1.364565,4.981227,18.471,High
2,1951,AUS,Australia,NaN,2.879424,1083.9,36.64,NaN,19378.37079,0.0,70.817073,NaN,1.364565,4.981227,18.471,High
3,1952,AUS,Australia,NaN,2.879424,1083.9,36.64,NaN,19378.37079,0.0,70.817073,NaN,1.364565,4.981227,18.471,High
4,1953,AUS,Australia,NaN,2.879424,1083.9,36.64,NaN,19378.37079,0.0,70.817073,NaN,1.364565,4.981227,18.471,High

In [5]:
df_cyclones.head()

,SID,ISO,NAME,BASIN,SUBBASIN,NATURE,TRACK_TYPE,ISO_TIME,COORDS,TOTAL_HRS,...,96kn_assets,Year,Event name,Num homeless,Total affected,Total damage ('000$),CPI,Final_Num_Affected,Final_Num_Homeless,Final_Num_Injured
0,1949163N07145,JPN,DELLA,WP,WP,ET,main,"['1949-06-20 15:00:00', '1949-06-20 18:00:00',...","[[31.99, 130.68], [33.52, 130.97], [41.0, 140....",12,...,NaN,1949,DELLA,NaN,194046.0,NaN,9.327572,194046,0,0
1,1949313N06137,PHL,RENA,WP,WP,TS,main,"['1949-11-11 09:00:00', '1949-11-11 15:00:00',...","[[9.49, 125.55], [9.99, 124.0], [10.3, 123.13]...",12,...,NaN,1949,RENA,NaN,NaN,NaN,9.327572,0,0,0
2,1950241N23140,JPN,JANE,WP,WP,TS,main,"['1950-09-03 03:00:00', '1950-09-03 06:00:00',...","[[34.94, 135.48], [36.1, 136.09], [37.27, 136....",21,...,NaN,1950,JANE,NaN,642117.0,NaN,9.431937,642117,0,0
3,1951119N06145,PHL,IRIS,WP,WP,TS,main,"['1951-05-04 21:00:00', '1951-05-05 00:00:00',...","[[11.99, 125.07], [12.12, 124.72], [13.73, 121...",6,...,1.283009e+10,1951,IRIS,NaN,NaN,NaN,10.175534,0,0,82
4,1951224N12316,JAM,CHARLIE,NAm,NAm,TS,main,"['1951-08-18 03:00:00', '1951-08-18 06:00:00']","[[17.9, -76.9], [18.1, -77.8]]",3,...,1.948346e+10,1951,CHARLIE,NaN,20200.0,56000.0,10.175534,20200,25000,2000

In [6]:
df_WBI.dtypes

Year                                                     int64
Country Code                                            object
Country Name                                            object
Air transport, freight (million ton-km)                float64
Arable land (hectares per person)                      float64
Cereal yield (kg per hectare)                          float64
Food production index (2004-2006 = 100)                float64
GDP growth (annual %)                                  float64
GDP per capita (constant 2010 US$)                     float64
Net flows from UN agencies US$                         float64
Life expectancy at birth, total (years)                float64
Mobile cellular subscriptions (per 100 people)         float64
Population density (people per sq. km of land area)    float64
Adjusted savings: education expenditure (% of GNI)     float64
Rural population (% of total population)               float64
Income_level_Final                                      object
dtype: object

In [7]:
df_cyclones.dtypes

SID                      object
ISO                      object
NAME                     object
BASIN                    object
SUBBASIN                 object
NATURE                   object
TRACK_TYPE               object
ISO_TIME                 object
COORDS                   object
TOTAL_HRS                 int64
DAY_HRS                   int64
NIGHT_HRS                 int64
USA_SSHS                float64
PRES_CALC_mean          float64
STORM_SPD_mean          float64
STORM_DR_mean           float64
genesis_basin            object
v_land_kn               float64
34kn_pop                float64
34kn_assets             float64
64kn_pop                float64
64kn_assets             float64
96kn_pop                float64
96kn_assets             float64
Year                      int64
Event name               object
Num homeless            float64
Total affected          float64
Total damage ('000$)    float64
CPI                     float64
Final_Num_Affected        int64
Final_Num_Homeless       object
Final_Num_Injured        object
dtype: object

### Merging datasets

In [8]:
df_cyclones = pd.merge(df_cyclones, df_WBI, how='inner', left_on=['ISO', 'Year'], right_on= ['Country Code', 'Year'])

In [9]:
df_cyclones = df_cyclones.drop(columns = ['Country Code', 'Country Name'])

In [10]:
df_cyclones.head()

,SID,ISO,NAME,BASIN,SUBBASIN,NATURE,TRACK_TYPE,ISO_TIME,COORDS,TOTAL_HRS,...,Food production index (2004-2006 = 100),GDP growth (annual %),GDP per capita (constant 2010 US$),Net flows from UN agencies US$,"Life expectancy at birth, total (years)",Mobile cellular subscriptions (per 100 people),Population density (people per sq. km of land area),Adjusted savings: education expenditure (% of GNI),Rural population (% of total population),Income_level_Final
0,1949163N07145,JPN,DELLA,WP,WP,ET,main,"['1949-06-20 15:00:00', '1949-06-20 18:00:00',...","[[31.99, 130.68], [33.52, 130.97], [41.0, 140....",12,...,67.79,NaN,8607.657082,0.0,67.666098,NaN,258.911917,2.867878,36.728,Low
1,1949313N06137,PHL,RENA,WP,WP,TS,main,"['1949-11-11 09:00:00', '1949-11-11 15:00:00',...","[[9.49, 125.55], [9.99, 124.0], [10.3, 123.13]...",12,...,25.68,NaN,1059.467412,0.0,61.105000,NaN,91.065000,2.757732,69.703,Low_Middle
2,1950241N23140,JPN,JANE,WP,WP,TS,main,"['1950-09-03 03:00:00', '1950-09-03 06:00:00',...","[[34.94, 135.48], [36.1, 136.09], [37.27, 136....",21,...,67.79,NaN,8607.657082,0.0,67.666098,NaN,258.911917,2.867878,36.728,Low
3,1951119N06145,PHL,IRIS,WP,WP,TS,main,"['1951-05-04 21:00:00', '1951-05-05 00:00:00',...","[[11.99, 125.07], [12.12, 124.72], [13.73, 121...",6,...,25.68,NaN,1059.467412,0.0,61.105000,NaN,91.065000,2.757732,69.703,Low_Middle
4,1951321N09143,PHL,WANDA,WP,WP,TS,main,"['1951-11-20 12:00:00', '1951-11-21 00:00:00',...","[[11.43, 125.35], [12.43, 123.27], [12.7, 121....",3,...,25.68,NaN,1059.467412,0.0,61.105000,NaN,91.065000,2.757732,69.703,Low_Middle

In [11]:
# Dropping unnecessary columns

df_cyclones = df_cyclones.drop(['TRACK_TYPE', 
                                'ISO_TIME',
                                'genesis_basin',
                                'Event name', 
                                'Num homeless',
                                'Total affected', 
                                'CPI'], 
                               axis=1)

In [12]:
df_cyclones.head()

,SID,ISO,NAME,BASIN,SUBBASIN,NATURE,COORDS,TOTAL_HRS,DAY_HRS,NIGHT_HRS,...,Food production index (2004-2006 = 100),GDP growth (annual %),GDP per capita (constant 2010 US$),Net flows from UN agencies US$,"Life expectancy at birth, total (years)",Mobile cellular subscriptions (per 100 people),Population density (people per sq. km of land area),Adjusted savings: education expenditure (% of GNI),Rural population (% of total population),Income_level_Final
0,1949163N07145,JPN,DELLA,WP,WP,ET,"[[31.99, 130.68], [33.52, 130.97], [41.0, 140....",12,0,12,...,67.79,NaN,8607.657082,0.0,67.666098,NaN,258.911917,2.867878,36.728,Low
1,1949313N06137,PHL,RENA,WP,WP,TS,"[[9.49, 125.55], [9.99, 124.0], [10.3, 123.13]...",12,11,1,...,25.68,NaN,1059.467412,0.0,61.105000,NaN,91.065000,2.757732,69.703,Low_Middle
2,1950241N23140,JPN,JANE,WP,WP,TS,"[[34.94, 135.48], [36.1, 136.09], [37.27, 136....",21,0,21,...,67.79,NaN,8607.657082,0.0,67.666098,NaN,258.911917,2.867878,36.728,Low
3,1951119N06145,PHL,IRIS,WP,WP,TS,"[[11.99, 125.07], [12.12, 124.72], [13.73, 121...",6,0,6,...,25.68,NaN,1059.467412,0.0,61.105000,NaN,91.065000,2.757732,69.703,Low_Middle
4,1951321N09143,PHL,WANDA,WP,WP,TS,"[[11.43, 125.35], [12.43, 123.27], [12.7, 121....",3,3,0,...,25.68,NaN,1059.467412,0.0,61.105000,NaN,91.065000,2.757732,69.703,Low_Middle

In [13]:
df_cyclones.columns

Index(['SID', 'ISO', 'NAME', 'BASIN', 'SUBBASIN', 'NATURE', 'COORDS',
       'TOTAL_HRS', 'DAY_HRS', 'NIGHT_HRS', 'USA_SSHS', 'PRES_CALC_mean',
       'STORM_SPD_mean', 'STORM_DR_mean', 'v_land_kn', '34kn_pop',
       '34kn_assets', '64kn_pop', '64kn_assets', '96kn_pop', '96kn_assets',
       'Year', 'Total damage ('000$)', 'Final_Num_Affected',
       'Final_Num_Homeless', 'Final_Num_Injured',
       'Air transport, freight (million ton-km)',
       'Arable land (hectares per person)', 'Cereal yield (kg per hectare)',
       'Food production index (2004-2006 = 100)', 'GDP growth (annual %)',
       'GDP per capita (constant 2010 US$)', 'Net flows from UN agencies US$',
       'Life expectancy at birth, total (years)',
       'Mobile cellular subscriptions (per 100 people)',
       'Population density (people per sq. km of land area)',
       'Adjusted savings: education expenditure (% of GNI)',
       'Rural population (% of total population)', 'Income_level_Final'],
      dtype='object')

In [16]:
# Arranging columns
df_cyclones = df_cyclones[['SID', 'ISO', 'NAME', 'COORDS','BASIN', 'SUBBASIN', 'NATURE',
                           'TOTAL_HRS', 'DAY_HRS', 'NIGHT_HRS', 'USA_SSHS', 'PRES_CALC_mean',
                           'STORM_SPD_mean', 'STORM_DR_mean', 'v_land_kn', '34kn_pop','34kn_assets', 
                           '64kn_pop', '64kn_assets', '96kn_pop', '96kn_assets','Year', 
                           "Total damage ('000$)", 'Air transport, freight (million ton-km)',
                           'Arable land (hectares per person)', 'Cereal yield (kg per hectare)',
                           'Food production index (2004-2006 = 100)', 'GDP growth (annual %)', 
                           'GDP per capita (constant 2010 US$)', 'Net flows from UN agencies US$', 
                           'Life expectancy at birth, total (years)', 'Mobile cellular subscriptions (per 100 people)',
                           'Population density (people per sq. km of land area)', 
                           'Adjusted savings: education expenditure (% of GNI)',
                           'Rural population (% of total population)', 'Income_level_Final', 
                           'Final_Num_Affected', 
                           'Final_Num_Homeless', 
                           'Final_Num_Injured']]

In [17]:
# Writing to csv the final Dataset to be merged with other dataset from cyclones...

df_cyclones.to_csv(r'Data_output/OUTPUT_WBI_cyclones_merged.csv', index = False, sep = ';')