## Merging WBI dataset with cyclone dataset

In [1]:
import numpy as np
import pandas as pd

In [2]:
#Importing WBI Dataset (the final and cleaned one, called OUTPUT....)
df_WBI = pd.read_csv('Data_output/WBI_final_IL.csv', sep=';', low_memory = False)

In [3]:
#Importing cyclones dataset... 
df_cyclones = pd.read_csv('Data_input/cyclones_omdena_inner.csv', low_memory = False)

In [4]:
df_WBI.head()

,Year,Country Code,Country Name,"Air transport, freight (million ton-km)",Arable land (hectares per person),Cereal yield (kg per hectare),Food production index (2004-2006 = 100),GDP growth (annual %),GDP per capita (constant 2010 US$),Net flows from UN agencies US$,"Life expectancy at birth, total (years)",Mobile cellular subscriptions (per 100 people),Population density (people per sq. km of land area),Adjusted savings: education expenditure (% of GNI),Rural population (% of total population),Income_level_Final
0,1960,ARE,United Arab Emirates,NaN,0.049605,1166.7,4.07,16.526857,103604.9068,0.0,51.537,0.200033,1.419262,NaN,26.500,High
1,1961,ARE,United Arab Emirates,NaN,0.049605,1166.7,4.07,16.526857,103604.9068,0.0,52.560,0.200033,1.419262,NaN,25.617,High
2,1962,ARE,United Arab Emirates,NaN,0.044596,1166.7,4.13,16.526857,103604.9068,0.0,53.573,0.200033,1.578682,NaN,24.752,High
3,1963,ARE,United Arab Emirates,NaN,0.039958,1166.7,4.26,16.526857,103604.9068,0.0,54.572,0.200033,1.761898,NaN,23.907,High
4,1964,ARE,United Arab Emirates,NaN,0.036222,1166.7,4.41,16.526857,103604.9068,0.0,55.555,0.200033,1.943664,NaN,23.081,High

In [5]:
df_cyclones.head()

,SID,ISO,NAME,BASIN,SUBBASIN,NATURE,TRACK_TYPE,ISO_TIME,COORDS,TOTAL_HRS,...,END_DAY,TOTAL_DEATHS,NUM_INJURED,NUM_AFFECTED,NUM_HOMELESS,TOTAL_AFFECTED,RECONSTRUCTION_COST_(000$),INSURED_LOSSES_(000$),TOTAL_DAMAGE_(000$),CPI
0,1842298N11080,IND,NaN,NI,AS,NR,main,"['1842-10-25 06:00:00', '1842-10-25 09:00:00',...","[[10.87, 79.83], [10.84, 79.35], [10.82, 78.88...",21.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1848011S15057,MDG,NaN,SI,MM,NR,main,"['1848-01-13 18:00:00', '1848-01-13 21:00:00',...","[[-23.0, 47.55], [-23.73, 47.17], [-24.5, 46.89]]",6.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1851080S15063,MDG,NaN,SI,MM,NR,spur,"['1851-03-27 06:00:00', '1851-03-27 09:00:00',...","[[-18.9, 49.0], [-18.99, 48.77], [-19.07, 48.5...",21.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1851175N26270,USA,NaN,NaN,GM,TS,main,"['1851-06-26 00:00:00', '1851-06-26 03:00:00',...","[[28.17, -96.8], [28.23, -97.08], [28.3, -97.4...",21.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1851181N19275,MEX,NaN,NaN,GM,TS,main,"['1851-06-30 12:00:00', '1851-06-30 15:00:00',...","[[19.8, -87.7], [19.91, -88.09], [20.0, -88.5]...",21.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
df_WBI.dtypes

Year                                                     int64
Country Code                                            object
Country Name                                            object
Air transport, freight (million ton-km)                float64
Arable land (hectares per person)                      float64
Cereal yield (kg per hectare)                          float64
Food production index (2004-2006 = 100)                float64
GDP growth (annual %)                                  float64
GDP per capita (constant 2010 US$)                     float64
Net flows from UN agencies US$                         float64
Life expectancy at birth, total (years)                float64
Mobile cellular subscriptions (per 100 people)         float64
Population density (people per sq. km of land area)    float64
Adjusted savings: education expenditure (% of GNI)     float64
Rural population (% of total population)               float64
Income_level_Final                                      object
dtype: object

In [7]:
df_cyclones.dtypes

SID                            object
ISO                            object
NAME                           object
BASIN                          object
SUBBASIN                       object
                               ...
TOTAL_AFFECTED                float64
RECONSTRUCTION_COST_(000$)    float64
INSURED_LOSSES_(000$)         float64
TOTAL_DAMAGE_(000$)           float64
CPI                           float64
Length: 88, dtype: object

### Merging datasets

In [8]:
df_cyclones = pd.merge(df_cyclones, df_WBI, how='inner', left_on=['ISO', 'YEAR_MIN'], right_on= ['Country Code', 'Year'])

In [9]:
df_cyclones = df_cyclones.drop(columns = ['Country Code', 'Year', 'Country Name'])

In [10]:
df_cyclones.head()

,SID,ISO,NAME,BASIN,SUBBASIN,NATURE,TRACK_TYPE,ISO_TIME,COORDS,TOTAL_HRS,...,Food production index (2004-2006 = 100),GDP growth (annual %),GDP per capita (constant 2010 US$),Net flows from UN agencies US$,"Life expectancy at birth, total (years)",Mobile cellular subscriptions (per 100 people),Population density (people per sq. km of land area),Adjusted savings: education expenditure (% of GNI),Rural population (% of total population),Income_level_Final
0,1959359S12133,VUT,NaN,SP,MM,TS,main,['1960-01-01 06:00:00'],"[[-15.73, 166.83]]",0.0,...,60.58,-11.399807,2400.682116,0.0,48.975000,0.0,5.390074,7.400000,89.596,Low_Middle
1,1960051S10073,MUS,NaN,SI,MM,TS,main,['1960-02-28 09:00:00'],"[[-20.23, 57.51]]",0.0,...,71.47,6.547619,2404.941914,0.0,58.745220,0.0,335.348276,2.890210,64.889,Low_Middle
2,1960075S12149,AUS,NaN,SI,WA,TS,main,"['1960-03-20 05:00:00', '1960-03-20 06:00:00',...","[[-12.2, 143.14], [-12.2, 143.03], [-12.2, 142...",13.0,...,36.64,2.485789,19378.370790,0.0,70.817073,0.0,1.364565,4.981227,18.471,High
3,1960350S08131,AUS,NaN,SI,WA,TS,main,"['1960-12-23 06:00:00', '1960-12-23 09:00:00',...","[[-16.24, 124.57], [-16.31, 125.37], [-16.37, ...",18.0,...,36.64,2.485789,19378.370790,0.0,70.817073,0.0,1.364565,4.981227,18.471,High
4,1960078S20037,MDG,NaN,SI,MM,TS,main,"['1960-03-22 15:00:00', '1960-03-22 18:00:00',...","[[-19.75, 44.66], [-19.97, 45.25], [-20.1, 45....",18.0,...,46.02,2.048633,818.823759,0.0,39.962000,0.0,8.982302,2.800000,89.358,Low

In [11]:
# Writing to csv the final Dataset to be merged with other dataset from cyclones...

df_cyclones.to_csv(r'Data_output/OUTPUT_WBI_cyclones_merged.csv', index = False, sep = ';')