## Merging WBI dataset with cyclone dataset

In [1]:
import numpy as np
import pandas as pd

In [2]:
#Importing WBI Dataset (the final and cleaned one, called OUTPUT....)
df_WBI = pd.read_csv('Data_output/WBI_Final_IL.csv', sep=';', low_memory = False)

In [3]:
#Importing cyclones dataset... 
df_cyclones = pd.read_csv('Data_input/Master_1504.csv', sep=';', low_memory = False)

In [4]:
df_WBI.sample(3)

,Year,Country Code,Country Name,"Air transport, freight (million ton-km)",Arable land (hectares per person),Cereal yield (kg per hectare),Food production index (2004-2006 = 100),GDP growth (annual %),GDP per capita (constant 2010 US$),Net flows from UN agencies US$,"Life expectancy at birth, total (years)",Mobile cellular subscriptions (per 100 people),Population density (people per sq. km of land area),Adjusted savings: education expenditure (% of GNI),Rural population (% of total population),Income_level_Final
4401,2019,REU,Reunion,NaN,0.059375,4082.043341,92.563376,3.781639,10004.232429,0.000000e+00,74.433937,144.649236,622.642327,4.7700,59.114744,High_Middle
3613,2012,TON,Tonga,NaN,0.175205,NaN,135.470000,0.890323,3729.495033,9.103263e+05,70.242000,54.508113,142.690278,2.9300,76.565000,High_Middle
596,1977,CRI,Costa Rica,18.299999,0.128309,2058.000000,38.510000,8.904474,4845.057228,2.190000e+06,70.182000,0.000000,43.196533,6.7474,57.954000,Low

In [5]:
df_cyclones.sample(3)

,ID,SID,NAME,ISO,Year,BASIN,SUBBASIN,NATURE,TRACK_TYPE,ISO_TIME,...,v_land_kn,34kn_pop,34kn_assets,64kn_pop,64kn_assets,96kn_pop,96kn_assets,Total damage ('000$),CPI,Total Affected
740,741,1993353N05159,NELL,PHL,1993,WP,MM,TS,main,"['1993-12-26 00:00:00', '1993-12-26 03:00:00',...",...,99.4,25742053.0,2.549000e+11,13550264.0,1.237690e+11,65327.0,374432706.0,17000.0,56.504646,366224
818,819,2003158N08156,SOUDELOR,PHL,2003,WP,MM,TS,main,"['2003-06-14 15:00:00', '2003-06-16 15:00:00',...",...,51.8,249392.0,2.677803e+09,0.0,0.000000e+00,0.0,0.0,2455.0,71.955007,127130
984,985,2013282N14132,NARI,VNM,2013,WP,MM,TS,main,"['2013-10-14 18:00:00', '2013-10-14 21:00:00',...",...,85.6,7475539.0,4.618648e+10,3621483.0,2.100473e+10,0.0,0.0,76000.0,91.120794,109754

In [6]:
df_WBI.dtypes

Year                                                     int64
Country Code                                            object
Country Name                                            object
Air transport, freight (million ton-km)                float64
Arable land (hectares per person)                      float64
Cereal yield (kg per hectare)                          float64
Food production index (2004-2006 = 100)                float64
GDP growth (annual %)                                  float64
GDP per capita (constant 2010 US$)                     float64
Net flows from UN agencies US$                         float64
Life expectancy at birth, total (years)                float64
Mobile cellular subscriptions (per 100 people)         float64
Population density (people per sq. km of land area)    float64
Adjusted savings: education expenditure (% of GNI)     float64
Rural population (% of total population)               float64
Income_level_Final                                      object
dtype: object

In [7]:
df_cyclones.dtypes

ID                        int64
SID                      object
NAME                     object
ISO                      object
Year                      int64
BASIN                    object
SUBBASIN                 object
NATURE                   object
TRACK_TYPE               object
ISO_TIME                 object
COORDS                   object
TOTAL_HRS                 int64
DAY_HRS                   int64
NIGHT_HRS                 int64
USA_SSHS                  int64
PRES_CALC_mean          float64
STORM_SPD_mean          float64
STORM_DR_mean           float64
genesis_basin            object
v_land_kn               float64
34kn_pop                float64
34kn_assets             float64
64kn_pop                float64
64kn_assets             float64
96kn_pop                float64
96kn_assets             float64
Total damage ('000$)    float64
CPI                     float64
Total Affected            int64
dtype: object

In [8]:
df_cyclones.shape

(1091, 29)

### Merging datasets

In [9]:
# in cyclones Dataset ISO for SouthAfrica is RSA and should be ZAF
df_cyclones["ISO"]= df_cyclones["ISO"].replace('RSA', 'ZAF')

In [10]:
df_cyclones = pd.merge(df_cyclones, df_WBI, how='left', left_on=['ISO', 'Year'], right_on= ['Country Code', 'Year'])

In [11]:
# drop inherited and not needed columns from df_WBI
df_cyclones = df_cyclones.drop(columns = ['Country Code', 'Country Name'])

In [12]:
df_cyclones.head()

,ID,SID,NAME,ISO,Year,BASIN,SUBBASIN,NATURE,TRACK_TYPE,ISO_TIME,...,Food production index (2004-2006 = 100),GDP growth (annual %),GDP per capita (constant 2010 US$),Net flows from UN agencies US$,"Life expectancy at birth, total (years)",Mobile cellular subscriptions (per 100 people),Population density (people per sq. km of land area),Adjusted savings: education expenditure (% of GNI),Rural population (% of total population),Income_level_Final
0,1,1949163N07145,DELLA,JPN,1949,WP,WP,ET,main,"['1949-06-20 15:00:00', '1949-06-20 18:00:00',...",...,67.79,NaN,8607.657082,0.0,67.666098,NaN,258.911917,2.867878,36.728,Low
1,2,1950241N23140,JANE,JPN,1950,WP,WP,TS,main,"['1950-09-03 03:00:00', '1950-09-03 06:00:00',...",...,67.79,NaN,8607.657082,0.0,67.666098,NaN,258.911917,2.867878,36.728,Low
2,3,1951224N12316,CHARLIE,JAM,1951,NAm,NAm,TS,main,"['1951-08-18 03:00:00', '1951-08-18 06:00:00']",...,69.93,NaN,3796.219401,0.0,64.770000,NaN,152.453647,2.578304,66.231,Low
3,4,1951337N09150,AMY,PHL,1951,WP,WP,TS,main,"['1951-12-09 12:00:00', '1951-12-09 21:00:00',...",...,25.68,NaN,1059.467412,0.0,61.105000,NaN,91.065000,2.757732,69.703,Low_Middle
4,5,1952180N05144,EMMA,PHL,1952,WP,WP,TS,main,"['1952-07-02 12:00:00', '1952-07-02 15:00:00',...",...,25.68,NaN,1059.467412,0.0,61.105000,NaN,91.065000,2.757732,69.703,Low_Middle

In [13]:
df_cyclones.columns

Index(['ID', 'SID', 'NAME', 'ISO', 'Year', 'BASIN', 'SUBBASIN', 'NATURE',
       'TRACK_TYPE', 'ISO_TIME', 'COORDS', 'TOTAL_HRS', 'DAY_HRS', 'NIGHT_HRS',
       'USA_SSHS', 'PRES_CALC_mean', 'STORM_SPD_mean', 'STORM_DR_mean',
       'genesis_basin', 'v_land_kn', '34kn_pop', '34kn_assets', '64kn_pop',
       '64kn_assets', '96kn_pop', '96kn_assets', 'Total damage ('000$)', 'CPI',
       'Total Affected', 'Air transport, freight (million ton-km)',
       'Arable land (hectares per person)', 'Cereal yield (kg per hectare)',
       'Food production index (2004-2006 = 100)', 'GDP growth (annual %)',
       'GDP per capita (constant 2010 US$)', 'Net flows from UN agencies US$',
       'Life expectancy at birth, total (years)',
       'Mobile cellular subscriptions (per 100 people)',
       'Population density (people per sq. km of land area)',
       'Adjusted savings: education expenditure (% of GNI)',
       'Rural population (% of total population)', 'Income_level_Final'],
      dtype='object')

In [14]:
# Dropping unnecessary columns
df_cyclones = df_cyclones.drop(['SID',
                                'TRACK_TYPE',
                                'genesis_basin'], 
                               axis=1)

In [15]:
df_cyclones.columns

Index(['ID', 'NAME', 'ISO', 'Year', 'BASIN', 'SUBBASIN', 'NATURE', 'ISO_TIME',
       'COORDS', 'TOTAL_HRS', 'DAY_HRS', 'NIGHT_HRS', 'USA_SSHS',
       'PRES_CALC_mean', 'STORM_SPD_mean', 'STORM_DR_mean', 'v_land_kn',
       '34kn_pop', '34kn_assets', '64kn_pop', '64kn_assets', '96kn_pop',
       '96kn_assets', 'Total damage ('000$)', 'CPI', 'Total Affected',
       'Air transport, freight (million ton-km)',
       'Arable land (hectares per person)', 'Cereal yield (kg per hectare)',
       'Food production index (2004-2006 = 100)', 'GDP growth (annual %)',
       'GDP per capita (constant 2010 US$)', 'Net flows from UN agencies US$',
       'Life expectancy at birth, total (years)',
       'Mobile cellular subscriptions (per 100 people)',
       'Population density (people per sq. km of land area)',
       'Adjusted savings: education expenditure (% of GNI)',
       'Rural population (% of total population)', 'Income_level_Final'],
      dtype='object')

In [16]:
# Arranging columns

df_cyclones = df_cyclones[['ID', 'NAME', 'ISO', 'Year', 'COORDS','BASIN', 'SUBBASIN', 'NATURE', 'ISO_TIME',
        'TOTAL_HRS', 'DAY_HRS', 'NIGHT_HRS', 'USA_SSHS',
       'PRES_CALC_mean', 'STORM_SPD_mean', 'STORM_DR_mean', 'v_land_kn',
       '34kn_pop', '34kn_assets', '64kn_pop', '64kn_assets', '96kn_pop',
       '96kn_assets', "Total damage ('000$)", 'CPI',
                           
       # adding here features from World Bank Indicators:
       'Air transport, freight (million ton-km)',
       'Arable land (hectares per person)', 'Cereal yield (kg per hectare)',
       'Food production index (2004-2006 = 100)', 'GDP growth (annual %)',
       'GDP per capita (constant 2010 US$)', 'Net flows from UN agencies US$',
       'Life expectancy at birth, total (years)',
       'Mobile cellular subscriptions (per 100 people)',
       'Population density (people per sq. km of land area)',
       'Adjusted savings: education expenditure (% of GNI)',
       'Rural population (% of total population)', 'Income_level_Final',
                           
        # Target label at the end                   
        'Total Affected']]

In [17]:
df_cyclones.sort_values(by = 'ID',ascending=True, inplace=True)

In [18]:
df_cyclones.shape

(1091, 39)

In [19]:
# checking that all rows from cyclones have info from WBI dataset
df_cyclones['Income_level_Final'].isna().sum()

0

In [20]:
# Writing to csv the final Dataset to be merged with other dataset from cyclones...

df_cyclones.to_csv(r'Data_output/OUTPUT_WBI_cyclones_merged.csv', index = False, sep = ';')